[2020-12-23 07:25] akanksha-v commented on #414
Yes @jywarren the list is for all-time FTO authors.

[2020-12-24 14:07] jywarren commented on #414
Ok, do you think it's possible to fetch all from authors in a reusable
function, and have a parameter that lets us select open or closed issues?
Then we can start thinking about the design for how to display them!

I'm happy to help find this code or brainstorm the structure!

On Wed, Dec 23, 2020, 2:25 AM Akanksha Verma <notifications@github.com>
wrote:

[2020-12-25 08:03] riturajjain2000 opened #417 "Request for joining the Organization"
Hello, my name is Rituraj. I am from India.
I Would like to join this organization.
I love to contribute to open source and will love to contribute to this organization.
Please add me to your organization.

[2020-12-26 17:50] YogeshSharma01 commented on #319
Hello there anyone working on this ?

[2020-12-26 19:42] govindgoel commented on #417
Kindly introduce yourself here https://gitter.im/publiclab/publiclab
And do check out code.publiclab.org
Kindly close the issue :)

[2020-12-27 07:07] riturajjain2000 commented on #417
Done !!

[2020-12-27 07:08] #417 closed

[2020-12-28 17:51] jywarren commented on #319
We'd love help with it if you'd like to -- how might this look, can we try
to brainstorm a sketch or mockup? Thanks! What if we started minimally like
the navbar in https://unterbahn.com ?

On Sat, Dec 26, 2020 at 12:50 PM Yogesh Sharma <notifications@github.com>
wrote:

[2020-12-29 15:19] YogeshSharma01 commented on #319
@jywarren yeah we can start with this minimally like the navbar in https://unterbahn.com

[2020-12-29 15:24] YogeshSharma01 commented on #319
And I would like to work on this just let me know that what all navigation sections should be added in the navbar,  like about, contact etc.

[2020-12-29 15:39] jywarren commented on #319
Ok, awesome - well, what are the different headers that go down the page?
We can add an anchor to each one. I wonder if we can also have some be
navbar items but others just fold away under a "more" option? We are using
Bootstrap so there are some different nav design options:

https://getbootstrap.com/docs/4.4/components/

Thank you! What do you think?

On Tue, Dec 29, 2020 at 10:24 AM Yogesh Sha

[2020-12-30 07:35] YogeshSharma01 commented on #319
Hi, @jywarren according to you I come up with a sketch where all the important sections of the page are in the header. So, just click on which section a user want to go and all other important links I have folded into more section ... but as what I think is it is more of learning page especially for first-timers so here in this second sketch I have mention all the links and important sections of t

[2021-01-01 15:35] YogeshSharma01 commented on #319
Hi @jywarren What do you think about which one I should start work on?

[2021-01-05 16:52] YogeshSharma01 commented on #319
I give a pull request, please review @jywarren

[2021-01-05 16:58] YogeshSharma01 commented on #337
Hi, @akanksha-v You working on this?

[2021-01-05 19:33] akanksha-v commented on #337
@YogeshSharma01 you can work upon this

[2021-01-06 07:21] YogeshSharma01 commented on #337
@akanksha-v Ok cool!

[2021-01-07 19:47] YogeshSharma01 commented on #337
hi, @govindgoel we can fetch the name of the repo, the link, and the language for all the repository in the public lab by using GitHub API.
We can use that data to display the hyperlinked name and the corresponding language for that repo. All this data in this section can be displayed just like the FTO issues one right below it. The user will be able to go to that repo directly by clicking on the

[2021-01-08 23:59] jywarren commented on #319
Hi my apologies, can you link me to the pull request? I've been very busy and so sorry to be slow replying here.

[2021-01-09 00:00] jywarren commented on #319
I guess I think we shouldn't have too many top-level menu items because its a bit overwhelming. So, I like the second mockup!

[2021-01-09 03:33] YogeshSharma01 commented on #319
Hi, @jywarren link https://github.com/publiclab/community-toolbox/pull/420

[2021-01-09 16:02] YogeshSharma01 commented on #337
@govindgoel, @akanksha-v what do you think about it?

[2021-01-09 16:07] govindgoel commented on #337
@YogeshSharma01 yeah it can be done, I was thinking of an approach where language can be specified somewhere else as it may look crowded at this place.

[2021-01-09 17:39] YogeshSharma01 commented on #337
hi, @govindgoel no I don't think it would be crowded like the repo name with the link of that particular repo will be set at the left corner in the language section and the language is used in that particular repo will be placed at the right corner and we can also use some special icons to represent the language used in the repo. if you have thought of something else, please do recommend it.

[2021-01-09 18:04] govindgoel commented on #414
I will look at it now was occupied with academics, and update it here asap.

[2021-01-15 18:41] YogeshSharma01 commented on #337
Hi, @govindgoel what do you think? Do we need to add anything more?

https://user-images.githubusercontent.com/51679200/104765656-3cfbb200-578f-11eb-935f-12c795de4e15.mov

[2021-01-15 18:45] YogeshSharma01 commented on #319
Hi, @jywarren have you review my changes?

[2021-01-15 18:56] YogeshSharma01 commented on #337
![Language-Image](https://user-images.githubusercontent.com/51679200/104766998-77664e80-5791-11eb-920e-602cc0a00ecd.png)

[2021-01-16 12:34] YogeshSharma01 commented on #337
I give a pull request, please review @govindgoel
link to pull request #422

[2021-01-16 14:43] govindgoel commented on #337
It seems crowded and will lead to more scrolling, it would be great if we
can find a way to show the language with respect to the repo name in the
dropdown.

Warm Regards,
Govind Goel

[2021-01-16 18:53] YogeshSharma01 commented on #337
Hi, @govindgoel

https://user-images.githubusercontent.com/51679200/104820304-e27b5800-5859-11eb-9f3f-c3ef6c39221b.mov

What do you think is this fine? Now we don't need to scroll the Language-section and also it don't look crowedy now.

[2021-01-20 08:09] YogeshSharma01 commented on #337
Hi, @govindgoel please review the changes I have updated the changes.
link to pull request https://github.com/publiclab/community-toolbox/pull/422

[2021-01-23 20:51] YogeshSharma01 commented on #337
Hi, @govindgoel  please review
link to pull requests https://github.com/publiclab/community-toolbox/pull/422, https://github.com/publiclab/community-toolbox/pull/420

[2021-01-27 16:33] YogeshSharma01 commented on #414
Hi, @govindgoel  can I work on this?

[2021-01-28 10:13] govindgoel commented on #414
@YogeshSharma01 I am probably working on it will push the changes asap.

[2021-01-28 10:20] govindgoel opened #423 "different pages to display content"
### Please describe the problem (or idea)

As we have a navbar to be added in this #420  so we can think of displaying data on different routes as of navbar, this will surely reduce scrolling on the main page and also it will be more relevant.

Example:
code.publiclab.org/contrib
code.publiclab.org/fto

Like this, and adding about the community, open-source practises on the main page.
@jywarren
**

[2021-01-28 17:26] YogeshSharma01 commented on #414
Yeah Sure

[2021-01-29 18:36] jywarren commented on #337
Hi, I'm sorry I missed this conversation! I really appreciate it. However, i wonder if we need to put this section at the bottom of the page and link down to it from the new navbar. Because we really want people to be able to see the first-timers-only issues as close to the top as possible!

Another possibility is that in the first-timers-only issues explanation text, as shown below the header in

[2021-01-29 18:49] YogeshSharma01 commented on #337
Hi, @jywarren that sounds awesome ok I'll place this section at the bottom of the page and add the line "You can also sort by language" which then links down to the languages section.
Thanks
warm regards
Yogesh Sharma

[2021-01-29 19:06] YogeshSharma01 commented on #337
@jywarren review the changes ...

https://user-images.githubusercontent.com/51679200/106316610-08a9ea80-6293-11eb-8f1c-673fd8edcd37.mov

[2021-01-30 00:15] jywarren commented on #337
This looks great! One more request though -- can we add the text description "Hover over each project to see what languages it uses"? I might prefer a visible label though because this won't work in mobile, you know? But, tell me what you think! Could we add labels in this style, maybe?

![image](https://user-images.githubusercontent.com/24359/106339997-4f352000-6266-11eb-96fc-7de2286bfc3f.png)

I

[2021-01-30 09:04] eynglv commented on #315
@jywarren hi! could i take this bug?

[2021-01-30 16:48] YogeshSharma01 commented on #337
Hi @jywarren, Yes you're right it won't work on mobile we can add labels in this style like repo name at left corner and the language used at right side.
![Lang-label](https://user-images.githubusercontent.com/51679200/106362468-f8ecdd80-6348-11eb-8ff3-12ec28dc281e.gif)
what do you think ?

[2021-01-30 17:13] YogeshSharma01 commented on #423
Hello @govindgoel  and @jywarren I think we can do this for the contributor's section and the language section of the page

[2021-01-30 19:23] YogeshSharma01 commented on #395
Hi, @Suiiyush You still working on this?

[2021-01-30 19:26] YogeshSharma01 commented on #261
Hi, @jywarren and @Rishabh570 @DevanshCodes  anyone working on this?

[2021-01-30 19:27] YogeshSharma01 commented on #197
Hi, guys anyone working on this?

[2021-01-31 04:34] Suiiyush commented on #395
@YogeshSharma01 Hey, no I have had no response from the mentors so Iam not working on it.

[2021-01-31 12:04] govindgoel commented on #423
I will make a mockup and share it here and will start working on it and see what else can be done.

[2021-01-31 16:05] YogeshSharma01 commented on #169
Hi, @jywarren and @subhahu123 is anyone working on this?

[2021-01-31 16:08] govindgoel commented on #169
@YogeshSharma01 do you have any idea how to implement this.

[2021-01-31 16:10] govindgoel commented on #233
Closing this as it is fixed.

[2021-01-31 16:10] #233 closed

[2021-01-31 16:12] govindgoel commented on #337
@jywarren  I have another idea to implement this, we can think of displaying it in the dropdown list of repo's itself then there will be no need for a new section.

[2021-01-31 16:29] YogeshSharma01 commented on #337
@govindgoel like we can do that but I think it would look crowded like all the repo names within a single dropdown? can use please show some mockup or sketch something like that brother?

[2021-01-31 17:49] YogeshSharma01 commented on #395
Ok, @Suiiyush I'll ask about this on slack thanks.

[2021-01-31 18:13] YogeshSharma01 commented on #395
Hi, @jywarren, @ebarry, @sagarpreet-chadha, and @cesswairimu I think the image needs to be placed just above the Learn our process section. here is the sample Video, please review.

https://user-images.githubusercontent.com/51679200/106393573-e7293a00-641d-11eb-8918-91b7c0a34b77.mov

[2021-02-02 15:30] jywarren commented on #395
Hi! I like this! Perhaps we could use simply `border-radius: 8px` CSS for the rounded corners effect?

Also, I think this may best go at the bottom of the page, so as not to push down other critical content. What do you think?

[2021-02-02 15:32] jywarren commented on #423
I'm not against a long scrolling page, as long as our navbar can get us to anchor points like `#fto` and `#contibutors` -- how well do you think this works currently, and do you think there are further refinements we can make along those lines?

See how a very long page with anchors works here: https://getbootstrap.com/docs/4.4/components/navs/

What do you think?

Thank you!!!

[2021-02-03 02:48] YogeshSharma01 commented on #395
hi, @jywarren  border-radius: 8px is fine. Ok I'll set it at the bottom but it tells about the Public Lab code ecosystem, and under the photo, I'll add some text related to this cause at the bottom it would look faded and here it bends with Learn our process in the web page. What do you think, should I set it at the bottom of the page or here only?

[2021-02-03 18:10] YogeshSharma01 commented on #395
Hi, @jywarren please review PR https://github.com/publiclab/community-toolbox/pull/424
![eco-code](https://user-images.githubusercontent.com/51679200/106790114-1ab3d080-6679-11eb-8a57-87eccb25d0bb.png)

[2021-02-05 13:17] jywarren commented on #315
Hi, we'd love your help!!!

On Sat, Jan 30, 2021, 4:04 AM eynglv <notifications@github.com> wrote:

[2021-02-08 10:52] YogeshSharma01 commented on #423
Hi, @govindgoel have you start working on this?

[2021-02-08 11:02] YogeshSharma01 commented on #310
Hi, @nstjean @somenath1435 @aashimgarg and @sunguru98 can I work on this?

[2021-02-08 11:09] YogeshSharma01 commented on #197
Hi, @Rishabh570 can I work on it?

[2021-02-10 15:37] jywarren commented on #261
Hi all, i think we'd love help with it @YogeshSharma01 - thanks!

[2021-02-10 15:38] jywarren commented on #337
Hi @YogeshSharma01 i like your last design, let's give it a try! @govindgoel i appreciate your idea as well; one way we could do this is to consider having this selection show only the top 3-5, and have a button that says "See all" or "Expand to see all" which opens the full box. What do you think?

[2021-02-10 15:39] jywarren commented on #169
We'd love help with this. I think it may take some pretty significant API work -- looking at existing code in this repo plus a close look at the GitHub API to see what calls would be necessary!

[2021-02-10 16:34] govindgoel commented on #169
@jywarren I have an idea, we can retrieve the username from the API's mentioned below and append all unique username, and then list similarly as FTO authors.

Here is an example of GitHub API for retrieving a member who commented on a PR.

This is an example of GitHub API for retrieving a member who reviewed a PR

[2021-02-10 17:41] jywarren commented on #169
That looks great! Shall we split this in two for commenters vs. reviewers,
or just make 2 calls and merge? Thanks!

On Wed, Feb 10, 2021 at 11:34 AM Govind Goel <notifications@github.com>
wrote:

[2021-02-10 17:58] govindgoel commented on #169
I think we should split these and list them as sometimes a comment can just be for assigning or closing the issue.

[2021-02-11 17:36] jywarren commented on #169
OK, that's great then. Let's start with just reviewers, shall we?

[2021-02-17 22:41] jywarren opened #427 "migrate from Travis CI to Github Actions for automated tests"
We need to migrate from Travis CI to Github Actions and get those checks and tests running again! Just like we did here:

https://github.com/publiclab/leaflet-environmental-layers/pull/503

[2021-02-19 05:04] SumaiyaSafdar commented on #197
hello @Rishabh570 can I contribute to it. I'm a noob to open source  and I really want to contribute to it. Hope for a reply. Thanks .

[2021-02-20 07:43] YogeshSharma01 commented on #337
Hi, @jywarren and @govindgoel sorry for the late reply actually I was busy with my exams Please review this.

https://user-images.githubusercontent.com/51679200/108588095-66ef5800-737d-11eb-8c91-3d629e8f1417.mov

[2021-02-22 14:51] SharmaTanish commented on #197
Hi @Rishabh570 ! I am very exited to work on this issue , if it is still open . I have learnt web development from coding ninjas and all my basic concepts are clear . I am very hardworking and have scored 94.2% in 12th . You can also go through my linkedIn profile - https://www.linkedin.com/in/tanish-a54b771b3 .
Looking forward for your reply .

[2021-02-25 08:36] YogeshSharma01 commented on #261
Hi @jywarren and @Rishabh570  I am a bit confused about what all issues should be added in the Hall of Fame section. If you can elaborate a little on it; that would be a big help.
And like do we only fetch the issues of community-toolbox or all the public lab repos issue?

[2021-02-25 17:40] YogeshSharma01 commented on #427
Hi, @jywarren I would like to work on this.

[2021-02-26 07:30] YogeshSharma01 commented on #267
Hi, @wisniewski94  You working on it?

[2021-02-26 17:47] Swayamsvk commented on #427
Hi, @jywarren I am quite new to testing but I have tried my best please check this pr and tell me if anything else is required.

[2021-02-27 11:37] Swayamsvk commented on #427
Actually, I have pushed the main branch accidentally and I have to revert all those changes but this is the exact copy of the previous pull request I have created a separate branch and pushed it. It may work now please check.And I am really sorry for my mistake.

[2021-02-27 16:23] jywarren commented on #427
Hi, it's no problem, but I think due to the security issues i noted in #429, it's not running the checks. If you'd like, you can close your PR but I can open a new PR using your commits, so it's my security credentials... hopefully that would work!

[2021-02-27 16:42] jywarren commented on #257
OK, we've made the label! https://github.com/publiclab/plots2/labels/hall-of-fame

[2021-02-27 16:43] jywarren commented on #261
Hi @YogeshSharma01 i'm going to merge this into #257 as there's more info there. Thank you!!!!

[2021-02-27 16:43] #261 closed

[2021-02-27 16:43] jywarren commented on #257
Adding mockup idea from @Rishabh570 -- thanks!

![image](https://user-images.githubusercontent.com/24359/109393652-074efa80-78f1-11eb-8b87-60b4af8a0657.png)

[2021-02-27 16:46] jywarren commented on #257
And i believe we should try to get these for all such labeled issues across the org, just like we do here for the `first-timers-only` issues:

https://github.com/publiclab/community-toolbox/blob/8b2530f2a7c7d9da696fc4e9ed1fda6a87ea341b/examples/demo.js#L57-L58

[2021-02-27 18:27] Swayamsvk commented on #427
ok I will close it

[2021-02-28 12:10] Swayamsvk commented on #315
Is anyone working on this issue? Or else I want to work on this.

[2021-03-02 17:59] YogeshSharma01 opened #433 "Dependency-Chart-need-to-add-in-Navbar"
As we have a navbar now and a Dependency chart as well, So I think we should add a Dependency chart in the navbar.

 Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

[2021-03-02 19:34] YogeshSharma01 commented on #433
Hi, @jywarren I have added this Dependency Chart under the Learn tab in the Navbar as this picture shows the Publiclab code ecosystem.

https://user-images.githubusercontent.com/51679200/109693594-da7c3b00-7baf-11eb-98eb-959fe23a8f8f.mov

Please review PR https://github.com/publiclab/community-toolbox/pull/434

[2021-03-02 20:11] jywarren commented on #427
trying in #435... sorry @Swayamsvk for the trouble here, i really am not sure what's going on!

[2021-03-02 20:13] jywarren commented on #427
Oh wait!!! I found it! Here! https://github.com/Swayamsvk/community-toolbox/runs/1989504430?check_suite_focus=true

It ran on the forked repo, because https://github.blog/2020-08-03-github-actions-improvements-for-fork-and-pull-request-workflows/

OK trying this...

[2021-03-02 20:15] jywarren commented on #427
OK I was able to merge it at https://github.com/publiclab/community-toolbox/pull/435 and you got credit! Thank you so much!!!!

[2021-03-02 20:15] #427 closed

[2021-03-02 20:19] Swayamsvk commented on #427
Thanks @jywarren

[2021-03-02 21:40] jywarren commented on #315
Please go ahead, and if @eynglv wishes we can find a new one!

[2021-03-03 01:41] eynglv commented on #315
I had trouble with the API overloading (probably for general users)!

[2021-03-03 18:17] jywarren commented on #315
ah, that can definitely happen, unfortunately. We just need to wait a bit
to try again! This is why we do so much caching locally.

On Tue, Mar 2, 2021 at 8:41 PM eynglv <notifications@github.com> wrote:

[2021-03-21 12:03] YogeshSharma01 opened #440 "Navbar-formatting-fix"
The issue was introduced while resolving conflicts in PR https://github.com/publiclab/community-toolbox/pull/422.

These are the issues that have found out.

1. There is duplicate code for the navbar and the headings of FTO and Contributors sections.
2. CSS file had a missing parenthesis due to which the whole page was misaligned.

![image ](https://user-images.githubusercontent.com/51679200/11190

[2021-03-21 14:30] YogeshSharma01 commented on #440
Hi, @jywarren  I have fixed this please review https://github.com/publiclab/community-toolbox/pull/441

https://user-images.githubusercontent.com/51679200/111908621-ead15880-8a7f-11eb-9ad2-c3e971172e4f.mov

#441

[2021-03-22 15:42] waridrox opened #442 "Discussion on non-functional nature for website on local dev environment"
### Please describe the problem (or idea)

While testing the website for development, I ran into a problem where the data could not be fetched and displayed. This could possibly be due to some rate limit on the API that is fetching a lot of data on each reload if I'm not mistaken 🤔 or maybe this issue is specific to me.

The waiting time to restore the functionality is not great either and possibl

[2021-03-22 16:42] waridrox opened #443 "Fixing inconsistencies in dark mode"
### Please describe the problem (or idea)

Currently, when a user switches from light to dark theme, the images also lose their respective colors and turn into greyscale. This looks very inconsistent and dull, considering that on one hand we display the colors in light theme but on the other, we don't plus image section titled '**FTO Authors**' and '**first-timer-only issues**' simply inverts the

[2021-03-22 17:30] waridrox opened #444 "Removing 'Fork me on Github' ribbon for mobile devices"
### Please describe the problem (or idea)
For mobile screens that have such small screen real estate to begin with, the **Fork me on Github** ribbon takes almost 30% of the screen size and continues till the end of the page.

Before the fix
<img width="301" alt="Screenshot 2021-03-22 at 10 52 03 PM" src="https://user-images.githubusercontent.com/58583793/112031639-92728780-8b61-11eb-8ed3-e6e2c0c04

[2021-03-26 12:30] YogeshSharma01 commented on #442
Hi, @waridrox this issue is fixed now.
#441
Thanks

[2021-03-26 12:32] YogeshSharma01 opened #446 "Add language section link in the Navbar"
As we have our Navbar and Language section merged, but we need to connect them.
So, we need to add this language section in the navbar in the participants' tab.

 Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be resolved, see:

https://publiclab.org/wik

[2021-03-26 12:41] YogeshSharma01 commented on #446
Hi, @jywarren I have added the language section into the navbar

https://user-images.githubusercontent.com/51679200/112632763-8f77df80-8e5e-11eb-93f3-9da1d738d6d7.mov

Please Review PR https://github.com/publiclab/community-toolbox/pull/447

[2021-03-27 04:38] waridrox commented on #442
Hi @YogeshSharma01, in this issue, I'm not  talking about the duplicate navbar that was fixed in the pr but the non-availability of the content regarding issues, contributors list etc due to rate limit on API or db in local dev environment. Do you face the same issue or do we have to put our GitHub API token in a .env file to make it work ? 😅

[2021-03-27 06:58] govindgoel commented on #442
@waridrox No you don't have to do that can you check in the network tab what is happening probably. Ideally, it fetches the data there is no issue.

[2021-03-27 06:59] govindgoel commented on #444
@waridrox That is there for a reason to easily navigate to the project.

[2021-03-27 07:02] govindgoel commented on #443
@waridrox I can't reproduce the issue, and it existed very earlier this has been already fixed.

[2021-03-27 07:04] #433 closed

[2021-03-27 07:07] govindgoel commented on #440
Closing this as it has been fixed in #441

[2021-03-27 07:07] #440 closed

[2021-03-27 07:08] waridrox commented on #443
@govindgoel I believe it's still prevalent on the official website at https://code.publiclab.org/

[2021-03-27 07:16] waridrox commented on #444
Agreed, but in mobile view, there's already a github logo down at the bottom which directs to the codebase. And someone navigating on mobile device would rarely open the github repo to see the codebase, so I think it would make sense to hide it for small screen resolutions...🤔

<img width="312" alt="Screenshot 2021-03-27 at 12 40 46 PM" src="https://user-images.githubusercontent.com/58583793/11271

[2021-03-27 07:43] govindgoel commented on #444
For only a small screen size, we can think of that.

[2021-03-27 07:45] govindgoel commented on #446
Can close this as it is implemented in #447, just to check @YogeshSharma01 can you verify that the changes are working fine in dark mode as well.

[2021-03-27 10:24] YogeshSharma01 commented on #446
Hi, @govindgoel yes it is working fine in dark mode as well.

[2021-03-27 17:10] #446 closed

[2021-03-27 17:30] govindgoel opened #448 "Implementing a carousel with info of our projects"
### Please describe the problem (or idea)
Implementing a carousel with info of the projects where the dependency chart is added.
<img width="1440" alt="Screenshot 2021-03-27 at 10 58 42 PM" src="https://user-images.githubusercontent.com/52847415/112729047-35574700-8f50-11eb-900d-a2b3b33d823a.png">

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and imp

[2021-03-27 17:31] govindgoel commented on #448
@jywarren Can you please give your opinion.

[2021-03-27 17:35] govindgoel commented on #443
@waridrox It seems fine

<img width="1143" alt="Screenshot 2021-03-27 at 10 41 00 PM" src="https://user-images.githubusercontent.com/52847415/112728489-8d407e80-8f4d-11eb-85dd-42de1f65b6e8.png">

<img width="1149" alt="Screenshot 2021-03-27 at 11 04 47 PM" src="https://user-images.githubusercontent.com/52847415/112729173-d8a85c00-8f50-11eb-8ada-fd99d397a16d.png">

[2021-03-27 18:38] waridrox commented on #443
Yeah, now it seems to be fixed. 👍

[2021-03-27 18:38] #443 closed

[2021-03-27 18:50] karthikshetty03 commented on #448
@govindgoel  Can I work on this issue?

[2021-03-27 18:54] govindgoel commented on #448
@karthikshetty03 It has to be reviewed first.

[2021-03-27 19:02] waridrox commented on #448
How about making the whole diagram interactive and implementing hoverable circles like this...

https://user-images.githubusercontent.com/58583793/112731228-fdee9780-8f5b-11eb-9dae-717412a7f380.mp4

and then we can also link the circles to respective github repos wherever applicable...

[2021-03-27 19:45] govindgoel commented on #448
@waridrox we can also do that, what I thought is to provide short info regarding the projects.

[2021-03-30 16:06] jywarren commented on #448
Hi all! I wonder - is it possible to pull project descriptions from the GitHub API? I think this is an interesting idea and could take some more discussion and research. I'm a bit more inclined to think about adding project descriptions into the list of projects by language than to take on a more complex interactive visualization within the scope of this project.  We don't want an overwhelming amo

[2021-03-30 16:17] jywarren commented on #315
This may also be relevant for other sub-sections!!! A dropdown with "past week" "past month" and more options would be amazing for any section of contributors OR issues!

[2021-03-30 16:20] jywarren opened #450 "Add time filters for different lists - for contributors, FTO authors, FTO issues, FTO candidates"
A dropdown with "past week" "past month" and more options would be amazing for any section of contributors OR issues!

This could be brainstormed a bit, then broken out into sub-issues. I think this, with good tests, is probably our leading priority!

_Originally posted by @jywarren in https://github.com/publiclab/community-toolbox/issues/315#issuecomment-810395665_

[screenshot](https://user-imag

[2021-03-30 16:24] waridrox commented on #448
Yes @jywarren , I think it's possible to pull descriptions, here's a glimpse of the same 😄

<img width="1280" alt="desc" src="https://user-images.githubusercontent.com/58583793/113022512-50b99080-91a2-11eb-85bd-76eb8f2bc057.png">

[2021-03-30 16:46] jywarren commented on #414
Hi folks - i also opened a bigger issue around adjustable timeframe filters in #450 related to this. Thank you!!!

[2021-03-30 20:22] jywarren commented on #450
Noting this already exists for "Recent contributors" --

![image](https://user-images.githubusercontent.com/24359/113051607-2c46bf80-9174-11eb-9fba-81eb430d08a1.png)

[2021-04-06 14:22] jywarren commented on #448
Oh, that's great. Shall we perhaps change the title to something like
"Expanding per-project info with descriptions"?

On Tue, Mar 30, 2021 at 12:24 PM Mohammad Warid ***@***.***>
wrote:

[2021-04-06 14:28] govindgoel commented on #448
@jywarren Yeah I think that will be great to implement with this title

[2021-04-19 15:00] jywarren opened #456 "Contributors section gets stuck with a spinner, no images"
### Please describe the problem (or idea)

Sometimes (esp after reloading the page a few times) we get just a spinner for this section:

![image](https://user-images.githubusercontent.com/24359/115254945-d5d9fa80-a0fb-11eb-8845-3cc742138fbc.png)

The JS console shows we've gone over our API limit:

https://code.publiclab.org/#r=all

## Analysis

I bet we have some data already cached and we're jus

[2021-04-22 19:24] RuthNjeri commented on #395
Done in #424

[2021-04-22 19:24] #395 closed

[2021-04-22 19:26] #108 closed

[2021-04-27 15:06] first-timers[bot] opened #460 "Add permalink to Recent Contributors section"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2021-04-27 15:12] jywarren opened #461 "Add "permalink" anchor links to page subsections"
We have a nice menu now to link down to subsections on the page, using `id` attributes and URL hashes, like this:

https://code.publiclab.org/#fto-author

The code for the menu looks like this:

https://github.com/publiclab/community-toolbox/blob/eeecfa61f4f2187464c7f7936f4ac5473a3e182e/index.html#L79-L82

Let's make each header into a link as well, so they're easy to "deep link" to, so you get ri

[2021-04-27 17:09] swetshaw commented on #460
Hi I would like to take this issue. Please give me confirmation to raise a pull request.

[2021-04-27 19:47] TildaDares commented on #461
@jywarren I'd love to work on this.

[2021-04-27 22:15] jywarren commented on #461
We'd love your help with it! Did you want to try to install it and make the
change as described, and see if it indeed breaks the counting systems?
Thanks!!!

On Tue, Apr 27, 2021, 3:47 PM Tilda Udufo ***@***.***> wrote:

[2021-04-28 01:13] TildaDares commented on #461
@jywarren I replaced this https://github.com/publiclab/community-toolbox/blob/main/src/UI/issuesUI.js#L37 with

`$('#stale-head').html('<a href="#stale-head">Stale Issues ('+issuesLen+'+)</a>');`

The change does not break the count functionality

https://user-images.githubusercontent.com/63427719/116331209-2a9a0700-a7c7-11eb-8482-bac467cf1291.mov

[2021-04-28 03:57] jywarren commented on #461
Oh that's awesome!!! Would you like to open a PR for this? Your solution
looks really good.

On Tue, Apr 27, 2021 at 9:13 PM Tilda Udufo ***@***.***>
wrote:

[2021-04-28 09:46] TildaDares commented on #460
@swetshaw Go ahead

[2021-05-03 00:43] waridrox commented on #456
The rate limiting is also observed on the local environment which makes it hard to test the website in the first place. @jywarren I think we should start with investigating the number of requests that are being made per page refresh and look for the possible optimisations...

[2021-05-04 06:21] ahcodes commented on #460
Hi, can I claim this? A newbie contributor here.

[2021-05-04 20:23] jywarren commented on #456
We've unfortunately discussed the idea of a token before, and we really want this to be able to run purely client-side. What we could do is think of a way to add a token for developer usage, to make debugging easier.

But we can also start with (3) above and just display an appropriate message when we get such an error back, which would do a lot to make the issue more transparent to the user.

The

[2021-05-06 07:45] vivek80801 commented on #197
Hello,

This issue is now 1 year old. There is no assignees for this issue. If issue is already solved. Please close this issue.

Thanks for your time.

[2021-05-07 16:10] daemon1024 commented on #450
Just noting, we can leverage the `since` parameter for fetching them accordingly. https://docs.github.com/en/rest/reference/issues#list-organization-issues-assigned-to-the-authenticated-user.

Or would it be better to fetch them all and just filter them out. I believe that's how it is happening right now in `recent-contributors`

[2021-06-09 22:19] YogeshSharma01 commented on #456
Hi, @jywarren How are you?
I would like to work on this.

[2021-06-09 22:21] YogeshSharma01 commented on #450
Hi, @jywarren and @daemon1024  how are you both?
I would like to work on this issue.

[2021-06-10 13:00] jywarren commented on #450
Hi @YogeshSharma01 we'd love your help! Thank you!

[2021-06-10 13:01] jywarren commented on #456
Thank you, that would be wonderful!

On Wed, Jun 9, 2021, 6:19 PM Yogesh Sharma ***@***.***> wrote:

[2021-07-02 05:27] unnati914 commented on #281
is this issue still needs help?

[2021-07-03 22:34] jywarren commented on #281
Hi, Unnati, I think this one may be quite a big project. Would you be at
all interested in helping on this set of projects?
https://github.com/publiclab/spectral-workbench/issues/673

On Fri, Jul 2, 2021 at 1:27 AM Unnati ***@***.***> wrote:

[2021-07-04 07:50] unnati914 commented on #281
sure will look into it
Thank you :)

[2021-07-26 11:55] prathamesh-borse commented on #460
Is this issue still open, I would like to contribute to this issue?

[2021-07-26 11:59] prathamesh-borse commented on #197
Is this still open I want to contribute to this issue as this issue is first-timers only?

[2021-09-05 20:43] dth99 opened #491 "How Can I join Publiclab community"

[2021-09-14 09:32] #491 closed

[2021-10-01 14:21] chicken-biryani opened #502 "Update the Issue Template."
### Please describe the problem (or idea)

The current issue template is outdated.

An updated issue template by modifying the .github folder [(here)](https://github.com/publiclab/community-toolbox/tree/main/.github) and make it similar to the issue template in the plots2 repository [(here)](https://github.com/publiclab/plots2/tree/main/.github).

**TO DO:**

Create the ISSUE_TEMPLATE folder over

[2021-10-03 12:13] JosefineFH commented on #460
I would like to try out this issue? It is my first time.

[2021-10-12 12:27] nshah1729 commented on #460
is this issue still open and if it is , then please assign it to me

[2021-10-25 14:33] prius2055 opened #510 "Change labels after issues have been resolved"
**Changing the label of an issue after the issue has been resolved**

This will make searching for issues much easier

After issues had been handled the labels on them should be changed or removed

### Please show us where to look
In the issue section. Issues that have been resolved still have their old labels like 'help-wanted', etc.
![label-image](https://user-images.githubusercontent.com/635770

[2021-10-28 19:59] Devesh21700Kumar opened #512 "UI change in Languages used section"
### Issue

Instead of

![image](https://user-images.githubusercontent.com/59202075/139326475-d1f66c26-f771-4bea-a0db-a8f6d4bc2f9b.png)

we can remove the scroll tracks by removing overflows set to scroll and a proper color can be used for padding instead of this

Example

![image](https://user-images.githubusercontent.com/59202075/139326696-d6ff223b-a089-4bae-ad74-b55c6ba28220.png)

Similar to thi

[2021-11-02 09:37] Chanaros123 commented on #197
Hi i am new to open source looking for opportunity please guide

[2021-11-28 21:29] theom95 commented on #460
Looks like this is still open? Working on it if so

[2021-11-28 22:15] theom95 commented on #460
https://github.com/publiclab/community-toolbox/pull/514 @publiclab/reviewers just submitted this. Looks like I can't run tests without prior approval but otherwise I think everything is complete

[2021-11-29 06:22] TildaDares commented on #460
Hi everyone, a PR has been opened for this issue in #464. Thank you!

[2022-01-11 09:48] GuptaTanisha commented on #310
Hi @nstjean Can I work on this?

[2022-01-11 09:51] GuptaTanisha commented on #510
Hi @prius2055 Can I work on this?

[2022-01-21 08:10] shubhayu09 commented on #512
Hey @Devesh21700Kumar ,
I agree with your point, the UI of this language section needs to be updated so that it will look better.
But where to fix this issue, in index.html file or from somewhere else?

[2022-03-01 05:57] FideosConTuco commented on #460
Hi. Is this issue still open? If it is then can you assign it to me?

[2022-03-01 07:14] TildaDares commented on #460
Hi @FideosConTuco, this issue has been resolved in #464. If you’d like to be assigned to an FTO, leave a comment in publiclab/plots2#10153 and one will be assigned to you.

[2022-03-01 10:09] #460 closed

[2022-03-28 12:58] PeculiarE opened #540 "Fix Support Label link in Navbar"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before.**

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-03-28 13:53] PeculiarE commented on #540
Hello @TildaDares, @cesswairimu @jywarren. So I noticed an issue on the community-toolbox website and created this FTO issue using the provided template.

Can I go ahead to work on it? Thank you!

[2022-03-28 13:54] TildaDares commented on #540
This is perfect @PeculiarE. Thank you!!

[2022-03-28 13:55] TildaDares commented on #540
Usually, FTOs are created for other people but you can go ahead and work on it. Thanks!

[2022-03-28 13:58] PeculiarE commented on #540
Thank you, Tilda. Will create a PR shortly.

So yeah, I wanted to test out how to use the FTO template because I intend creating a couple of FTO issues for other contributors.

[2022-03-28 15:12] PeculiarE opened #542 "Fix Spelling of "Recent Contributors" Permalink on Navbar"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before.**

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-03-29 17:25] jywarren commented on #542
It looks super! Thank you! Noting the exact change is in the spelling from `contributer` to `contributors`. (it took me a second to notice!)

Great work!

[2022-03-29 17:51] PeculiarE commented on #542
Thank you! @jywarren

[2022-03-29 18:05] AnanyaGarg28 commented on #542
Hi, I would like to work on this issue. Please assign it to me! I am proficient with HTML, CSS, Bootstrap, JS and Nodejs. I am new to open-source and I would love to work on this FTO. Thanks!

[2022-03-29 18:11] PeculiarE commented on #542
Hello @AnanyaGarg28.....this issue has already been assigned to/reserved for @adeola-dev. You can head over here to request for an FTO issue to be assigned to you: https://github.com/publiclab/plots2/issues/10153. Thank you!

[2022-03-29 18:12] TildaDares commented on #542
Reserved for @adeola-dev

[2022-03-29 18:14] AnanyaGarg28 commented on #542
Alright, thanks!

[2022-03-30 14:13] adeola-dev commented on #542
Thanks so much, I would work on it right away.

[2022-03-30 15:13] adeola-dev commented on #542
https://github.com/adeola-dev/community-toolbox/pull/1

[2022-03-30 15:15] adeola-dev commented on #542
https://github.com/adeola-dev/community-toolbox/pulls

[2022-03-30 15:31] adeola-dev commented on #542
https://github.com/publiclab/community-toolbox/pull/543

[2022-03-30 15:31] adeola-dev commented on #542
I just opened a PR. Your reviews will be appreciated.

[2022-04-01 10:31] on2onyekachi opened #548 "Fix charset character encoding value in embed and index file."
### Please describe the problem (or idea)

value for the charset attribute is charset ='UTF8' in the meta tags

I expected to see a value of charset='UTF-8'

### Please show us where to look

[Index.html](https://github.com/publiclab/community-toolbox/blob/main/index.html) and [embed.html](https://github.com/publiclab/community-toolbox/blob/main/examples/embed.html)

[code]
****
## Thank you!

You

[2022-04-01 10:57] #540 closed

[2022-04-01 11:33] kabuur opened #549 "Fix charset character encoding value in embed and index file"
### Please describe the problem (or idea)

### Please show us where to look

https://code.publiclab.org/ ...

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be

[2022-04-01 11:51] on2onyekachi opened #550 "Move link tags from body to the head section in index.html"
### Please describe the problem (or idea)

`<link>` tags are placed in the `<body>` element. which still works fine and is permitted in the `<body>`.

![Screenshot 2022-04-01 at 12 29 15](https://user-images.githubusercontent.com/66228222/161255113-4cdd7630-f6f7-41d6-8682-3d53ddcf7baf.png)

However, I expected to see the `<link>` tag placed in the `<head>` element.
![Screenshot 2022-04-01 at 12 39

[2022-04-01 13:39] TildaDares commented on #548
Thank you @on2onyekachi!!

[2022-04-01 13:40] TildaDares commented on #548
Reserved for @archijaiswal for 24 hours!

[2022-04-01 13:42] TildaDares commented on #550
Amazing @on2onyekachi!!! Do you think you could reformat this into an FTO? Thank you!!!

[2022-04-01 14:01] TildaDares commented on #548
I’m sorry I forgot to even ask if you wanted to work on this. If you’d like to work on this @on2onyekachi I’ll look for another issue for @archijaiswal

[2022-04-01 14:02] TildaDares commented on #549
Duplicate of #548

[2022-04-01 15:00] on2onyekachi commented on #548
Okay @TildaDares .

@archijaiswal can work on this.

[2022-04-01 15:23] on2onyekachi commented on #550
Thanks, @TildaDares . I will like to get busy with this.

[2022-04-01 15:40] adeola-dev commented on #542
Hello @TildaDares, it has been merged by @jywarren. What am I to do next?

[2022-04-01 15:41] TildaDares commented on #542
@adeola-dev I’ve seen it. Thanks!

[2022-04-01 15:41] TildaDares commented on #542
Resolved in #543

[2022-04-01 15:41] #542 closed

[2022-04-01 16:14] TildaDares commented on #542
Once you've completed an FTO, we
encourage folks to try making a first-
timers-only issue for someone else! And to
begin digging more into the open issues,
asking for clarifications, and, in the case of
Infragram, sharing mockups and design
ideas for discussion.
You can also look out for issues with the
help wanted label.

[2022-04-04 02:19] archijaiswal commented on #548
Thank you so much! I'm on it.

[2022-04-04 09:55] #550 closed

[2022-04-05 07:11] #548 closed

[2022-04-21 00:52] priyakumari02 opened #557 "Public Lab Issues"
![image](https://user-images.githubusercontent.com/77202746/164349919-ee785f0a-e749-45e4-9dc6-7792f398a086.png)

### Please describe the problem (or idea)
Upon clicking on public Lab issues,It is not directing to GitHub of Public Lab

As it is written Public Lab issues , after clicking on it it should be directed to public lab issues section of github

### Please show us where to look

https://inf

[2022-05-05 16:57] on2onyekachi opened #562 "Remove inline style and update demo.css"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-05-06 07:37] on2onyekachi opened #563 "Replace inline styles with bootstrap classes"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-05-06 07:38] on2onyekachi commented on #563
Hi @TildaDares  can this be assigned to a first-timer.

[2022-05-06 10:05] on2onyekachi opened #564 "Group similar inline style rule into demo.css"
The same inline style rule can be grouped together:
![Screenshot 2022-05-06 at 10 51 35](https://user-images.githubusercontent.com/66228222/167109273-0f6c32ad-a31f-4ca7-b307-f7da4d301488.png)
also

[code]

Into the sort-options,side-display class.

![Screenshot 2022-05-06 at 11 31 22](https://user-images.githubusercontent.com/66228222/167115531-819e59cf-db6c-4691-8791-679270815041.png)

### Please

[2022-05-06 13:19] TildaDares commented on #563
Hi @on2onyekachi, you forgot to add the class for `font-weight: bold` on line 141. Thanks!

[2022-05-06 14:56] on2onyekachi commented on #562
I have checked, and it wasn't used elsewhere. it was specifically used for the logo alone.

[2022-05-07 18:48] TildaDares commented on #563
@on2onyekachi Yeah any of those tags are fine. Thanks!!

[2022-05-07 18:58] TildaDares commented on #562
Thanks for working on this @on2onyekachi. Great work!!

[2022-05-07 19:00] TildaDares commented on #562
Reserved for @djmiller1008 for 24 hours!!

[2022-05-07 20:36] on2onyekachi commented on #563
More Thanks to you @TildaDares, I have fixed that with the` <b>` tag.

[2022-05-08 08:30] djmiller1008 commented on #562
Thanks @TildaDares! I'm on it!

[2022-05-08 13:39] TildaDares commented on #562
Resolved in #566

[2022-05-08 13:39] #562 closed

[2022-05-08 13:46] TildaDares commented on #563
This looks great @on2onyekachi. Thank you!!

[2022-05-08 13:52] TildaDares commented on #563
Reserved for @nawed2611 for 24 hours!!

[2022-05-08 14:12] nawed2611 commented on #563
Made the changes requested check out #567

[2022-05-08 17:21] #563 closed

[2022-05-08 18:09] on2onyekachi commented on #557
@TildaDares Hi, can I work on this?

[2022-05-08 21:12] TildaDares commented on #557
@on2onyekachi There are more dead links on that page. Here’s a list of some of the wrong links and where they should actually lead to:

- [our README](https://github.com/publiclab/plots2#readme)
- [open an issue](https://github.com/publiclab/plots2/issues/new/choose)
- [assist someone else](https://github.com/publiclab/plots2/labels/support)
- [issues across this org here](https://github.com/publi

[2022-05-09 22:45] on2onyekachi opened #568 "Update broken links in index.html page"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-05-09 22:54] on2onyekachi commented on #568
@TildaDares Please do have a review on this issue if it's exactly what needs to be done. . that reflects https://github.com/publiclab/community-toolbox/issues/557#issuecomment-1120487866

[2022-05-09 23:13] on2onyekachi commented on #557
Hi @TildaDares, the link for the issue being raised, [Public Lab issues](https://code.publiclab.org/#r=all). will it be the same with [issues across this org here](https://github.com/publiclab/plots2/issues) . ?

I guess the [Public Lab issues](https://code.publiclab.org/#r=all) link was meant to change the selected repository from the 'plot2' to 'all'?
![Screenshot 2022-05-10 at 00 09 48](https:/

[2022-05-10 19:05] TildaDares commented on #557
@on2onyekachi You're right! There's nothing wrong with those links.

[2022-05-10 19:12] TildaDares commented on #568
@on2onyekachi From your comment in https://github.com/publiclab/community-toolbox/issues/557#issuecomment-1120487866, we can remove `issues across this org here`. Also can you change the readme links to [this](https://github.com/publiclab/plots2/blob/main/README.md). Thanks!!

[2022-05-10 19:42] on2onyekachi commented on #557
oh, okay.

Then that should be the next fix @TildaDares, in making it function as it should. as the URL does change but the selected repo doesn't.

[2022-05-11 08:54] RaviAnand111 opened #571 "there is horizontal scrollbar at every dynamic info frame which is not used"
### What happened just before the problem occurred? Or what problem could this idea solve?
 Having not usable horizontal scrollbar is buggy and not good looking

### What did you expect to see that you didn't?
   There is no use of horizontal scrollbar, we should remove it.

### Please show us where to look

https://code.publiclab.org/#r=plots2

![com_scrollbar](https://user-images.githubuserconte

[2022-05-11 15:28] VictoriaAjala commented on #568
Hello @TildaDares  @on2onyekachi  Can I work on this issue?

[2022-05-11 16:13] TildaDares commented on #568
Great work @on2onyekachi. Thank you!!

[2022-05-11 16:14] TildaDares commented on #568
Hi @VictoriaAjala, we usually leave easy issues like this for first-timers. Thanks!!

[2022-05-11 16:31] TildaDares commented on #568
Reserved for @YorhaBlue for 24 hours!

[2022-05-11 16:53] TildaDares commented on #557
Also, you can create a new issue for this. Thanks!!

[2022-05-11 18:48] TildaDares commented on #571
@RaviAnand111 I guess the issue is browser specific.

[2022-05-11 20:37] YorhaBlue commented on #568
Thank you @TildaDares -- added the changes and started pull requests for index.html, config.json, configure.js.

[2022-05-12 07:06] on2onyekachi commented on #557
Okay. thank you for the assistance @TildaDares

[2022-05-12 19:20] Devesh21700Kumar commented on #564
Okay

[2022-05-13 05:40] RaviAnand111 commented on #571
Hi @TildaDares,
 Ok I got it now Thank You,
so should I close this issue ?

Thank You

[2022-05-13 07:23] TildaDares commented on #571
Hi @RaviAnand111, we can. Thanks!!

[2022-05-13 07:23] on2onyekachi opened #575 "Links doesn't change the selected repository to all."
The [Public Lac Issue](https://code.publiclab.org/#r=all) and the [issues across this org here](https://code.publiclab.org/#r=all) which are meant to explore issues across the entire organization, do change the URL, but it does not change the selected repository to ''all".

This issue was created from #557

https://user-images.githubusercontent.com/66228222/168229872-5308f1f0-281f-4a34-9511-225dfb

[2022-05-13 07:31] on2onyekachi commented on #575
Hi, @jywarren , @cesswairimu , @TildaDares  .. Please help review this whenever you've got some free time. Thanks.

[2022-05-13 11:43] RaviAnand111 opened #576 "Back to Top button is not static not fixed"
## What did you see and expected to happen

1. The back to top button is static while it should have been fixed.
2. The icon in back to top button is not at center.
3. In mobile view the back to top button is covering some of the text, its position has to be moved a little to right.

### Please show us where to look

https://code.publiclab.org/

FireFox
![btt-1](https://user-images.githubuserconte

[2022-05-13 11:44] #571 closed

[2022-05-13 13:39] TildaDares commented on #576
Great catch @RaviAnand111. You can go ahead and open a PR for this. Thanks!

[2022-05-17 10:59] #564 closed

[2022-05-17 11:10] #568 closed

[2022-05-21 09:56] #575 closed

[2022-10-05 06:43] radzhiv25 commented on #576
Can i work on this issue

[2022-10-05 06:46] radzhiv25 opened #596 "Improved Navbar for the website"
### Please describe the problem (or idea)

The Navbar of the website seems a bit older a modern navbar with new animation or hover effect will make the UI cleaner and interactive

The navbar seems older and non-attractive

### Please show us where to look

https://code.publiclab.org/ ...

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your

[2022-10-05 08:31] TildaDares commented on #576
Hi @radzhiv25, please go ahead. Thank you!

[2022-10-11 07:23] xiaodaiweiwei commented on #596
Hello! I could work on this. Where can I find the code? Thank you.

[2022-10-12 21:24] 7malikk commented on #596
@xiaodaiweiwei get started on the community toolbox [here](https://github.com/publiclab/community-toolbox/blob/main/docs/getting_started.md)

[2022-10-13 00:41] xiaodaiweiwei commented on #596
Thank you! I would try my best to solve this!

[2022-10-15 10:07] ijayhub commented on #596
hi @xiaodaiweiwei have u started working on it?

[2022-10-15 10:08] radzhiv25 commented on #596
Even I can work on it ??

[2022-10-15 12:22] ijayhub commented on #596
okay

[2022-10-15 13:07] kirtigupta25 commented on #197
Hii , is this issue still open?

[2022-11-07 19:25] vedant-z commented on #596
May I try this one?

[2022-11-07 19:28] vedant-z commented on #576
Hi @TildaDares may I try this?

[2022-11-07 19:33] vedant-z commented on #461
@jywarren Is this issue still open. If so I would like to work on this.

[2022-11-08 11:07] cesswairimu commented on #576
hi @vedant-z, you can go ahead, thanks

[2022-11-13 13:40] vedant-z commented on #576
Hey @cesswairimu I figured out I need to tweak something in here.

![image](https://user-images.githubusercontent.com/93431609/201524700-cc5d5bd9-4d68-4d3a-82a9-598e751f95a1.png)

Something like changing the display to inline-block might work. Will you please suggest me something from your end?

[2022-11-21 13:35] cesswairimu commented on #576
Hey @vedant-z, mmh maybe you can try putting it in the same div as footer? its a bit tough one as it seems to be working on for some browsers/OS and not for others. Were you able to replicate the issue on your end?  I haven't been able to replicate it on my end, I tried with chrome and firefox on Ubuntu 20.04, and chrome on android 11.