[2017-10-17 19:15] jywarren opened #1 "Change link on index.html"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2017-10-17 19:17] jywarren commented on #1
Over here, @chocos10 !! Thanks!!

[2017-10-17 19:19] jywarren opened #2 "If repository is not specified, get all issues w/ given label across the whole organization"
This could be developed in https://github.com/publiclab/community-toolbox/tree/master/src/community-toolbox.js

Roughly, the steps would be:

1. make a new method called `getIssuesForOrg()`, and inside:
2. see if a repo was specified in the initial call
3. find a list of repositories for the given org, store in `var repos`
4. for each of those, run `getIssuesForRepo()`
5. on the response callback

[2017-10-17 19:20] jywarren opened #3 "List PRs that could use some review or help -- by folks who've completed one themselves!"
We could add a "Want to review PR" section on code.publiclab.org which will show the PR's where there is no feedback provided. Or, those PR's which are inctive from a month or so.

What do you think @Rishabh570?

[2017-10-17 19:48] MrGlacier commented on #1
i want to claim this issue :)

[2017-10-17 20:12] jywarren commented on #2
@gr2m - hope you're well -- this whole thing (just posted this weekend) was inspired in part by your awesome Ubersicht project!!!

[2017-10-17 20:41] phillipesouza commented on #1
I want to contribute too.

[2017-10-17 21:57] jywarren commented on #1
Hi, everybody! I'm so glad you're interested! I just invited @chocos10, @MrGlacier and @phillipesouza. I'm sure we can come up with issues for everybody!

[2017-10-18 05:27] gr2m commented on #2
oh Ubersicht was all @espy :)

I love https://publiclab.github.io/community-toolbox/ 👏

[2017-10-20 18:45] fitchae commented on #1
I would like to claim this issue!

[2017-10-21 05:39] vagita24 commented on #1
Can I contribute to this issue...

[2017-10-23 01:07] Strider1990 commented on #1
I would like to claim this issue!

[2017-10-23 05:55] denisenricohasyim93 commented on #1
i would like to claim this issue...

[2017-10-23 14:37] jywarren commented on #1
Hi, folks - please submit a PR for us; I'm modifying the steps accordingly!

[2017-10-23 14:39] jywarren commented on #1
And apologies -- the process of inviting, accepting, adding people was a bit of a roadblock, so we're going to go ahead and just accept a PR from whoever is able to post one -- thank you!

[2017-10-23 16:24] vagita24 commented on #1
hi
@jywarren i have sent a pull request. please review it

[2017-10-23 16:28] jywarren commented on #1
Thanks, @vagita24 -- solved in #4 -- super! THank you everyone, and please check out the issues list if you'd like to help out further! There are also more listed at:

https://publiclab.github.io/community-toolbox

[2017-10-23 16:28] #1 closed

[2017-10-25 14:51] jywarren opened #6 "Display more than 30 contributors"
In the bottom, Contributors listing, we seem to be getting only 30, and not the 100 we're requesting.

https://publiclab.github.io/community-toolbox/

![screenshot 2017-10-25 at 10 47 03 am](https://user-images.githubusercontent.com/24359/32005377-2421d930-b972-11e7-81bf-d632251ea05f.png)

On this line we request 100 -- used in the `options` var:

https://github.com/publiclab/community-toolbox/blo

[2017-10-25 16:27] rvben commented on #6
I just submitted a PR for this Issue.

[2017-10-25 17:56] jywarren commented on #6
Completed! Thank you!!

[2017-10-25 17:56] #6 closed

[2017-10-25 22:14] jywarren opened #9 "Ability to set time range in queries: "weekly" + "monthly""
We often want to look at a portrait of the community for a specific time range. The API and [options hash](https://github.com/publiclab/community-toolbox/blob/master/src/community-toolbox.js#L8) don't seem to have a time domain, however:

https://developer.github.com/v3/repos/
https://github.com/MichielvdVelde/github-api-simple

Either we need to find how to make a time-bounded API query, or we ma

[2017-10-26 06:23] raghavmittal101 commented on #9
I think that we can do this by filtering the commit log of a repo by time range and then find the number of unique contributors. Please let me know if you agree with me.

[2017-10-26 18:16] jywarren commented on #9
Sure, that sounds great! So would you then make a request for the contributors based on their usernames, so 2 requests? Is there a way to batch request a set of user account records in a single query?

We'd love to accept a PR from you if you're interested! Thanks a million!

[2017-10-26 19:27] jywarren opened #10 "Show # of contributors at bottom of demo page"
Hi, this is a [first-timers-only issue](https://github.com/publiclab/plots2/projects/2). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'

[2017-10-26 19:32] maya-shankar commented on #10
I'd like to work on this!

[2017-10-26 19:39] jywarren commented on #10
We'd love it if you did! Thank you, and we're here to help!

[2017-10-27 10:52] raghavmittal101 commented on #9
I am using this https://developer.github.com/v3/repos/commits/#list-commits-on-a-repository to get the list of commits and then use javascript to filter the commits by time range and return list of contributors.

I have written a code snippet in pure javascript but I don't know how to integrate that into your repo.

[2017-10-27 11:37] jywarren commented on #9
Cool, can you link to a gist at gist.github.com? Thanks!

On Oct 27, 2017 6:52 AM, "Raghav Mittal" <notifications@github.com> wrote:

[2017-10-27 12:28] raghavmittal101 commented on #9
https://gist.github.com/raghavmittal101/0b4292e64d298fbc4213b29d221bd8dd

[2017-10-27 19:28] jywarren commented on #9
This looks super. Can you use a pull request to add it to the `/src/` directory and add an "exports" statement as well, and we can take this one step at a time? Thanks!

https://github.com/publiclab/community-toolbox/blob/master/src/ui.js#L28-L31

Awesome!

[2017-10-28 03:54] raghavmittal101 commented on #9
I have created a new file in `/src/` directory called `getRepoContributors.js`. Let me know if that is fine.

[2017-10-30 09:39] ijajmulani commented on #10
@maya-shankar Can I help you? I also want to contribute.

[2018-01-04 12:55] GeoBlaso commented on #10
Is it still open? Can I contribute somehow?

[2018-01-04 21:25] jywarren commented on #10
Oh, yes please! We'd love some help with this.

On Jan 4, 2018 7:56 AM, "Georgios Vlassopoulos" <notifications@github.com>
wrote:

[2018-01-07 22:04] jywarren commented on #2
Working on this, PublicLab has lots of repositories, so we get 30 in the first request for repos, then query each of the 30 for issues matching a label, and we've reached our hourly rate limit of 60... which is no good.

https://developer.github.com/v3/#rate-limiting

Not sure about either batching or perhaps subselecting only some of the repos... by tag maybe?

[2018-01-07 22:07] jywarren commented on #2
Maybe we can do a batch query for issues using the search API...? https://developer.github.com/v3/search/#search-issues

[2018-01-07 22:08] jywarren commented on #2
Yes: https://github.com/search?q=org%3Apubliclab&type=Issues&label=first-timers-only

[2018-01-07 22:18] jywarren commented on #2
https://api.github.com/search/issues?q=org%3Apubliclab&label=first-timers-only works! It may be rate limited but i'm not sure if it falls under the search api rate limiter or the 60/hour general rate limit. But this works.

[2018-01-07 22:19] jywarren commented on #2
Pretty sure it's not normal rate-limiting; i'm past my rate limit but can still load that query.

[2018-01-07 22:27] jywarren commented on #2
Oops it's actually  https://api.github.com/search/issues?q=org%3Apubliclab+label%3Afirst-timers-only

Made a request here to include this upstream but we can do this here otherwise.

https://github.com/MichielvdVelde/github-api-simple/issues/3

[2018-01-07 23:55] jywarren commented on #2
OK, just need to add contributors for all repositories, now!

[2018-01-07 23:56] jywarren commented on #2
https://developer.github.com/v3/search/

[2018-01-07 23:57] jywarren commented on #2
Actually it may not be possible: https://developer.github.com/v3/search/#search-users

[2018-01-08 00:03] jywarren commented on #2
Working here! https://jywarren.github.io/community-toolbox/#r=all

[2018-01-08 00:05] #2 closed

[2018-01-11 18:27] jywarren opened #13 "Add list of authors of first-timers-only issues"
As people begin taking leadership in a project, they may start to post their own first timers only issues (see [this example](https://publiclab.github.io/community-toolbox/#r=all)). It'd be helpful to list these folks at the bottom of the page, so we know who's started to play this role.

We could title the section "Welcomers" perhaps, say `These people have spent the time to create an issue speci

[2018-01-11 21:24] jywarren commented on #10
Anyone want to take a crack at this and need some help? Thanks!

[2018-01-12 23:06] jywarren opened #14 "Expand scope of contributor list"
https://github.com/publiclab/community-toolbox/pull/11 starts this off, but we need to break this up as it's complex.

@RichardLitt suggests https://github.com/RichardLitt/name-your-contributors which is great

Also there's this spec: https://github.com/kentcdodds/all-contributors

Thanks!

[2018-01-16 17:44] jywarren opened #15 "Make links to contributors go to their commits to the project, not profile"
When we link to contributors names, let's link to their contributions to the project, not their profile -- this URL is otherwise hard to find, and you can always then click through to their profile!

Example: https://github.com/publiclab/plots2/commits?author=rishabhptr

Any help appreciated!

[2018-01-18 18:49] nikramakrishnan commented on #10
Because there hasn't been a response in a while, I would like to try this out.

[2018-01-18 19:38] jywarren commented on #10
That would be great -- we'd love your help!

On Thu, Jan 18, 2018 at 1:49 PM, Nikhil Ramakrishnan <
notifications@github.com> wrote:

[2018-01-18 19:57] jywarren commented on #10
Hi, it should be the total, and I wonder if we now have more than 100
contributors and are not seeing everyone on the page? Our project has been
growing and I think this may now be a bug. What do u think?

On Jan 18, 2018 2:49 PM, "Nikhil Ramakrishnan" <notifications@github.com>
wrote:

[2018-01-19 17:26] nikramakrishnan commented on #10
@jywarren What do you think should be done?

[2018-01-23 15:32] jywarren commented on #10
Sorry for slow reply! Reading through this now, thank you!

[2018-01-23 15:38] jywarren commented on #10
Hmm, well, let's consider adding that feature over there; if not, we can add the code here and migrate it upstream later. I opened an issue: https://github.com/MichielvdVelde/github-api-simple/issues/5 and we'll see -- i also linked to an implementation via the Ubsersicht project:

https://github.com/espy/ubersicht/blob/551aced0bd3157ed7811b6380fdaa8c10b9d6e26/script/main.js#L169-L184

Would you l

[2018-01-25 12:05] nikramakrishnan commented on #10
I've implemented paging without modifying `github-api-simple`, by getting headers, parsing, and getting all the pages.
The only problem/concern is that the pages will be ordered randomly on the page, because of the asynchronous nature of promises. (is there a way to fix this?)

Please suggest changes/improvements if any.

[2018-01-25 19:50] jywarren commented on #10
Oh wow, can you open a pull request for this? Thank you!!!

[2018-02-17 01:37] #10 closed

[2018-02-17 01:43] jywarren commented on #9
Hi, are you still interested in contributing a bit on this? we'd love to have your help!

[2018-02-20 20:58] nemesisdesign opened #17 "package.json points to a different repo"
https://github.com/publiclab/community-toolbox/blob/master/package.json

repository url points to `git+https://github.com/jywarren/community-toolbox.git`

[2018-02-20 20:59] nemesisdesign opened #18 "Install instructions"
Hi,

some install instructions would be helpful.

I tried `npm install` but I get this error:

[code]

[2018-02-20 21:26] jywarren commented on #18
hmm, thanks for the suggestion! i think we didn't anticipate installation
via npm that much ... but i can release a copy now.

You can also fork the repository on GitHub if that's helpful -- and then
create a gh-pages branch to run it from there.

On Tue, Feb 20, 2018 at 3:59 PM, Federico Capoano <notifications@github.com>
wrote:

[2018-02-20 21:29] jywarren commented on #18
ok, published! hope it works...

On Tue, Feb 20, 2018 at 4:26 PM, Jeffrey Warren <jeff@unterbahn.com> wrote:

[2018-02-20 22:04] jywarren commented on #17
Hi, thank you! good catch! I think i just fixed this!

Also, i'm curious -- where did you happen to find the project? Thanks!

[2018-02-20 22:04] #17 closed

[2018-02-20 22:05] jywarren commented on #18
How'd that work?

[2018-02-20 22:08] nemesisdesign commented on #18
I did not install via npm, I cloned the repo and ran `npm install`. What's the correct way of doing it?

[2018-02-20 23:11] nemesisdesign commented on #17
On the GSoC mentors mailing list

[2018-02-22 04:08] raghavmittal101 commented on #9
Sure! How may I help you?

[2018-02-22 22:37] jywarren commented on #9
Do you think we could integrate `getCommitsInRange()` into this file?

https://github.com/publiclab/community-toolbox/blob/master/src/community-toolbox.js

What do you think?

[2018-03-03 12:47] nikramakrishnan commented on #15
Hi @jywarren , please check #19

[2018-03-03 13:09] nikramakrishnan opened #20 "No contributors data returned with 'r' and 'o' parameters except "all" and "plots2""
The `r` and `o` hash parameters break the contributors API except for the two cases with `r=all` and `r=plots2`

For example:

- https://publiclab.github.io/community-toolbox/#r=community-toolbox should return all contributors for `community-toolbox`, as `o` defaults to `publiclab`
- https://publiclab.github.io/community-toolbox/#o=wbsoft&r=frescobaldi should return contributors for `wbsoft/fresco

[2018-03-09 19:03] jywarren commented on #18
Actually this should've worked -- and you're right, that's the correct install process. I bet it has to do with:

https://github.com/publiclab/community-toolbox/blob/762b3b3fd58009b041ad0b49a7368ac4261c46ca/package.json#L36-L38

Maybe we need to update the version numbers for those lines?

[2018-03-09 19:04] jywarren commented on #20
Oy, good catch. This is why we need some better testing!

Marking as `help-wanted` and perhaps we can link to the line numbers where it breaks down...

[2018-03-09 19:05] #15 closed

[2018-03-25 19:08] jywarren opened #22 "Enable default welcome page text to source from .json file via URL hash"
We have some nice text in our example welcome page (which we use for Public Lab projects) --

https://publiclab.github.io/community-toolbox/#r=all

But if people want to begin using that just by adding URL hashes for another organization and repository (as in the README), they still see PL text. Let's make it possible to have a .json file that supplies text so people can get this running quickly f

[2018-03-25 22:12] RignonNoel commented on #20
I will create a PR on this issue, i've checked after libre planet for use this tool and i already know how to fix it.

[2018-03-25 22:17] jywarren commented on #20
Awesome. We've wanted to expand the contributors listing and havent been
yet able to figure it out, we'd love your help! Thanks!!!!

On Sun, Mar 25, 2018, 6:13 PM Rignon Noël <notifications@github.com> wrote:

[2018-03-25 22:39] RignonNoel commented on #22
I'm really interesting by this issue so i will not have to manage a fork and lost all your upgrade  :sparkles:

If you need some help i'm available to do it if you already have a list of option you want to made available.

[2018-03-25 22:41] jywarren commented on #20
Amaze!!!

On Sun, Mar 25, 2018, 6:23 PM Rignon Noël <notifications@github.com> wrote:

[2018-03-26 06:31] nikramakrishnan commented on #20
Great work figuring out the problem @RignonNoel !

[2018-03-27 15:36] RignonNoel opened #24 "Make this website availabile with LibreJS"
Currently I can't visit this site without having a doubt about the respect of my freedom and all LibreJS plugin will block the behavior on my browsers.

It can be a great enhancement to make it clear than your JS is free by follow [these rules](https://www.gnu.org/software/librejs/free-your-javascript.html) so i can freely use this tool :smiley:

[2018-03-27 17:38] jywarren commented on #24
Hi, this sounds interesting and we'd love to help you break it down into a checklist so that you can get help implementing it!

http://www.gnu.org/licenses/javascript-labels.html seems like a do-able thing, although it's interesting to know if there is a way to do this from the `package.json` file automatically on build, so that's a next step to investigate.

Adding an in-line license is also pote

[2018-03-27 23:48] RignonNoel commented on #24
I'm really not an expert on this but here is what i think we need to do :

 - [ ] Adding an in-line MIT license magnet : We can use this magnet `magnet:?xt=urn:btih:d3d9a9a6595521f9666a5e94cc830dab83b65699&dn=expat.txt` since the actual MIT version this repository use is the [Expat license](https://www.gnu.org/licenses/license-list.fr.html#Expat)
https://github.com/publiclab/community-toolbox/blob

[2018-04-06 23:31] jywarren commented on #9
@publiclab/reviewers if anyone is looking for a project, I think this one could amplify our work a lot in conjunction w #13 - so we can see recently welcoming people and thank/encourage them!

Could make a good fto perhaps!

[2018-04-11 19:41] nikramakrishnan commented on #20
Fixed in #23
Closing this!

[2018-04-11 19:41] #20 closed

[2018-04-11 20:36] jywarren commented on #20
oh awesome, great!

On Wed, Apr 11, 2018 at 2:41 PM, Nikhil Ramakrishnan <
notifications@github.com> wrote:

[2018-04-12 18:48] Gauravano opened #25 ""ago" appears two times in issue description"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-04-18 22:07] jywarren commented on #24
Hi, just circling back here, sorry it took me a while. Would you like me to post these as a first-timers-only issue, or are you interested in giving it a try? I think it's a great one to guide someone new on... i'd be happy to help you put one together. Here are some resources (a saved reply of mine):

****

This has been marked as a good candidate for becoming a [first-timers-only issue](http://w

[2018-07-01 05:50] angelfeliz commented on #25
I got this one

[2018-07-02 21:53] #25 closed

[2018-07-04 00:09] angelfeliz commented on #22
Hello, It look like I can jump in to this issue, can I worke it?

[2018-07-04 00:10] jywarren commented on #22
That'd be terrific, thanks!

On Jul 3, 2018 8:10 PM, "Angel Eduardo" <notifications@github.com> wrote:

Hello, It look like I can jump in to this issue, can I worke it?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/publiclab/community-toolbox/issues/22#issuecomment-402325635>,
or mute the thread
<https://github.com/no

[2018-07-26 13:01] BaaniLeen opened #28 "'r=all' not working for embedded issues link"
Unable to fetch the issues relevant to all the repos using 'r=all'.

Eg: `<iframe src="https://publiclab.github.io/community-toolbox/examples/embed.html#o=publiclab&r=all"
      style="border:none;" width="100%" height="600px"></iframe>`

This shows up as the error:
![screen shot 2018-07-26 at 6 30 52 pm](https://user-images.githubusercontent.com/22029744/43263849-133f5eea-9102-11e8-85ed-bdad888d7

[2018-09-17 15:28] jywarren opened #29 "Combined contributors list with profile pics does not show on multi-repository view"
https://code.publiclab.org shows a nice list of contributors, with bio pics:

![image](https://user-images.githubusercontent.com/24359/45632996-b292ce80-ba6c-11e8-9d00-c09347b2b3df.png)

However, the multi-repository view, at https://code.publiclab.org#r=all, does not show this, because the logic for the multi-repository version's code doesn't work with the display code.

We should fix this so you

[2018-09-22 09:59] Paarmita commented on #18
@jywarren @nemesisdesign I cloned the repo and tried npm install and open index.html in the browser. It worked for me. Can I add these install instructions?
Do we need to update the versions of these?

[2018-09-22 13:39] jywarren commented on #18
This sounds great! The versions of which, the npm modules? Thanks!

On Sat, Sep 22, 2018, 6:00 AM Paarmita Bhargava <notifications@github.com>
wrote:

[2018-09-22 16:04] Paarmita commented on #18
@jywarren The versions of these
    "tap-spec": "^4.1.1",
    "tape": ">=4.7.0",
    "tape-run": "^3.0.0"
I didn't changed them.

[2018-09-23 17:16] jywarren commented on #18
You probably don't need to change the versions but if they did get updated
when you installed, you're welcome to submit a PR with the updated
versions. It'll probably help keep our code up to date.

Thanks for your help!

On Sat, Sep 22, 2018 at 6:00 AM Paarmita Bhargava <notifications@github.com>
wrote:

[2018-09-23 17:33] Paarmita commented on #28
@BaaniLeen Can u elaborate the issue more, that where u want to use iframe and r=all?

[2018-09-23 17:46] Paarmita opened #32 "Feature to search issues by tags for candidates"
In candidates, we can search for issues by tags by making a dropdown of all the tags.
At present, when we click on tags it opens a JSON data.

[2018-09-23 17:49] jywarren commented on #32
This would be great.

Actually I'm really interested in a display of who's completed a first
timers only issue in the past week... Can you think of a way to produce
this list?

On Sun, Sep 23, 2018, 1:46 PM Paarmita Bhargava <notifications@github.com>
wrote:

[2018-09-23 17:55] Paarmita commented on #32
@jywarren It means to filter out first-timer issues contributor by week?

[2018-09-23 18:04] jywarren commented on #32
Yes, and show a list of them maybe above the main Contributors listing?
Called "New contributors this week" perhaps?

On Sun, Sep 23, 2018, 1:56 PM Paarmita Bhargava <notifications@github.com>
wrote:

[2018-09-26 16:12] #18 closed

[2018-09-26 16:13] jywarren opened #33 "Copy in welcomebot configs from plots2 project"

[2018-09-29 16:57] VaaibhaviSingh commented on #33
@jywarren Can I work on this issue?

[2018-09-29 19:42] VaaibhaviSingh opened #35 "Add Gitter chatroom link to welcome page"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-09-29 20:28] aashna27 commented on #35
@VaaibhaviSingh  can you assign me this ?

[2018-09-29 21:28] VaaibhaviSingh commented on #35
Hello @aashna27, yes sure. Go ahead! 👍

[2018-09-29 21:30] VaaibhaviSingh commented on #35
Hello @aashna27! Nicely done 👍

[2018-10-01 19:48] igniteeng000 opened #39 "Add hover to show name in the avatar"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-10-01 20:30] first-timers[bot] opened #40 "Add link to cross-org issues"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-10-01 20:33] first-timers[bot] opened #41 "Add link to "support issues" in "How we work""
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-10-01 20:52] #35 closed

[2018-10-01 21:32] motorcitycode commented on #40
Hi. claiming this first timers issue!  Thanks.

[2018-10-01 21:43] jywarren commented on #40
Excellent! Please go ahead and we're happy to help!

[2018-10-01 22:02] motorcitycode commented on #40
Hi, Do I have to wait for you to do this step first? "Accept our invitation to this repository. Once accepted, assign yourself to this issue"

I have already opened the file in the browser editor and made the edit as instructed. I am at a page https://github.com/publiclab/community-toolbox/pull/42 that says: Open:	motorcitycode wants to merge 1 commit into publiclab:master from motorcitycode:patch

[2018-10-01 22:07] jywarren commented on #40
aha - we are changing that line soon, it's not necessary. I think you're
all good! We'd love more help if you're interested!
https://code.publiclab.org#r=all

On Mon, Oct 1, 2018 at 6:02 PM Tracy Pilcher <notifications@github.com>
wrote:

[2018-10-01 23:42] JonathanPetersCode commented on #41
Hi, I'd like to contribute to this Open Source.

[2018-10-02 04:17] avsingh999 opened #44 "Add buttons for different query"
In https://code.publiclab.org/ here we can see issue only by add query in that link bar ,Add button's for that every possible query where user can search issue in every single repository, all repos, by just click the button

[2018-10-02 06:12] DiproPramanick1999 commented on #41
Hello, I want to claim this issue.

[2018-10-02 06:12] DiproPramanick1999 commented on #41
Hello, I want to claim this issue.

[2018-10-02 06:48] Sagar1711 commented on #41
Hi,
I want to claim this

[2018-10-02 10:03] breakit1234 commented on #41
I want to claim this issue.

[2018-10-02 13:34] Smalloow commented on #41
Would like to get on board with this

[2018-10-02 13:43] singhalkirtika commented on #40
I want to take this issue. Is it solved?

[2018-10-02 16:04] Rishabh570 commented on #40
Is this issue still open? I would like to work on it only if its not claimed by anyone else :)

[2018-10-02 16:45] jywarren commented on #40
Ah, sorry we should have closed this - it was solved in https://github.com/publiclab/community-toolbox/pull/42

Thank you!!!

[2018-10-02 16:45] #40 closed

[2018-10-02 16:45] jywarren commented on #40
You can find more issues at https://code.publiclab.org#r=all -- THANK YOU!!!!! 👍

[2018-10-02 17:01] singhshubham98 commented on #41
I want to work on this

[2018-10-02 17:20] singhalkirtika opened #50 "Add link to Call for Mentors (First-timers-issue)"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-10-02 19:35] gauravano commented on #41
Hi @williamxz, please go ahead. Thanks!

@JonathanPetersCode @DiproPramanick1999 @Sagar1711 @breakit1234 @singhshubham98 we would love to have help from you all, please check https://code.publiclab.org/#r=all for more issues. Thanks!

[2018-10-02 19:55] gauravano commented on #33
@jywarren please close this issue as I don't have permission in community-toolbox. Thanks!

[2018-10-02 22:43] jywarren commented on #44
This is a good idea. But where could we source the info from? Would it be a
form you fill out? That is, how does the code know what labels or repos are
available?

On Tue, Oct 2, 2018 at 12:17 AM Avkaran Singh <notifications@github.com>
wrote:

[2018-10-03 02:28] breakit1234 commented on #50
I would like to do it.

[2018-10-03 04:02] singhalkirtika commented on #50
@breakit1234 this issue has been created at two places.
https://github.com/publiclab/plots2/issues/3567
Someone is working on this issue.
Sorry, for the inconvenience.

[2018-10-03 20:32] vanguard07 opened #53 "List of contributors missing once API rate limit exceeded (message needed)"
![screenshot 87](https://user-images.githubusercontent.com/23207859/46437632-72746100-c779-11e8-907c-a118dfdaf8c3.png)

Maybe the API limit has exceeded, please look into it.

[2018-10-04 02:36] Rishabh570 commented on #53
There is a limit of 5000 requests per hour for **authenticated** requests from a user on Github API. I don't think that could be the reason here...

[2018-10-04 05:10] Rishabh570 commented on #53
Oh, it just happened with me also, actually we're sending unauthenticated requests to Github API, which has hourly limit of 60 (much less than authenticated request's limit), that's the cause of this behaviour...

To fix this we can pass `Authorization header` in the request `getRepoContributors` inside `community-toolbox.js`...but for that, we need user-session token.

@jywarren @sagarpreet-chadh

[2018-10-04 09:15] singhshubham98 commented on #39
I want to work on this!!

[2018-10-04 19:53] first-timers[bot] opened #55 "Add "help turn candidates into first-timers-only issues" note"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-10-04 21:15] pablohildo commented on #55
I'd like to claim this :)

[2018-10-05 03:18] gauravano commented on #39
Hi @singhshubham98, @DakshGondaliya this issue is reserved for GCI. Please take a look at https://code.publiclab.org for more issues. Thanks!

[2018-10-05 16:57] jywarren opened #57 "Show list of "contributors this week" separated out from "for all time""
more soon! It'd be helpful to see recent activity 👍

[2018-10-05 17:58] Rishabh570 opened #58 "Avatars of contributors have commas between them which doesn't makes sense"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-10-06 10:15] radharaniraj commented on #55
i Would like to claim this.

[2018-10-06 17:03] sk9331657 commented on #55
@gauravano  There seem to be no issues other than this for newcomers, so I am claiming this. Will create pr in 2 mins.

[2018-10-07 04:08] sk9331657 commented on #9
@jywarren  Can I work on it??

[2018-10-07 06:11] gauravano commented on #9
Hi @sk9331657, please proceed with the issue. Thanks!

[2018-10-07 16:48] Rishabh570 commented on #53
Actually, adding auth header won't be a fix for this issue for *two reasons*:
- For auth header, we need to put, personal auth token of someone's Github account in the code, which obviously doesn't sound a good idea
- Second, if we do that anyways, we need to periodically change the auth token because it expires after a week or two...which leads to reduntant commits in the history

A better way wo

[2018-10-08 00:03] bkocsis3 commented on #57
Hi, jywarren. I'd like to work on this for you. Can you tell me more about it? What files and webpages will be affected by this?

[2018-10-08 02:58] Prajwal7842 commented on #55
Hello, I would like to submit a PR for this issue even if it is already claimed.

[2018-10-08 16:06] sk9331657 commented on #55
@Prajwal7842  This is already PR patch for issue.

[2018-10-08 16:19] gauravano commented on #57
@jywarren

[2018-10-08 18:17] #55 closed

[2018-10-08 18:18] #29 closed

[2018-10-08 18:45] jywarren commented on #57
Hi all! The main demo will be affected; we'd like to be able to list
contributors by date of last activity in the list at the bottom of the
page. Are you able to see the code that drives this or would you like to
see links to some lines of code?

Thanks!!

On Mon, Oct 8, 2018, 12:20 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-10-08 19:40] bkocsis3 commented on #57
If you could send some links, that would be great!

On Mon, Oct 8, 2018, 1:45 PM Jeffrey Warren <notifications@github.com>
wrote:

[2018-10-08 19:57] jywarren commented on #57
Maybe @Rishabh570 could help out here? I'm unfortunately about to board a plane! ✈️

[2018-10-09 05:17] Rishabh570 commented on #57
Hi @bkocsis3

Here are some links to files that are affected,
- https://github.com/publiclab/community-toolbox/blob/master/index.html is the HTML file that is displayed when you visit `https://code.publiclab.org/`
- https://github.com/publiclab/community-toolbox/blob/master/src/community-toolbox.js file contains the logic which fetches the contributors from Github (it is the main driver behind dat

[2018-10-09 05:55] Rishabh570 opened #62 "Show a spinner icon till contributors list is not rendered"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-10-09 06:01] Rishabh570 commented on #44
It can be a *dropdown*...filling some input for repo name to search issues from seems like an extra work with less visual indication...because in case of an input, we have to deal with random words typed in the input and dropdown will save people from typing names and remembering spellings, lol :stuck_out_tongue_winking_eye:

[2018-10-10 00:13] jywarren commented on #53
Yes, this is why it's based around an unauthenticated request... this also sort of "shares" the load across all users rather than piles them up on a single user.

I like the localStorage solution -- moving to #61 and renaming this to be more specific!

But I think we can also have a second solution -- to show a `GitHub API limit exceeded` message, for now (Great first-timer issue!) when it fails,

[2018-10-10 00:14] jywarren commented on #53
Could we catch the `message` field in the status code error object as cited above? What line of code would we catch that error on, for matching the string `API rate limit exceeded for xxx.xxx.xxx.xxx` ...

[2018-10-10 03:38] Rishabh570 commented on #53
@jywarren Sounds great! but how do we show that messages of API limit exceeded or not :thinking: an alert box(that fades after 1sec or so) or something else?

[2018-10-10 03:41] jywarren commented on #53
Sure, we could even show just a <p> with a notice. Thanks!

On Wed, Oct 10, 2018, 11:38 AM Rishabh Rawat <notifications@github.com>
wrote:

[2018-10-10 03:42] Rishabh570 commented on #53
Yep, we have to put catch blocks in places where network calls happening...but I observed that the error object doesn't contain `API limit exceeded for ...`, it only has a status of `403`, so we can put a simple statement checking if the `error.status == 403` and if its true, we can call some function from `ui.js` to show the appropriate message to the user...

[2018-10-10 03:46] Rishabh570 commented on #53
![screenshot from 2018-10-10 09-15-44](https://user-images.githubusercontent.com/25483260/46712124-2d669800-cc6d-11e8-94b0-a3256d58bdbb.png)

This is the error object that I'm getting...

[2018-10-10 09:30] #58 closed

[2018-10-10 09:33] #53 closed

[2018-10-11 11:26] Rishabh570 opened #64 "Fetching all of the publiclab's repos from github gives us only the first 30 of them"
[getAllRepos](https://github.com/publiclab/community-toolbox/blob/main/src/getAllContribsUtility.js#L53) is the function responsible for fetching publiclab's repos from Github. When this function runs, it only gives us the first 30 repositories listed on [1st page](https://github.com/publiclab)...

What we want is, it should go over to the next page and collect the repos from [2nd page](https://gi

[2018-10-11 12:43] Rishabh570 commented on #64
I would like to work on it.

[2018-10-12 06:48] jywarren commented on #35
Thanks for welcoming someone else in, @VaaibhaviSingh ! And great work, @aashna27

[2018-10-12 13:14] roshniRam opened #67 "Change Readme.md link in index.html (First-timers-issue)"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-10-12 13:17] AnishRaj2000 commented on #13
Hi can u help me solve this issue

[2018-10-13 12:53] sk9331657 opened #69 "Creating Installation Screencast of project and upload on youtube"
Create a screencast showing the installation of the project and share the link in pr.

[2018-10-13 13:33] Rishabh570 commented on #28
I would like to work on this.

[2018-10-13 13:42] Rishabh570 commented on #69
I think the installation for this project is not that complex...but we can add a GIF in the readme anyways :)

[2018-10-13 13:46] sk9331657 commented on #69
@jywarren  @SidharthBansal  Please add GCI task tag.

[2018-10-13 22:16] #64 closed

[2018-10-15 15:33] starkblaze01 opened #71 "Create FTO issue Template"
**Current Scenario:-**
We don't have any first-times-issue template for this repository.

**Deliverables:-**
Create this template and place it in https://github.com/publiclab/community-toolbox/tree/main/.github

**Reference:-**
https://github.com/publiclab/plots2/tree/master/.github

[2018-10-15 15:37] starkblaze01 commented on #71
@jywarren, please add a label to this issue. :)

[2018-10-16 04:58] #28 closed

[2018-10-16 05:03] jywarren commented on #67
Hi @roshniRam -- this is a great issue, and well formatted, thank you! Before marking it as a first-timers-only issue, can you paste the text you want this changed too, since your screenshot doesn't show it (it went off the side of the screen 😄 )

Thanks!

[2018-10-16 05:04] jywarren commented on #62
This one needs a link to a line of code, and then would make a great first-timers-only issue!!!

****

This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://code.publiclab.org/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you'r

[2018-10-16 08:58] Rishabh570 commented on #62
Solving this issue includes doing the following changes shown below,

- Inside div having class `well contributors` in [index.html](https://github.com/publiclab/community-toolbox/blob/main/index.html#L134), add this line,
    `<i class="fa fa-spinner fa-spin"></i>`
    (outside of `<p>` tags)

- Now in [community-toolbox.js](https://github.com/publiclab/community-toolbox/blob/main/src/community-to

[2018-10-16 09:36] Rishabh570 opened #72 "Add a section in the readme showing how to filter issues by labels and repo in the URL."
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

## The Problem

When looking at [embed.html](https://github.com/publiclab/community-toolbox/blob/main/examples/embed.html), we have the option of looking for issues related to a part

[2018-10-16 15:29] gauravano commented on #62
Hi @Rishabh570, please add your above comment with FTO template in issue body to make it a first-timer-issue. Thanks!

[2018-10-16 23:10] jywarren commented on #72
👍🏽

On Tue, Oct 16, 2018, 5:37 PM Rishabh Rawat <notifications@github.com>
wrote:

[2018-10-17 04:12] Rishabh570 commented on #62
@gauravano Please take a look :)

[2018-10-17 04:27] Rishabh570 commented on #57
I would like to work on this.

[2018-10-17 08:21] avsingh999 commented on #71
@starkblaze01 I think this issue like this https://github.com/publiclab/plots2/issues/3685
thanks :)

[2018-10-17 12:07] bkocsis3 commented on #57
Go for it. (: I've gotten too busy at work. ):

On Tue, Oct 16, 2018, 11:27 PM Rishabh Rawat <notifications@github.com>
wrote:

[2018-10-18 05:43] starkblaze01 commented on #71
yeah! Thanks for pointing out.

[2018-10-18 05:59] starkblaze01 commented on #71
:) I have changed it for first-time issue template as it was not mentioned in publiclab/plots2#3685

[2018-10-18 07:49] vagita24 commented on #67
can i take this issue?

[2018-10-18 09:04] roshniRam commented on #67
Yeah sure, go for it @vagita24 😄

[2018-10-18 17:13] Rishabh570 opened #75 "Make usernames link to their Github profile on multi-repository view"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contribut

[2018-10-18 17:16] Rishabh570 commented on #75
@jywarren Can this have a `fto` tag?

[2018-10-20 16:49] Rishabh570 commented on #9
I would like to work on this. Actually, this [PR](https://github.com/publiclab/community-toolbox/pull/73) is related to this issue. That PR actually includes the functionality of showing active contributors last week, with a slight modification (after that PR gets merged) we can make it work for contributors last month.
A user would be able to query however he/she wants... :)

[2018-10-20 18:59] jywarren commented on #9
Please! This would be great. Thanks!

On Sat, Oct 20, 2018, 12:49 PM Rishabh Rawat <notifications@github.com
wrote:

[2018-10-20 21:08] jywarren commented on #67
Hi, @roshniRam just wanted to check if you could update the text you're asking this to be changed to, since the screenshot seems cut off?

Thanks!

You can also show this kind of thing in `diff` mode, like this:

[code]

You can write things like this like this:

![image](https://user-images.githubusercontent.com/24359/47260497-5adbee80-d482-11e8-832f-032cbc834259.png)

[2018-10-21 08:39] DakshGondaliya opened #76 "Create ISSUE_TEMPLATE.md file"
### Please describe the problem (or idea)
Create ISSUE_TEMPLATE.md file and use the same template which is used in
[plots2/.github/ISSUE_TEMPLATE.md](https://github.com/publiclab/plots2/blob/master/.github/ISSUE_TEMPLATE.md)

**File Location**:
[publiclab/community-toolbox/.github/](https://github.com/publiclab/community-toolbox/tree/main/.github)

### Please show us where to look
https://github.c

[2018-10-21 08:47] DakshGondaliya opened #77 "Add Facebook and Twitter icon at the footer"
#### We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.

### Please describe the problem (or idea)
Visit https://code.publiclab.org/ and observe the functionality at the footer for other icons and add the same functionality for Facebook a

[2018-10-22 03:23] #76 closed

[2018-10-22 13:16] jywarren opened #79 "Ability to display all issues with a given label for a whole organization"
I tried this embed link to show all `gci-candidate` issues across all `publiclab` projects, but got a 404 error for the GitHub API call:

https://code.publiclab.org/examples/embed.html#o=publiclab&r=all&l=gci-candidate

[code]

This would be nice so we can pool all `design` issues, all `gci-candidate` issues, across projects, and link to them.

Oddly, we can do this by specifying the `first-timers

[2018-10-22 16:52] SidharthBansal commented on #71
@jywarren can you please add GCI-candidate label to this issue?

[2018-10-22 17:03] Rishabh570 commented on #79
@jywarren I guess this issue is resolved in #70 already, as I tried to navigate to the URL you mentioned above, I got the expected result...

![screenshot from 2018-10-22 22-31-55](https://user-images.githubusercontent.com/25483260/47306558-67ab3e80-d64a-11e8-8d48-a2607ae3fdb4.png)

[2018-10-22 17:03] SidharthBansal commented on #77
@jywarren is it needed?
Should we add this to GCI task list?

[2018-10-22 17:29] SidharthBansal commented on #39
I want to publish this but it is missing the code links, issue statement and potential solution.
@publiclab/mentors you please edit this issue and notify me so that I can publish it.
Thanks

[2018-10-22 18:51] jywarren commented on #77
I think this is OK! I'd prefer they appear to the left of the existing
icons, though. Thanks!!!

On Mon, Oct 22, 2018 at 1:06 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-10-22 19:01] jywarren commented on #71
Ah but actually it's been done here! https://github.com/publiclab/community-toolbox/blob/main/.github/first-timers-issue-template.md

Thank you all!

[2018-10-22 19:01] #71 closed

[2018-10-22 19:05] jywarren commented on #79
Huh, weird! I see:

[code]

[2018-10-22 19:50] #57 closed

[2018-10-22 20:16] DakshGondaliya commented on #77
@jywarren, please review it again. I update the 2nd screenshot in the issue.
Is this ok?

[2018-10-22 20:30] SidharthBansal commented on #77
This task is published on GCI dashboard. Thanks all.

[2018-10-22 21:21] DakshGondaliya opened #80 "Create a Scroll To Top Button"
### Please describe the problem (or idea)
Create a button that will take the user to the top of the page when clicked on the button.

![ezgif com-gif-to-mp4](https://user-images.githubusercontent.com/25260367/47320072-02694480-d66e-11e8-8dde-b120516a1d09.gif)

### Please show us where to look
https://code.publiclab.org/

### What's your PublicLab.org username?
dynamic_daksh

### Browser, version,

[2018-10-22 21:51] DakshGondaliya commented on #80
@jywarren @SidharthBansal, please review this issue.
Is it ok?

[2018-10-23 02:44] Rishabh570 commented on #79
@jywarren It is working fine when I open it,

![screenshot from 2018-10-23 08-11-45](https://user-images.githubusercontent.com/25483260/47331997-9271b300-d69b-11e8-95d9-6263b2fa8570.png)

Are you still getting that error?

[2018-10-23 03:33] Rishabh570 commented on #39
@SidharthBansal I can't seem to edit the issue body, how to do it?

[2018-10-23 03:45] sk9331657 commented on #39
@SidharthBansal  We can only assign ourself mentors to the task but cannot edit it.

[2018-10-23 04:45] SidharthBansal commented on #39
@igniteeng000 please edit it asap

[2018-10-23 04:55] Rishabh570 commented on #39
@igniteeng000 A possible solution would be,

In [community-toolbox.js](), on lines 85, 107 and 124
[code]

and on lines 159 and 174
[code]

[2018-10-23 05:02] SidharthBansal commented on #39
Published onto GCI dashboard
Thanks all

[2018-10-23 06:37] igniteeng000 commented on #39
updated with the possible solution. Thanks, @Rishabh570 for suggesting the solution.

[2018-10-23 07:20] Dhiraj240 commented on #80
@DakshGondaliya Nope, you have to follow this [template](https://github.com/publiclab/plots2/blob/master/.github/first-timers-issue-template.md) so do the required changes and you are good to go.

[2018-10-23 07:32] DakshGondaliya commented on #80
@Dhiraj240 thank you for review my issue, but this is not first timer only issue.It's only GCI candidate issue and I follow the ISSUE_TEMPLATE. md for this issue.

[2018-10-23 07:36] rohan2599 commented on #80
LGTM @jywarren @SidharthBansal please review

[2018-10-23 09:00] DakshGondaliya commented on #80
@SidharthBansal please add gci-candidate and help-wanted labels

[2018-10-23 09:58] SidharthBansal commented on #80
Published

[2018-10-23 12:14] Dhiraj240 commented on #80
@DakshGondaliya Oh, alright keep going.

[2018-10-23 12:14] DakshGondaliya commented on #80
Thank you @SidharthBansal

[2018-10-23 15:42] jywarren commented on #79
Nope, i see it now. Odd. But it doesn't seem like all the issues -- is it just 20 of them? That'd be OK, just checking!

[2018-10-24 05:10] radheyshyamjangid commented on #62
hello @Rishabh570  can i take this issue?

[2018-10-24 05:15] Rishabh570 commented on #62
@radheyshyamjangid Sure, go ahead!!
Also, you might want to visit https://code.publiclab.org/  for first-timer-issues and other useful information...

[2018-10-24 05:19] radheyshyamjangid commented on #75
Hello @Rishabh570 can i take this issue?

[2018-10-24 13:59] jywarren commented on #79
Ah, but I believe there should be over 87, as there are that many even just
on the plots2 repository. I would guess they're paginated... and this may
run us up against limits again, probably? I guess there's not too much we
can do about that...

https://github.com/publiclab/plots2/labels/gci-candidate

On Wed, Oct 24, 2018 at 1:27 AM Rishabh Rawat <notifications@github.com>
wrote:

[2018-10-24 14:08] Rishabh570 commented on #79
I'll take a look into it, currently working on making month's contributors
to show up against queries through URL...

On Wed, Oct 24, 2018, 7:29 PM Jeffrey Warren <notifications@github.com>
wrote:

[2018-10-24 14:10] jywarren commented on #79
No rush! Just documenting! And as more people become familiar with the code
perhaps someone else will take this up. :-)

On Wed, Oct 24, 2018, 10:08 AM Rishabh Rawat <notifications@github.com
wrote:

[2018-10-25 17:59] radheyshyamjangid commented on #75
now can i take this @Rishabh570

[2018-10-26 02:35] Rishabh570 commented on #75
@radheyshyamjangid I left a comment, #84

[2018-11-03 11:04] Paarmita commented on #80
@CodeSarthak You can follow the installation instructions to set up the project locally.https://github.com/publiclab/community-toolbox#install-instructions

[2018-11-06 08:29] plxity opened #90 "Unwanted margin in the bottom"
### Please describe the problem (or idea)
There is an unwanted margin present in the bottom of the page.

To make the UI look better, we can remove the unwanted margin from the bottom of the page.

Original Page
![capture1](https://user-images.githubusercontent.com/28510494/48051749-f46a0680-e1cb-11e8-8011-1f3c8ec0a947.PNG)
 After removing extra margin
![capture](https://user-images.githubusercont

[2018-11-07 00:14] #62 closed

[2018-11-07 00:19] #9 closed

[2018-11-07 04:37] #39 closed

[2018-11-07 04:41] #77 closed

[2018-11-07 04:41] jywarren commented on #13
@Rishabh570 perhaps this one could be implemented similarly to the "recently active" list?

[2018-11-11 17:58] jywarren opened #92 "Recent contributors - is it by repository?"
I went to https://code.publiclab.org/#r=image-sequencer, to see recent contributors for that project, and compared it to:

https://github.com/publiclab/image-sequencer/pulse/monthly
https://github.com/publiclab/image-sequencer/pulse/weekly

I'm not sure if it's pulling recent contributors for all of plots, though?

![image](https://user-images.githubusercontent.com/24359/48316410-4c7c8080-e5b1-11e

[2018-11-11 19:39] jywarren commented on #92
I think perhaps the list of contributors is being shown for /all/
repositories across publiclab, no just for the one I wanted to see,
"image-sequencer". Maybe Rishabh can take a look at this to clarify? But no
big rush!

On Sun, Nov 11, 2018 at 2:23 PM subhahu <notifications@github.com> wrote:

[2018-11-12 05:45] Rishabh570 commented on #92
Yes, that's true...currently, the data is being fetched from the top 10 most active repos. It is not designed to get the recent contributors of a particular repo...
If that's needed, I would love to work on it :)

[2018-11-12 07:12] Rishabh570 opened #94 "Enhancement in the spinner icon behaviour"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-11-12 18:49] Buferr commented on #94
Hi!
I want to start my adventure with open source. Can I tackle this one?

[2018-11-12 18:59] jywarren commented on #92
If you're interested, that would be wonderful! Thanks!!

On Mon, Nov 12, 2018, 12:46 AM Rishabh Rawat <notifications@github.com
wrote:

[2018-11-13 00:52] mans4321 commented on #94
same here

[2018-11-13 04:33] Rishabh570 commented on #94
@Buferr Go ahead!
@mans4321 There are plenty of issues out here: https://code.publiclab.org/ Take a look at them, claim what you want to work on and make a PR then :)

[2018-11-13 16:34] Rishabh570 commented on #92
Okay, I'll do it...its gonna restructure a chunk of code though :thought_balloon:

[2018-11-13 18:49] anujji1999 commented on #75
Hello @Rishabh570  should i work on this issue?

[2018-11-13 19:33] jywarren commented on #92
well, i trust your understanding of the code... i wonder, do you think we
should come up with a more modular system that can accommodate this usage?

On Tue, Nov 13, 2018 at 11:34 AM Rishabh Rawat <notifications@github.com>
wrote:

[2018-11-13 19:34] #94 closed

[2018-11-14 05:05] Rishabh570 commented on #92
Yeah, I also agree...the codebase is getting bigger and complex...what would you suggest for this?

[2018-11-14 05:06] Rishabh570 commented on #75
@anujji1999 Sure :+1:

[2018-11-14 08:51] subhahu123 opened #103 "Unlinked Recent Contributors images and their Names [no hover effect]"
### Please describe the problem (or idea)
NO Hover effect when cursor goes on their images
##gif
![peek 2018-11-14 14-18](https://user-images.githubusercontent.com/34541684/48470759-49cf9480-e818-11e8-9daf-706afbec7cf0.gif)
image are not linked to their github profile
we can only see images of recent contributor ........but should also link to their profile
Nor the their contributor names are link

[2018-11-14 08:53] subhahu123 commented on #103
@jywarren review this
@Rishabh570

[2018-11-14 09:09] Rishabh570 commented on #103
@subhahu123 Hmm...would you like to this up?

[2018-11-14 18:23] #79 closed

[2018-11-14 23:56] jywarren commented on #103
Hmm, yes i noticed this today. Let's see why this is happening!

On Wed, Nov 14, 2018 at 3:52 AM subhahu <notifications@github.com> wrote:

[2018-11-15 00:07] jywarren commented on #103
Is this linked to https://github.com/publiclab/community-toolbox/issues/75 ?

[2018-11-15 00:10] jywarren commented on #92
We could think about separating along an MVC model, where data is fetched and stored, and we have view templates separately, so we can query the storage system based on some parameters based on the use case, then use the templates to format them for insertion into the page. Controller code could interpret the URL and coordinate this all.

We could alternatively consider a bigger project to use a s

[2018-11-15 04:19] Rishabh570 commented on #103
@jywarren Nope, #75 is only for the list of contributors that show up on multi-repo view...

[2018-11-18 13:47] Rishabh570 commented on #92
@jywarren I'm thinking of using React (for frontend), Redux (for state management in react), express.js framework (for backend) and MongoDB for DB...it will be following MVC pattern, having a controller layer talking to the database and serving it to React for front-end and redux will manage states (data coming from DB will be stored in react states)
If you allow, I would love to work on this...It

[2018-11-18 17:35] jywarren commented on #92
Hmm, but would we be able to still do this as a client side application?

On Sun, Nov 18, 2018, 8:48 AM Rishabh Rawat <notifications@github.com wrote:

[2018-11-20 15:16] Rishabh570 commented on #92
Hi @jywarren, Do we want it to be just a pure client-side project...? If that's the case, I would look for another way around. I also saw `image-sequencer`, it's much bigger than this project...are we looking for something like that?
I am looking around for the various way to do this...need your help about which stack to go with :)

[2018-11-20 19:14] jywarren commented on #92
I think it is ideal that it be purely client-side, as then people can run
it in the gh-pages system. We don't necessarily need to adopt a whole new
stack -- maybe we just need to start managing one portion in a more
structured way, like separating the views from the logic, for example.
Image sequencer is a good example where the UI logic is very separate from
the back-end image processing, and a s

[2018-11-21 14:14] Rishabh570 commented on #92
Okay, so we need a separate folder that contains all the data fetching, another one containing views...right?

[2018-11-21 16:00] jywarren commented on #92
Yes, you could have one called /api/, for the code to fetch the data, maybe
one called storage, one called ui? And clear relationships between them. We
might decide to use a standard component or library for the storage, right?
And decide on a standard format for the stored items. Could be a db-like
layer over localstorage... does MongoDB do something like that?

On Wed, Nov 21, 2018, 9:15 AM Rish

[2018-11-21 16:59] Rishabh570 commented on #92
layer over localstorage

Hmm, I guess IndexedDB does that, never used that though...I'll look for its tutorials...
Yes, `storage` for code interacting with storage and `ui` for code interacting with UI would be a clean and understandable structure...
Once, I figure out the database to use, I'll share the project structure with you....once we decide that, I'll start working on it :)

[2018-11-23 16:51] Rishabh570 commented on #92
Hi @jywarren, I've looked at some sample code in order to understand how indexedDB work...I guess it is the right/appropriate choice for storage (as an aside, it can store objects also without converting them to string)...
we can have our project structure like so,

![screenshot from 2018-11-23 22-11-45](https://user-images.githubusercontent.com/25483260/48953743-ddb60480-ef6c-11e8-85a5-49e55ed686

[2018-11-27 00:11] jywarren commented on #92
This sounds great! I like it a lot! What do you think the data format will
be to store with -- pretty much as GitHub API returns it? Plus, perhaps,
the timestamp it was fetched?

On Sun, Nov 25, 2018 at 12:22 AM Rishabh Rawat <notifications@github.com>
wrote:

[2018-11-27 04:37] Rishabh570 commented on #92
@jywarren We can store everything in the form of key-value pairs...so we will store all the data returned from Github API without any adjustments (as an object) and timestamps in strings...

[2018-11-28 05:42] #90 closed

[2018-11-28 06:15] Rishabh570 commented on #32
@jywarren I can open a follow-up PR for this once I complete making the MVC thing...like currently, we see recent contributors last week & last month, we can do something to show recent contributors last week for `fto` only...(data we get from Github API gives us a big JSON, that would help prob)

[2018-11-28 06:53] Rishabh570 commented on #32
@jywarren I can open a follow-up PR for this once I complete making the MVC thing...like currently, we see recent contributors last week & last month, we can do something to show recent contributors last week for `fto` only...(data we get from Github API gives us a big JSON, that would help prob)

[2018-11-28 06:55] Rishabh570 commented on #13
Ohh...sorry for inactivity here, Yep this would be similar to that! I will take a look :)

[2018-11-28 17:59] dinaelhanan commented on #72
Done!

[2018-11-28 19:59] dinaelhanan commented on #75
@Rishabh570 Just wondering, did the PR #103 fix this already? Hoping to work on this if @jywarren hasn't already done it

[2018-11-28 20:07] #72 closed

[2018-11-29 12:36] Rishabh570 commented on #92
Hi @jywarren I've completed the contributors part, now it fetches contributors of all (top 20) repos & saves it in the database in the beginning of page load so that any request in the future is served from the database (database refreshes everyday)...Here is a working GIF,

![issues_92_2](https://user-images.githubusercontent.com/25483260/49222218-4a178480-f401-11e8-9dae-45144ad4dead.gif)

Now I'

[2018-11-29 16:32] Rishabh570 commented on #92
BTW It doesn't fetch data from 20 repos in the GIF because I was short on API quota at the time I was recording this :)

[2018-11-29 20:02] jywarren commented on #92
Wow, do you have a PR open? fantastic work on this, very cool!

If there's a "fetch()" method we can actually monitor the API usage by looking at last fetched data in the database, and initiate a new fetch as soon as API quote re-ups... cool!

Will we want to filter or merge the requests in any way after requesting, or are we just using the most recent complete fetch? If we filter or standardize a

[2018-12-01 16:00] Rishabh570 commented on #92
@jywarren I've open a WIP PR for it #107
Please take a look :)

[2018-12-01 16:04] Rishabh570 commented on #69
@jywarren Can it be converted into a GCI task?

[2018-12-02 01:11] jywarren commented on #69
Yep! Doing so now.

[2018-12-02 01:12] jywarren commented on #69
https://codein.withgoogle.com/dashboard/tasks/4761125351587840/

[2018-12-02 12:57] oorjitchowdhary commented on #69
Which project? @publiclab/mentors

[2018-12-02 13:08] gauravano commented on #69
Screencast of plots2

On Sun, Dec 2, 2018 at 6:27 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-02 13:09] gauravano commented on #69
Actually, we can create these tasks for all our active repositories.

On Sun, Dec 2, 2018 at 6:38 PM Gaurav Sachdeva <
sachdeva.gaurav1997@gmail.com> wrote:

[2018-12-02 17:55] JonathanXu1 commented on #69
Hi, I've claimed this task. Here's the screencast for the installation of the repository: https://youtu.be/PLPsm8K3Tl0

[2018-12-02 19:09] JonathanXu1 commented on #69
Here's the properly filmed screen cast: https://youtu.be/OLiyShl6Lh8

[2018-12-02 19:49] gauravano commented on #69
@jywarren check this out. Also, any thoughts about the next steps with the video :smiley: .

[2018-12-03 06:37] Rishabh570 commented on #69
@jywarren Do we want to have installation screencast for Linux, mac as well as windows?

[2018-12-05 07:32] oorjitchowdhary commented on #80
Can I take this up? Also, I can't find a gci task for this..

[2018-12-05 23:32] jywarren opened #108 "Add author thumbnail to issue display"
Thinking about the display on https://code.publiclab.org, we modeled it on GitHub's default style. But maybe we could do better?

![screen shot 2018-12-05 at 6 24 38 pm](https://user-images.githubusercontent.com/24359/49550904-35346880-f8bb-11e8-9760-9f24dc948120.png)

What if we did more to highlight the person posting the issue, since our community is so people centric? GitHub does this on the i

[2018-12-09 15:18] Rishabh570 commented on #108
Umm...this would be cool!

As an aside, we can show recent contributors' commits count on hover or something...and send an automated mail to thank the contributor of the week...just some thoughts ;)
What do you think about this? Obviously this is something to be done after MVC thing...

@jywarren I understand :)

[2018-12-10 18:48] jywarren commented on #108
yeah actually we can do a number of things -- i think GitHub shows a little
info popup for people now. Cool! And yes, after MVC!

On Sun, Dec 9, 2018 at 9:18 AM Rishabh Rawat <notifications@github.com>
wrote:

[2018-12-11 02:10] professionalzack commented on #108
Hello I would like to contribute. Specifically the "thumbnails" bit. Thanks !

[2018-12-16 13:53] debck commented on #67
I want to work on this issue. Please assign me

[2018-12-16 14:54] jywarren commented on #67
No need to be assigned, actually! But please go ahead, we'd love your help!

On Sun, Dec 16, 2018, 8:54 AM Debasish Sahoo <notifications@github.com
wrote:

[2018-12-16 15:41] #67 closed

[2018-12-17 13:09] gauravano commented on #50
Issue is created and closed at https://github.com/publiclab/plots2/issues/3567. Closing this one now. Thanks all!

[2018-12-17 13:09] #50 closed

[2018-12-17 14:02] gauravano commented on #22
Hi @RignonNoel @angelfeliz just checking if any of you are interested in solving or breaking this issue further. Thanks!

[2018-12-17 14:06] gauravano commented on #3
@jywarren

[2018-12-17 14:20] Rishabh570 commented on #3
Ohh sorry I've somehow missed to reply here...
@gauravano @jywarren Yeah, this would be cool...actually, we have a whole lot of opportunities because of the rich JSON that Github gives us. This would surely be beneficial and helpful because we would be able to have a better picture of our progress and time friction between opening a PR and it being reviewed will decrease...
This could be a great f

[2018-12-17 14:40] Rishabh570 commented on #3
Yeah, I agree...we should think about the breakpoints for issues.

Fetching and selecting those PRs that are inactive for quite a while can be based upon the timestamp (or datestamp) of the last comment on that PR (need to go through the JSON that Github returns when we query for PRs for a repo). Showing that on the page can be another issue.

[2018-12-17 20:14] RignonNoel commented on #22
I had time in March after i heard about this project during LibrePlanete, but since this project is not really active i developed my own intern tool in place and i don't have time to help on this. Sorry,

[2018-12-17 20:34] gauravano commented on #22
Hi RignonNoel, no problem. Hopefully, we could work on some other idea or project someday.

Thanks!

[2018-12-22 19:48] lakshyabatman commented on #75
I've submitted a PR for this issue. #111

[2018-12-22 21:12] lakshyabatman commented on #103
Is anyone taking this issue or I start working out on it?

[2018-12-31 04:17] #75 closed

[2019-01-02 22:50] jywarren opened #112 "Contributors list is empty - error?"
Hmm, at https://code.publiclab.org#r=all, i'm seeing nobody in the contributors list; same in incognito mode. I haven't loaded it for days, so I don't think it's queue exhaustion. Anyone have ideas? @Rishabh570 maybe?

Thanks!

![screenshot 2019-01-02 at 5 35 57 pm](https://user-images.githubusercontent.com/24359/50616555-e75d5100-0eb6-11e9-93f6-ecea02516c03.png)

[2019-01-03 07:21] Rishabh570 commented on #112
Hmm, I've also tried it on `code.publiclab.org` and it turns out that it's hitting the quota limit and hence not being able to show every piece of info that is required...
For some quick maths,
- Recent contributors part eats up 20 requests (10 for monthly and 10 for weekly) and its optimization is WIP, we'll able to reduce it to 10 requests in total...
- All contributors list (as shown on `code.p

[2019-01-03 15:39] Rishabh570 commented on #112
@jywarren I tested after going back in commits (recent ones) and it's working properly at that point...I believe 2 of the recent commits (which include changes in `dist/`) are the cause, let me just be sure enough then I'll update you!

[2019-01-03 17:21] jywarren commented on #112
also we may not be on a very recent version in gh-pages, so perhaps we
should start versioning more consistently -- you should be able to check
package.json at least though...

On Thu, Jan 3, 2019 at 10:39 AM Rishabh Rawat <notifications@github.com>
wrote:

[2019-01-06 18:13] subhahu123 commented on #112
![screenshot from 2019-01-06 23-41-46](https://user-images.githubusercontent.com/34541684/50739936-bfe6eb00-120c-11e9-89ca-64d6629ca0e4.png)

github api server is showing 403 error
@jywarren  @Rishabh570

[2019-01-06 18:15] subhahu123 commented on #112
it's showing that

{
  "message": "API rate limit exceeded for 139.167.207.65. (But here's the good news: Authenticated requests get a higher rate limit. Check out the documentation for more details.)",
  "documentation_url": "https://developer.github.com/v3/#rate-limiting"
}
![screenshot from 2019-01-06 23-44-46](https://user-images.githubusercontent.com/34541684/50739953-148a6600-120d-11e9-8298-

[2019-01-06 18:19] subhahu123 commented on #112
i don't think that this is because of last commits
it is about api rate list exceding

[2019-01-07 15:34] jywarren commented on #112
Hmm. Here's what i see in logs:

https://gist.github.com/jywarren/d1e74c754a52cc51db709f7c4d0a13f7

It still looks like the 403 exhausted queue. How long should it take for my queue to refill?

[code]

[2019-01-07 15:34] jywarren commented on #112
Anyways glad most people aren't seeing this!

[2019-01-07 15:39] Rishabh570 commented on #112
After every 60min queue gets refilled...
Can you please try once again when your quota get refilled (takes 1hr to refill), just remove everything from your localStorage and then visit the site (make sure to visit the URL after removing the localStorage)...if it still throws 403, something wrong is in the code then...

[2019-01-07 15:41] jywarren commented on #112
ok!

On Mon, Jan 7, 2019 at 10:40 AM Rishabh Rawat <notifications@github.com>
wrote:

[2019-01-08 11:37] Rishabh570 commented on #112
@jywarren One more thing, can we just remove these two commits from main, [this](https://github.com/publiclab/community-toolbox/commit/5ab07cda0a9effdad9caf48d41412dbbf69b660a) and [this](https://github.com/publiclab/community-toolbox/commit/7ef2324e091d10e04a24098244fdd731a0ecd75c) as these contain changes in `dist/`?

As an aside, `gh-pages` would be suitable for testing my changes I guess..?

[2019-01-09 06:57] Rishabh570 commented on #103
@lakshyabatman Your PR is merged, right?

[2019-01-09 07:15] lakshyabatman commented on #103
No, I haven't submitted any PR on it, if anyone is not applying I'll start working on it.

[2019-01-09 07:53] lakshyabatman commented on #103
Yes, but commented on this before merging.

[2019-01-09 09:12] Rishabh570 commented on #103
Your recent PR is merged which resolves this I guess? [this](https://github.com/publiclab/community-toolbox/pull/111), I guess this should be closed now...

[2019-01-09 09:14] lakshyabatman commented on #103
This PR, is for image of recent contributors as well the name of them.
#75 , in this PR in which I contributed was for the names only not for their images.

[2019-01-09 09:48] lakshyabatman commented on #103
I'm submitting an PR, the images will also have link to github profile as well it will work for monthly contributors as well. @Rishabh570 is it okay sir?

[2019-01-09 09:59] lakshyabatman commented on #103
#124 , @Rishabh570 sir please check this.

[2019-01-10 15:09] Rishabh570 commented on #112
@jywarren I've found why we're hitting the limits of API almost everytime :smile:
Actually, we're making 2 requests per repository...first to collect total number of pages that the request gives us back and then iterating on those pages to collect the data of contributors...so we're making ~40 requests for 20 repos and 20 is consumed by the data of recent contributors and some extra requests for f

[2019-01-10 22:35] jywarren commented on #112
wow this is super awesome work!!! Thank you so much!

Hmm. Could we... get more complete data for fewer repositories? Like 4
pages from the top 10, or top 8?

On Thu, Jan 10, 2019 at 10:10 AM Rishabh Rawat <notifications@github.com>
wrote:

[2019-01-11 07:34] Rishabh570 commented on #112
Actually, I'm also thinking this way :)
I guess only `plots2` contains 4 pages of data (because it has approx 334 contribs) and other top 19 repos need only 1 page (because they have less than 100 contribs)...

I'll take a look at the contribs count once again for each repo to be sure...I guess we'll able to allow few repos to make more than 1 requests...

[2019-01-11 17:24] Rishabh570 commented on #112
Hi @jywarren, can you please take a look at https://rishabh570.github.io/community-toolbox/
I've done some modifications and pushed them to my `gh-pages` branch and they're live at above URL...can you please visit this and check if everything is working fine or not (hopefully 403 shouldn't be there now)...

[2019-01-12 02:15] Rishabh570 commented on #112
@jywarren Yes, quota should be full...

[2019-01-12 04:49] lakshyabatman commented on #103
@Rishabh570 this issue has been solved now.

[2019-01-12 18:16] Rishabh570 commented on #112
@jywarren Is it working fine? I would be opening a PR for it if its working okay... :crossed_fingers:

[2019-01-14 21:23] gauravano commented on #103
Hi @lakshyabatman thanks for notifying. Although, I have some suggestion regarding the UI of the page, which match this issue quite a bit, but I will open a new issue. Thanks all.

[2019-01-14 21:23] #103 closed

[2019-01-15 02:50] #112 closed

[2019-01-15 05:53] dependabot[bot] opened #126 "Dependabot can't parse your package-lock.json"
Dependabot couldn't parse the package-lock.json found at `/package-lock.json`.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-15 10:12] lakshyabatman opened #127 "Ideas for changing the design for showing recent contributors"
Well, I was thinking about the way we show contributors, injecting the usernames and then their avatars, we can think of a better way of showing it , like in a small card shape with name and profile picture on it.

![simplescreenrecorder-2019-01-15_15 36 54](https://user-images.githubusercontent.com/29687362/51173734-11156f80-18dc-11e9-833c-b051380373b9.gif)

It would look more elegant.
Or some ot

[2019-01-15 14:09] gauravano opened #128 "Add Code of conduct to Community Toolbox"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-01-15 17:01] toyblox commented on #128
I would like to claim this issue.. eep.

[2019-01-15 18:03] gauravano commented on #128
Awesome!

[2019-01-15 18:14] #128 closed

[2019-01-17 00:03] jywarren commented on #127
Love this idea! We want it to be compact but nice. Maybe we could also do the kind of popover using Bootstrap that GitHub does:

![image](https://user-images.githubusercontent.com/24359/51286466-257f6800-19c1-11e9-8887-a845ebd3d6e6.png)

Only thing to keep in mind is we like the selectable text usernames below so we can copy paste easily into a GitHub comment and notify everyone. But maybe this co

[2019-01-17 01:37] lakshyabatman commented on #127
Sure let's do ths! 😀

[2019-01-17 16:45] Rishabh570 opened #131 "Brainstorming for SoC (features and enhancements for code.publiclab.org)"
Hi all, as we know that `code.publiclab.org` is about welcoming newcomers and looking at our growing community involvements...I think we should think about how we can make even it more welcoming and have a much deeper look at our growing community.

I've opened this issue as a discussion thread where we can list what feature/enhancements would help us achieve the mission of this project (i.e., cod

[2019-01-18 00:15] jywarren commented on #126
Hmm, @Rishabh570 do we have an error in our package-lock.json?

[2019-01-18 20:48] jywarren commented on #126
ah, ok. Would you mind taking this on?

On Thu, Jan 17, 2019 at 10:30 PM Rishabh Rawat <notifications@github.com>
wrote:

[2019-01-19 03:48] Rishabh570 commented on #126
Sure :)

[2019-01-19 03:49] Rishabh570 commented on #126
I'll open a PR for it asap...

[2019-01-19 06:57] Rishabh570 commented on #131
@lakshyabatman That's a great idea! I'm gonna make a checklist for keeping track of these :)

[2019-01-19 07:32] lakshyabatman commented on #131
Although we can  focus on making it more mobile friendly! So everyone can have better experience while using this project.

[2019-01-19 16:32] Rishabh570 commented on #131
Yes, sure!

[2019-01-21 11:21] lakshyabatman commented on #127
https://codepen.io/lakshyabatman/pen/GzKyyW
@jywarren  Check this, it's totally on bootstrap! Tell me what else I can add on it and we can add it in the project

[2019-01-23 17:30] gauravano commented on #131
Actually, instead of having name on the card, we can show zoomed image and name on hovering over a image.

[2019-01-23 22:46] #126 closed

[2019-01-24 00:36] jywarren commented on #131
Oh this is such a great list. I love the fallback and notification items. Great brainstorming here! Maybe @sashadev-sky has some ideas too after working on community collation a bit?

[2019-01-24 00:39] jywarren commented on #131
This is so important! I think community toolbox is one of the reasons our community continues to grow so quickly (in addition of course to all the amazing support and welcoming you all have been doing!)

Ok one more idea- some way to filter the issues themselves to show what are stuck, or haven't been updated... Helping newcomers find unclaimed ones maybe!

Also who has /created/ an fto recently,

[2019-01-24 00:39] jywarren commented on #131
Should we add supportive tasks to the page as well?

[2019-01-24 02:31] Rishabh570 commented on #131
@jywarren Hmm...issues with no recent activity would also help in finding out where people are stuck. But I wonder how we should decide if people are stuck or not...can we do this by looking at the last comment datestamp and the issue status (open or not)?

Oh, I forgot about showing `fto` authors list...I'll include it also :)

Sorry, but what are supportive tasks? `fto-candidates`?

[2019-01-24 04:35] lakshyabatman commented on #131
@Rishabh570 @gauravano , As I have mentioned in #127 , it is static though but hover effects can be added or I can work on Githhub Profile pop up if you like.

[2019-01-24 07:20] sashadev-sky commented on #131
Hi, I am glad to see this issue is open I think it's important too.

I think all of the enhancement ideas above have merit! Making additional data easily available and filterable will enhance every contributor's experience, not just new users. But that is where they get conflicted - a user that wants to learn how to get involved and a frequent collaborator want different tool sets. Once a user kno

[2019-01-25 12:54] Rupeshiya commented on #131
@Rishabh570  We can add pagination to make loading of page more faster as well as in the cotributor section .
Also we can make it progressive web app to make it more engagable .

[2019-01-28 17:33] Rishabh570 commented on #131
Thanks everyone for discussing great ideas...!!!

So, I'm currently looking for possibilities of suggested ideas, if Github API helps us we would be able to incorporate these desired features like listing fto authors, issues inactivity etc...otherwise we'll have to look for workarounds.

[2019-02-03 22:47] jywarren opened #135 "List # of first-timers-only issues and # of candidates in headers"
The current welcome page looks like this:

![image](https://user-images.githubusercontent.com/24359/52183995-b89b0900-27db-11e9-9231-0663868666b4.png)

We should have it say:

## First-timers-only issues (11)

This should be pretty easy to implement -- maybe a good first-timers-only issue?

[2019-02-04 15:55] djovercash commented on #135
May I work on this issue?

[2019-02-04 17:53] jywarren commented on #135
Yes please!!!

On Mon, Feb 4, 2019, 10:55 AM Drew Overcash <notifications@github.com wrote:

[2019-02-04 18:16] djovercash commented on #135
Thanks for letting me work on it! Are there any credentials I need in order to access the API? Currently, I get a 403 each time I run it locally due to exceeding the rate-limit?

[2019-02-06 23:14] jywarren commented on #135
ah, rate limiting is an issue we're working to resolve... unfortunately for
now you may just need to wait an hour or so to test further.
Hopefully @rishabh570's upcoming work on a data store will improve the
situation!!!

On Mon, Feb 4, 2019 at 1:16 PM Drew Overcash <notifications@github.com>
wrote:

[2019-02-09 18:45] lakshyabatman commented on #127
Sorry, I wasn't able to work on this issue! I'll be starting it asap :)

[2019-02-10 12:00] gauravano commented on #127
Great!

On Sun, Feb 10, 2019 at 12:15 AM Lakshya Khera <notifications@github.com>
wrote:

[2019-02-14 05:52] Harshithpabbati commented on #80
can i work on this??

[2019-02-14 09:25] gauravano commented on #80
Hi @Harshithpabbati, sure. Go ahead!

[2019-02-14 09:26] gauravano commented on #80
And, sorry @oorjitchowdhary for missing your comment, but I guess, you are no more interested in this issue. Thanks!

[2019-02-14 12:29] Harshithpabbati commented on #80
I am done with it.How do i send pr to it any format???

[2019-02-14 12:41] gauravano commented on #80
When you make the PR, you'll see the checklist in the body, try to follow
those rules. Thanks!

On Thu, Feb 14, 2019 at 5:59 PM Harshith pabbati <notifications@github.com>
wrote:

[2019-02-21 00:31] #92 closed

[2019-02-21 12:55] Rishabh570 opened #141 "Keeping track of our development roadmap!"
So far, we've made our project's structure to follow the MVC pattern, having a data layer (indexedDB). We've also reached our goal to show contributors' data repository-wise and optimised our code in order to save a considerable amount of requests while fetching recent contributors' data. However, we have a decent amount of things that need to be done still...they include,

- [ ] Refactoring our c

[2019-02-21 12:58] Rishabh570 commented on #141
@jywarren I've opened this issue to discuss our development roadmap :smiley: . I've listed things according to their priorities, top having the most priority! Is it appropriate?

[2019-02-21 18:04] jywarren commented on #141
This looks awesome. It's also a great roadmap for others working on
different PL libraries! You should share in the weekly check in!

On Thu, Feb 21, 2019, 4:59 AM Rishabh Rawat <notifications@github.com>
wrote:

[2019-02-23 03:02] Rishabh570 commented on #141
Sure :)

[2019-02-23 12:49] gauravano commented on #141
Hey @Rishabh570, nice checklist :+1:.

[2019-03-01 20:12] subhahu123 opened #142 "Adding meta tags for SEO"
### Please describe the problem (or idea)

Meta tags for SEO in index.html

### Please show us where to look

https://www.google.co.in/search?ei=OpJ5XMLMH86VwgOdrKLoCA&q=code.publiclab.org&oq=code.publiclab.org&gs_l=psy-ab.3...7003.9733..10362...0.0..0.210.618.2-3......0....1..gws-wiz.0pxAVPWCqyk

![screenshot-www google co in-2019 03 02-01-43-30](https://user-images.githubusercontent.com/34541684

[2019-03-03 14:57] Rishabh570 commented on #141
@jywarren I want to implement these things (and #131 ) during my GSOC...should I add these in my draft?
Or, we need to discuss them first...?

[2019-03-04 16:59] jywarren commented on #141
Hi @Rishabh570 thank you! I think you could open a proposal and we can discuss in there!

[2019-03-04 17:27] subhahu123 opened #149 "Add 404 page instead of using default page (by github)"
### Please describe the problem (or idea)
Currently we are using default 404 page of github
Instead of that we should have our own 404 page

[2019-03-04 17:31] subhahu123 opened #150 "Changing Contributors List UI To Bootstrap Card"
### Please describe the problem (or idea)

Currently view or the way website presents the list of contributors is very
Instead of that we can use bootstrap card for good view or desiging the lists of contributors

[2019-03-04 20:43] jywarren commented on #150
Hi, maybe it'd be great to see this titled in a more positive way, like "Bootstrap Card UI for contributors list"? That way we're not making anyone feel bad about the design as it is. Thank you for your suggestion and we'd love to have help!

[2019-03-04 20:56] subhahu123 commented on #150
Sorry about this.... I will definately change it to .....

[2019-03-04 21:32] jywarren commented on #150
no problem, and thanks!

On Mon, Mar 4, 2019 at 3:57 PM subhahu <notifications@github.com> wrote:

[2019-03-08 19:13] jywarren opened #152 "Add "fork me on Github" ribbon to top corner"
I worry people don't know they can use this code for their own community! Let's add a ribbon in the top corner?

https://github.com/brookjordan/corner-ribbon

[2019-03-09 15:09] subhahu123 commented on #142
@jywarren @publiclab/reviewers  please review this and PR also

[2019-03-11 21:47] jazdao commented on #152
Hi @jywarren, may I suggest [this](https://github.com/tholman/github-corners)? :)

[2019-03-11 22:05] jywarren commented on #152
That'd be great! Are you interested in giving it a try? Thank you!

On Mon, Mar 11, 2019 at 5:47 PM Jasmine Dao <notifications@github.com>
wrote:

[2019-03-11 22:41] jazdao commented on #152
Sure! Is there a particular page the banner should be on?

[2019-03-11 22:50] jywarren commented on #152
Just the default `index.html` page in the root directory would be great!
Thank you!

On Mon, Mar 11, 2019 at 6:41 PM Jasmine Dao <notifications@github.com>
wrote:

[2019-03-12 01:11] jazdao commented on #152
Hi @jywarren, could I ask for some input? Before I made any changes to the files, I tried to open the index.html page in a browser, but some of the resources failed to load:
![main](https://user-images.githubusercontent.com/22950070/54167436-e3a1f980-4426-11e9-8154-46b98aa9cb16.JPG)

I thought that it was an issue with my browser at first, but the same thing happened when I checked the [RawGit lin

[2019-03-12 01:22] avsingh999 opened #155 "Add dark theme"
### Please describe the problem (or idea)
I think if we can add a change theme button and the theme will be a toggle to the dark theme. It would be a better UI.

### Please show us where to look

https://code.publiclab.org/

### What's your PublicLab.org username?
singhav

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate you

[2019-03-12 01:23] avsingh999 commented on #155
@jywarren @SidharthBansal @gauravano @publiclab/mentors what do you think about this please review if it's valid.
thanks : )

[2019-03-12 14:37] gauravano commented on #155
We can try that :+1:

[2019-03-14 12:06] lohitha02 commented on #131
Instead of just showing the name and avatar of the user on the compact card we can even show a graph based upon the recent contributions that he has made. What do you'll think about it?

[2019-03-14 12:10] lohitha02 commented on #131
Also maybe we can have a leader board for all the new contributors based upon their contributions which will definitely boost up their confidence and also it will keep them motivated for securing the top position and keep working hard for achieving it. What do you think about this @jywarren ?

[2019-03-15 07:04] subhahu123 opened #159 "Add minify plugin to grunt for Css"
### Please describe the problem (or idea)

Currently the css after build is not minified
it should be minified so that it's size can be decreased .

## Reference For FTO
  PR : #158  ( not yet completed )
 https://gruntjs.com/plugins/minify
https://github.com/gruntjs/grunt-contrib-cssmin

![screenshot-github com-2019 03 15-12-38-07](https://user-images.githubusercontent.com/34541684/54414461-33cad

[2019-03-15 07:15] subhahu123 opened #160 "Add yarn package manager"
### Please describe the problem (or idea)

currently we r using npm what if others user are comfortable yarn
i think we should add it

[2019-03-15 07:17] subhahu123 opened #161 "Add uglify for minifying the js"
### Please describe the problem (or idea)

### Please show us where to look

https://code.publiclab.org/ ...

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be

[2019-03-15 07:18] subhahu123 opened #162 "Create video slider for beginners to open source"
### Please describe the problem (or idea)

Create a video slider for beginners where we will add videos for beginner to open source

something like this

![screenshot-127 0 0 1-5500-2019 03 09-19-46-20](https://user-images.githubusercontent.com/34541684/54072689-4fa82480-42a4-11e9-8d04-c1f17807eeb0.png)

[2019-03-15 07:21] subhahu123 opened #163 "Create Youtube channel or playlist for beginners ( fto )"
### Please describe the problem (or idea)

#### Refer #153

#### Suggested by @HarshKhandeparkar ( `HarshKhandeparkar` )
Instead of statically pull the video list form youtube we can youtube api with our channel playlist for beginners to show the videos

for this we have maintain our channel or playlist

[2019-03-15 18:18] jywarren commented on #161
Oh this would be cool! Would love a PR for this. Thank you!

On Fri, Mar 15, 2019 at 3:17 AM subhahu <notifications@github.com> wrote:

[2019-03-16 04:21] sashadev-sky commented on #131
@lohitha02 I like that idea but my main issue with that is we only have access to commit frequency from the Github API so we can't reward people for other types of contributions. As @Rishabh570 mentioned we might need a work around. Not sure if creating this workaround is even plausible

[2019-03-16 07:19] Rishabh570 commented on #131
The idea of leaderboard is good!
We can compare on the basis of the _number of commits_ & _issues opened_ but other factors are being neglected...like engagement with the community, helping others in their PRs, actively participating in the check-ins and the likes.

We can mention (on the website) about the factors taken into account while generating the leaderboard though :thinking:

Lets wait fo

[2019-03-17 16:55] subhahu123 opened #165 "[suggestion] Which MVC framework should be used ??"
### Please describe the problem (or idea)

#### Asking for suggestion

Which MVC framework should be used
`angular`, `react`, `ember` or simply `handlebars`

For angular framwork ( i m working on )
https://community-toolbox.stackblitz.io/
https://github.com/publiclab/community-toolbox/pull/145 ( new changes )
( check this out )

Repo : https://github.com/subhahu123/mvc-community-toolbox

[2019-03-17 17:09] subhahu123 commented on #165
@HarshKhandeparkar  @gauravano  @publiclab/reviewers @publiclab/community-reps

[2019-03-17 17:18] HarshKhandeparkar commented on #165
I would suggest react as it is simple(resembles with html), written in es6 and jsx which are the standards of the future (we might not have to compile react in the future) and it doesn't use any preprocessor like ts.

[2019-03-17 17:20] subhahu123 commented on #165
i think we should use angular
react is more useful when data changes very frequently ( because it is totally dependent on redux ( flux ) )

[2019-03-17 17:21] subhahu123 commented on #165
react is more known because of redux

[2019-03-17 17:35] HarshKhandeparkar commented on #165
I think you are right. There is nothing that will change in real time here.

[2019-03-17 17:38] subhahu123 commented on #165
@HarshKhandeparkar So what should we use angular or etc

[2019-03-17 17:38] HarshKhandeparkar commented on #165
Not sure really. I haven't seen this code much.

[2019-03-17 17:39] HarshKhandeparkar commented on #165
I'm only a reviewer in image-sequencer

[2019-03-17 17:40] subhahu123 commented on #165
well then i think i should start working with angular ( for gsoc )
@HarshKhandeparkar

[2019-03-17 17:42] HarshKhandeparkar commented on #165
Ok i guess. Well I'm 15 yrs old so i cannot tell you much. Ask other people who are familiar with this project.

[2019-03-17 20:47] subhahu123 commented on #165
@HarshKhandeparkar
https://community-toolbox.stackblitz.io/
check this out ( build with angular framwork )
Not Yet Completed ............

[2019-03-19 08:07] HarshKhandeparkar commented on #165
I checked it out. It's awesome!! A few suggestions:
- can you remove bots from the contributors list?
- can you display two contributors instead of one on a single row? You will then be sble to fit more contributors.

[2019-03-19 08:08] HarshKhandeparkar commented on #165
I deleted your comment in image-sequencer

[2019-03-19 08:12] Harshithpabbati commented on #165
It's really nice. Great work @subhahu123

[2019-03-19 09:34] subhahu123 commented on #165
@Harshithpabbati  @HarshKhandeparkar  https://community-toolbox-kiwxvw.stackblitz.io/
check this again i have added something ........

[2019-03-19 09:36] subhahu123 commented on #165
@HarshKhandeparkar  done

[2019-03-19 09:42] subhahu123 commented on #165
sorry what bots .....................u r refering to ......

[2019-03-19 09:49] HarshKhandeparkar commented on #165
The bots like dependabot sre included in the contributors list. Can you remove those?

[2019-03-19 09:56] subhahu123 commented on #165
i will try

[2019-03-19 10:01] subhahu123 commented on #165
got it working on it

[2019-03-19 10:07] subhahu123 commented on #165
@HarshKhandeparkar  done
https://community-toolbox-a2v6ul.stackblitz.io
check this

[2019-03-19 10:13] subhahu123 commented on #165
requires little more changes only ..........

[2019-03-19 11:28] lohitha02 commented on #131
@Rishabh570 yes that would be great!!

[2019-03-20 05:54] Rishabh570 opened #166 "Center the images under the "Learn Our Process" section."
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-20 06:49] angelisamaria commented on #166
I would like to work on this

[2019-03-20 07:01] Rishabh570 commented on #155
Seems interesting! :+1:

[2019-03-20 07:01] Rishabh570 commented on #166
@angelisamaria Sure, go ahead! and let me know if you need any help :+1:

[2019-03-20 07:06] punkstar25 commented on #166
can i work on this...

[2019-03-20 07:44] Rishabh570 commented on #166
Hi @punkstar25, @angelisamaria is working on this...you can claim some other issue (first-timer-only), I'll be creating more soon :+1:
Thanks!

[2019-03-21 12:00] rexagod commented on #152
Can you provide us a screenshot of the "networks" tab? Thanks!

[2019-03-21 12:13] rexagod commented on #80
Pinging @jywarren and @gauravano to close this (fixed in #140). Thanks @Harshithpabbati! :+1:

[2019-03-21 16:42] jywarren commented on #14
Nice reference here thanks to Mozilla D&A open call: https://jupyterhub-team-compass.readthedocs.io/en/latest/team.html#jupyterhub-team

[2019-03-21 17:05] jywarren opened #169 "List of people who've provided reviews or commented (supportively) on a PR"
In the spirit of recognizing mutual support, (related to #14) we should recognize who is helping others; esp. since so many people begin to help others take their first step soon after completing their own first-timers-only issue!

Should be some way to pull at least formal reviewers list, but we could also, maybe, consider how we could count supportive comments on FTO issues?

[2019-03-22 20:43] gauravano commented on #80
Thanks @rexagod and @Harshithpabbati! Closing now.

[2019-03-22 20:43] #80 closed

[2019-03-28 08:49] scheleon commented on #166
Can I work on this issue?

[2019-03-28 18:31] gauravano commented on #166
Hi @scheleon, @angelisamaria is working on this issue. I saw your name is added to the FTO list and we would mention you soon, but you can try to find other issues in the meantime.
Thanks!

[2019-04-01 12:10] lohitha02 commented on #131
Also I think it'll be good if we have all the names of the contributors followed by their profile rather than just having all names at one place and all their profiles at another. I would like to get in some suggestions about this.

[2019-04-11 16:22] Rishabh570 opened #173 "Enhance scroll to top button"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-04-12 13:25] Rishabh570 opened #174 "Create a connect with us section containing the links provided in the footer"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-04-12 15:41] ibrahimm02 commented on #174
Hi, can I work on this issue?

[2019-04-12 17:01] Rishabh570 commented on #174
@ibrahimm02 sure, go ahead! Let me know if you get stuck somewhere :+1:

[2019-04-12 17:56] ibrahimm02 commented on #174
@Rishabh570 thanks.

[2019-04-12 18:08] kingingcole commented on #174
@ibrahimm02 Are you still working on this?

[2019-04-12 18:11] kingingcole commented on #173
Hey! May I claim this??

[2019-04-12 19:10] kingingcole commented on #173
Please review

[2019-04-13 06:23] Varadhu93 commented on #174
Hi Can I claim this issue?

[2019-04-13 06:55] Rishabh570 commented on #174
Hi @Varadhu93 @kingingcole, @ibrahimm02 is working on this issue right now...you can help with some other issue. We're happy to have you here :+1:
Thanks!!!

[2019-04-13 06:57] Rishabh570 commented on #166
Hi @angelisamaria, are you still working on this?

[2019-04-13 06:59] Rishabh570 commented on #152
Hi @jazdao, are you still working on this? Please let me know if you need any help? Thanks!

[2019-04-13 08:47] angelisamaria commented on #166
Hi @Rishabh570 I believe I submitted a PR, can you confirm please? Thank you

[2019-04-14 11:20] subhahu123 opened #179 "Create a "Show More" button for showing contributors list atleast for mobile view"
### Please describe the problem (or idea)

Instead of showing a big list of contributors ( atleast for small screen ) , create a show more button which shows more contributors instead of showing the whole list in one show or time

[2019-04-14 11:21] #179 closed

[2019-04-14 11:28] subhahu123 opened #180 "Create a section of public lab projects with a card view and slider"
### Please describe the problem (or idea)

Create a section of `public lab projects` with a card view and slider which contains a list of all repository of public lab with some extra information in card

[2019-04-14 15:42] subhahu123 commented on #169
@jywarren  we can take this as a GSOC issue

[2019-04-14 15:49] subhahu123 opened #181 "Add HTML validation plugin to Grunt"
### Please describe the problem (or idea)

Add html validation plugin to grunt which will automatically detect html tag error, bug or mistyping

[2019-04-14 15:51] #166 closed

[2019-04-15 04:04] Rishabh570 opened #182 "Add "fork me on github" ribbon"
_This issue is based on [this](https://github.com/publiclab/community-toolbox/issues/152) issue._

Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you

[2019-04-15 04:06] Rishabh570 commented on #182
The ribbon should look like this,

![Screenshot from 2019-04-15 09-35-32](https://user-images.githubusercontent.com/25483260/56107070-e7fb8e00-5f61-11e9-8c34-bdf7bc2ae330.png)

[2019-04-15 13:23] Iworley0001 commented on #182
@Rishabh570 I do not know how to claim but I will make an edit with a pull.

[2019-04-15 13:35] Rishabh570 commented on #182
Hi @Iworley0001, yeah you can open a pull request for this issue. Remember to put `Fixes #{issue_number}` in your PR description.

[2019-04-17 16:16] #182 closed

[2019-04-20 05:59] Rishabh570 opened #187 "Center the avatars in contributors list"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-04-20 06:05] Rishabh570 commented on #187
**NOTE**: Please add `Fixes #187` to your pull request's description and provide the screenshot of contributors section (in your PR) after doing the changes. :+1:

- **Currently**, contributors section looks like,

![Screenshot from 2019-04-20 11-32-08](https://user-images.githubusercontent.com/25483260/56453420-1ad9c380-6360-11e9-9f8f-915238afbc3f.png)

- **After changes**, it should look like,

[2019-04-20 09:06] filiplipinski commented on #187
Hi, i'd like to contribute for my first time, can i handle this issue ?

[2019-04-20 09:25] Rishabh570 commented on #187
Sure!!!

On Sat, 20 Apr, 2019, 14:36 Filip Lipiński, <notifications@github.com>
wrote:

[2019-04-20 10:17] #187 closed

[2019-04-20 10:21] filiplipinski commented on #187
Happy that everything went OK, thanks for the opportunity to do exercise!
I have one question, after repository fork should i create new branch or i can work on main branch ? Or doesnt't matter ?

[2019-04-20 11:21] Rishabh570 commented on #187
It's always a good practice to make a new branch for every PR you make :smiley:
Thanks for your contribution!!!

[2019-04-23 10:10] Rishabh570 opened #189 "Move up the "What's next?" section"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-04-23 10:18] vedantsingh1404 commented on #189
Claimed

[2019-04-23 13:02] terabo090 commented on #189
Can i work  on this issue?

[2019-04-23 15:21] #189 closed

[2019-04-24 14:40] #173 closed

[2019-04-24 15:25] kingingcole commented on #173
Please why was this not merged?

[2019-04-25 08:08] #174 closed

[2019-05-01 15:09] Rishabh570 opened #191 "Change repository's list storage from localStorage to IndexedDB"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-05-01 18:26] stephqian commented on #191
Can I help with this issue?

[2019-05-01 18:28] subhahu123 commented on #191
please , go ahead

[2019-05-01 19:01] stephqian commented on #191
Thanks, I've created pull requests #192 #193 #194 for this issue!

[2019-05-02 10:35] Rishabh570 commented on #191
Hi @stephqian, great work!!! Changes look good :tada:.Just one thing, can you please squash your commits and put them in a single PR? The issue is not big enough to break the work down into 3 PRs...
Thanks for your contribution :smiley:

[2019-05-02 18:04] stephqian commented on #191
Hello, thanks for letting me work on this! I merged my branches into one so there's a single PR. #192 However, it received a build error that I'm not quite sure how to fix. Could I get some help on that?

[2019-05-02 18:07] Rishabh570 commented on #191
Hi @stephqian, did you run `grunt build` command after doing these changes?

[2019-05-02 18:18] stephqian commented on #191
No, I haven't because I made these changes in browser. Would you like me to run this command?

[2019-05-02 18:29] Rishabh570 commented on #191
Ooh, yeah that's a command you need to run every time you make changes in `community-toolbox.js` file...run that command and update your PR, it'll be good to go :+1:

[2019-05-05 05:09] Rishabh570 commented on #191
Hi @stephqian, facing any difficulties? Have you forked & cloned the repo? Feel free to ask any doubt... :+1:

[2019-05-06 04:24] stephqian commented on #191
Hello! I've cloned the repo and updated the community-toolbox.js file after running the grunt build command. However, I still received the a build error after that.

[2019-05-06 04:43] Rishabh570 commented on #191
You're running the command before doing changes...? The command is to be
run after doing changes in community-toolbox.js file, if that's the case.

If not, please share the error message screenshot.

On Mon, 6 May, 2019, 09:54 Stephanie Qian, <notifications@github.com> wrote:

[2019-05-06 20:38] stephqian commented on #191
I ran the command after making my changes and then pushed the updated community-tookbox.js file. I received the following Travis build error.
![image](https://user-images.githubusercontent.com/22629531/57253679-2b4a9900-7004-11e9-8c5d-2dca673059d3.png)

[2019-05-09 15:14] #181 closed

[2019-05-09 15:14] #180 closed

[2019-05-09 15:14] #165 closed

[2019-05-09 15:15] #163 closed

[2019-05-09 15:15] #162 closed

[2019-05-09 15:15] #161 closed

[2019-05-09 15:15] #160 closed

[2019-05-09 15:15] #159 closed

[2019-05-09 15:15] #150 closed

[2019-05-09 15:15] #149 closed

[2019-05-09 15:15] #142 closed

[2019-05-09 17:57] Rishabh570 commented on #191
Hi @stephqian, sorry for the late response...hmm, I see the cause of it (by running `npm audit`, you can try running `npm audit fix`). Seems like we need to update some dependencies...I'll take a deeper look tomorrow, little busy with some stuff.

Thanks!

[2019-05-10 05:57] stephqian commented on #191
Thanks @Rishabh570 that fixed my issue, the PR should be ready for review now!

[2019-05-10 16:31] #191 closed

[2019-05-11 05:56] Rishabh570 commented on #152
The PR regarding it is merged. Thanks!!! :+1:

[2019-05-11 05:56] #152 closed

[2019-05-13 15:14] Rishabh570 opened #197 "Fix recent contributors list's logic and repository fetching precedence"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-05-13 15:22] SidharthBansal commented on #131
@Rishabh570 it will be great if you can open up a planning issue and link your work there for evaluations etc.
Thanks

[2019-05-13 15:43] Rishabh570 commented on #131
You mean an issue which contains my project's milestones and the related work (PRs)!? Thanks @SidharthBansal

[2019-05-13 22:35] usamacjs commented on #197
hello, I was searching for a post like this one and it seems very welcoming. I have never contributed to open source and I feel like this will be a start for me. Please guide me through the process and I'll be thankful to you.

[2019-05-14 11:03] Rishabh570 commented on #197
Hi @usamacjs, it's very good to see you're getting started with open source :smiley:. You can start by taking a look at [this](https://egghead.io/courses/how-to-contribute-to-an-open-source-project-on-github) and [this](https://help.github.com/en/articles/editing-files-in-your-repository)...follow the steps shown there to fork and clone the repo, then you can do the required changes and open a Pul

[2019-05-18 19:58] dannomayer commented on #197
Hi @Rishabh570 I see this is still open, up for grabs? I have also never contributed to open source and am excited to start doing so.

[2019-05-23 01:04] Rishabh570 opened #199 "[ PLANNING ISSUE ]: Community toolbox overhaul SoC'19"
Here I'll be maintaining the list of _work to be done_ & _work completed_ as a part of my Summer of Code.

## Checkpoints

- [ ] Refactor the code
- [ ] Make the project portable
- [ ] Show a list of stale issues
- [ ] Implement dropdown for navigation
- [ ] Add filter for recent contributors' list
- [ ] Add night mode support
- [ ] Show a list of FTO issue authors
- [ ] Add copy to clipboard feat

[2019-05-25 13:29] PoseidonSigmaX commented on #197
Hey @Rishabh570 this still seems to be open, I can submit a PR in the next 15-20 mins, shall I get started?

[2019-05-25 15:29] Rishabh570 commented on #197
@dannomayer @PoseidonSigmaX A PR is already open for this issue...we appreciate your help, you can look for other `first-timer-only` issues here https://code.publiclab.org/#r=all

Thanks :smile: :+1:

[2019-05-27 14:55] Rishabh570 opened #201 "Refactor the codebase"
The current state of the code is not friendly for code reading. Also, naming conventions are confusing at some points in the code and big chunks of code need to be divided into more manageable parts.

[2019-05-27 15:18] Rishabh570 opened #202 "Add filter button for recent contributors' list"
Currently, there is no filter option on the recent contributors' list. There can be some options allowing the user to arrange the list according to his needs.

The filter should be based on,
- alphabetical,
- most recent contributors first.

There can be other filters also which can be implemented later...suggestions are welcome :)

[2019-05-27 15:23] Rishabh570 opened #203 "Add dropdown for navigation around different repositories"
Currently, if someone tries to take a look at any repository's data on `code.publiclab.org`, he/she has to manually type in the URL bar which can be uncomfortable for some of the users.

This issue is about making a dropdown button or autocomplete maybe for making the navigation across different repositories easy!

[2019-05-27 15:28] Rishabh570 opened #204 "Generate a list of FTO issue authors (repository-wise)"
In order to appreciate the efforts of people taking some time out of their busy schedule and creating `first-timer-only` (FTO) issues, compile a list of those people and show it repository-wise i.e., the list of FTO authors should be according to the current repository (the one provided in the URL bar)

[2019-05-27 15:36] Rishabh570 commented on #201
@jywarren I've created a project here in this repository in order to keep everyone in touch...Also, I've started working on this one.
I'll be updating the to-do section with all the project's milestones.

[2019-05-28 02:31] Rishabh570 opened #205 "Generate a list of stale issues"
Creating a list of stale issues will make the issues that haven't seen any progress noticeable by other people of the community. It will surely be helpful and we would know where and who is stuck on which issue.

[2019-05-28 02:38] Rishabh570 opened #206 "Add user notifications"
Currently, the user is not able to know if anything goes wrong while showing the data to the website and he/she keeps trying again & again which is not good.

`User notifications` will let the user know when any part of the data (like the list of contributors, list of recent contributors, issues, etc.) doesn't get rendered...this will make sure that the user is not wasting time waiting for it to s

[2019-05-28 02:43] Rishabh570 opened #207 "Implement a leaderboard of contributors"
This idea is about making a leaderboard of contributors last week/last month. This would provide inspiration to the new contributors and a sense of healthy competition will surely increase the productivity of people. As of now, we get the list of contributors last week and last month, that would help in extracting the list of super helpful contributors.

It turns out that the logic of fetching `re

[2019-05-28 02:47] #204 closed

[2019-05-28 02:51] Rishabh570 opened #208 "Make the project flexible to any org (portability)"
Making this project portable will let any other org/user to use this customized according to their needs.

We can have a JSON config file from which we can import the "org/user" specific settings...

[2019-05-28 02:55] #208 closed

[2019-05-28 02:58] Rishabh570 opened #209 "Add a copy-to-clipboard button"
Adding a copy to clipboard button can be very useful when someone needs to copy paste the names of contributors and this would allow us to change our contributor list UI also

[2019-05-28 05:53] Rishabh570 opened #210 "Implement PWA with caching and data fallback"
This idea includes implementing a `Progressive Web App (PWA)` with the help of a service worker along with providing `offline support` and `data fallback` (data will be shown even when the user is offline).

Adding the support for _add to home screen_ is also included in this idea.

[2019-05-28 06:06] Rishabh570 opened #211 "Adding tests"
Writing tests for the codebase is becoming more & more important as we're moving ahead with this project. We need a proper test suite to test the code written to ensure that we don't break anything as we move forward. This would promise high maintainability with less vulnerability to errors.

As all the tests can't be written at one go so (because of the features that will be pending), writing tes

[2019-05-28 06:12] Rishabh570 opened #212 "Writing documentation for the project"
As the project is getting big and will continue to be, we need proper documentation for control flow, getting started, where to look for when you need to find something and the likes.

Proper documentation would surely help everybody to get along and make the project more welcoming.

How/where to write the docs can be discussed :thinking:. We can make a `documentation.md` which will contain all th

[2019-05-30 00:26] jywarren commented on #211
+1 !!!! :-) awesome!

On Tue, May 28, 2019 at 2:06 AM Rishabh Rawat <notifications@github.com>
wrote:

[2019-05-30 00:26] jywarren commented on #209
oh this would be so great!

On Mon, May 27, 2019 at 10:59 PM Rishabh Rawat <notifications@github.com>
wrote:

[2019-05-30 01:40] Rishabh570 opened #214 "Make "connect with us" section responsive"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-05-30 14:40] ljuneaul commented on #214
I would love to give it a try! Thank you so much for the opportunity!

[2019-05-30 17:26] ljuneaul commented on #214
Not absolutely sure if I've done it properly, but I did it anyway. Thank you again so much for letting me try it!

[2019-06-02 06:27] #214 closed

[2019-06-03 14:52] #201 closed

[2019-06-06 01:29] #22 closed

[2019-06-09 12:09] Rishabh570 opened #218 "Remove redundant function from community-toolbox.js"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-06-09 18:09] koslofse commented on #218
I created a pull request here
https://github.com/publiclab/community-toolbox/pull/220

[2019-06-13 02:24] Rishabh570 commented on #199
I am maintaining a project board [here](https://github.com/publiclab/community-toolbox/projects/1), please take a look there for the project updates.

[2019-06-13 04:17] smohtadi commented on #218
Hi, I am a first-timer, and would like to work on the issue or help.

[2019-06-18 16:17] jywarren opened #222 "Bug in Recent Contributors list"
Hi! I was on the page today https://code.publiclab.org/#r=all and noticed `Recent Contributors` was blank, with an error on what I think is this line, in `fetchAllRecentMonthCommits`:

https://github.com/publiclab/community-toolbox/blob/30dd90769c0984144229438490260da74030d7b2/src/utils/recentContribsUtil.js#L57

The error is:

[code]

It looks like we're not running the latest, as the error on gh

[2019-06-18 16:17] jywarren commented on #222
could be related to #202 ?

[2019-06-18 16:20] jywarren commented on #202
This is awesome and perhaps we could modify `fetchAllRecentMonthCommits()` to be generically `fetchAllCommitsForPeriod(org, repos, queryTime, start, end)`?

https://github.com/publiclab/community-toolbox/blob/30dd90769c0984144229438490260da74030d7b2/src/utils/recentContribsUtil.js#L36-L40

@gauravano was interested in being able to select the past 2 months of recent contributors in our check-ins (

[2019-06-19 01:01] Rishabh570 commented on #222
@jywarren Yes, this bug is fixed in the latest version...I'm pushing the latest one to `gh-pages`.

[2019-06-19 01:09] Rishabh570 commented on #202
Yes, it can be expanded to include past X months' commits and this goes very well with the topic of this issue...I'll include it.

[2019-06-19 12:18] Rishabh570 commented on #222
@jywarren I'm not able to get the site running again, please help...

[2019-06-19 14:01] jywarren commented on #222
No prob! let me take a look.

[2019-06-19 14:06] jywarren commented on #222
Thanks for already having fixed this! :-)

OK, so you have to preserve the existing gh-pages branch, you can't force push to it, because it has to include the `node_modules` folder as well (since it needs some of the dependencies to run). So I merge commit to gh-pages; my process is:

[code]

[2019-06-19 14:07] #222 closed

[2019-06-19 14:08] jywarren commented on #222
Up again with latest! https://code.publiclab.org/#r=all

[2019-06-19 14:16] jywarren opened #223 "Permalinks to page sections?"
Often in Markdown, we get anchors on headings so we can link down to them, which is convenient! They look like this on Publiclab.org (we added some nice icons using JS and CSS, to show that they exist):

![image](https://user-images.githubusercontent.com/24359/59772864-94b3fd80-927a-11e9-83fb-122cbe008572.png)

(see this example at https://publiclab.org/wiki/simple-air-sensor#Uses)

And typically

[2019-06-19 15:11] Rishabh570 commented on #222
Ooh, so I accidentally removed `node_modules` I guess...thanks for clarifying the steps required :+1:

[2019-06-19 16:03] Rishabh570 commented on #223
Yeah, so permalink is definitely a plus to user convenience. Maybe if we can make use of `urlHash` to implement that would be great but we can also work with params through URL object...I'll take a look.

[2019-06-20 15:44] Rishabh570 commented on #202
So, I'm planning to do a followup refactor work after my already open PRs get merged. This will make it convenient for writing tests & making the logic of recent contributors flexible and for reading the code generally...Currently, I'm looking at the `utils/` folder as a place which needs to be refactored the most as it contains most of the logic...Here's how I think the structure would look like,

[2019-06-20 16:03] jywarren commented on #202
I think that sounds fine! The basic 1 month sounds good and you're probably
right that some more code reorganization is a good early investment!

On Thu, Jun 20, 2019 at 11:45 AM Rishabh Rawat <notifications@github.com>
wrote:

[2019-06-21 00:39] Sjain020188 commented on #218
Hello, I am first timer. I would like to work on this if its still open?

[2019-06-21 01:14] Sjain020188 commented on #218
I made PR fir this.

[2019-06-21 05:21] Rishabh570 commented on #218
So it seems like @koslofse is not working on it anymore, @Sjain020188 you can work on it...in case @smohtadi is not willing to continue with this issue!?

Sorry everybody for the inactivity here...please check out https://code.publiclab.org/#r=all for more `first-timer-only` issues.

[2019-06-21 09:40] smohtadi commented on #218
Hi, I'm working on another project right now, so @Sjain020188 you can word on it if you want.

[2019-06-21 15:08] #203 closed

[2019-06-23 10:50] Sjain020188 commented on #218
I already made PR for this.

[2019-06-26 01:51] #155 closed

[2019-06-29 07:40] saurabhkanswal opened #227 "verify the domain to get verified badge on Publiclab github page"
hello! @jywarren @sagarpreet-chadha
As described in https://help.github.com/en/articles/verifying-your-organizations-domain it is possible to verify that the domain mentioned in a GitHub organization is the official website. Once verified a nice "verified" icon is shown.
it looks like this after verification:
![google](https://user-images.githubusercontent.com/26677033/60381247-3dc6d900-9a6f-11e9-

[2019-06-29 07:50] sagarpreet-chadha commented on #227
Great idea :tada: !!! Only @jywarren has the access to Domain settings and repo permissions and  hence i think he can only do this . Thanks!

[2019-06-29 14:59] Rishabh570 opened #228 "Issue in dropdown logic"
### Please describe the problem (or idea)

There's a small issue in the `src/utils/autocomplete.js`, regarding the _urlHash_.

### Please show us where to look

https://github.com/publiclab/community-toolbox/blob/main/src/utils/autocomplete.js

### What's your PublicLab.org username?

icode365

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *

[2019-06-29 15:11] Rishabh570 commented on #228
@jywarren We have `urlHash.js` in `examples/`, but we import it from `node_modules/` which means we cannot customize `urlHash.js` according to our needs.

I think importing from `examples/urlHash.js` would be better as compared to `node_modules/urlHash/urlHash.js` because we can customize the file as we need to and commit it also.

One reason for the change in import is also the fact that `node_mo

[2019-07-02 23:38] #228 closed

[2019-07-04 05:08] Rishabh570 commented on #223
@jywarren To achieve this, we might need to stop putting every piece of info in the URL (like repo and other info), so it might end up looking like this,

`https://code.publiclab.org/#learnourprocess` (for any repo selected!).

As far as the user's knowledge of current repository selected is concerned, the dropdown input shows clearly which repository's data is currently present. So it can be one

[2019-07-04 23:52] #13 closed

[2019-07-05 16:31] jywarren commented on #223
Hmm. Yes, however this would mean it's no longer possible to pass a URL to
a friend or to someone just learning about our code, with specific repos
already selected. For example it's pretty neat to be able to send people
https://code.publiclab.org/#r=all&o=oshwa (although this doesn't seem to be
working...)

On Thu, Jul 4, 2019 at 1:09 AM Rishabh Rawat <notifications@github.com>
wrote:

[2019-07-05 23:57] Rishabh570 commented on #223
a friend or to someone just learning about our code, with specific repos
already selected.

Yes, that was my concern...so what if we show the URL as `https://code.publiclab.org/oshwa/all/#permalink`? This would mean we need to modify `urlHash.js`.

working...)

Yeah, so it's because the repos that are already stored in the DB are being picked up by the code...we need to save data _org_ specific, s

[2019-07-06 00:16] Rishabh570 commented on #223
I'm pushing the changes to `gh-pages`.

[2019-07-06 00:32] Rishabh570 commented on #223
I'm facing some issue while pushing to `gh-pages`, it says `Updates were rejected because the tip of your current branch is behind hint: its remote counterpart. Integrate the remote changes (e.g. hint: 'git pull ...') before pushing again.` I have merged main into gh-pages so now gh-pages on my machine is at the latest commit, also haven't done `rebase` on gh-pages branch, don't know the reason...

[2019-07-06 00:47] Rishabh570 commented on #223
Nevermind, pushed successfully! :tada:

[2019-07-07 06:31] HarshKhandeparkar opened #233 "inverted image colors."
### Please describe the problem (or idea)
Switching night mode inverts the images. Is thie supposed to happen?
![Screenshot_20190707-115716](https://user-images.githubusercontent.com/34770591/60764853-7e7ead80-a080-11e9-84cd-e9f035616a38.jpg)

Secondly, when I toggle the show monthly button here, it turns the image greyscale from inverted.

![Screenshot_20190707-115735](https://user-images.githubu

[2019-07-07 08:48] Rishabh570 commented on #233
Images are supposed to be turned into grayscale, does this happen when you toggle the button to _night_ or when you visit the page with night theme already on?

[2019-07-07 08:59] HarshKhandeparkar commented on #233
I toggled it and this happened.

On Sun, 7 Jul, 2019, 2:18 PM Rishabh Rawat, <notifications@github.com>
wrote:

[2019-07-07 12:56] Rishabh570 commented on #233
Okay, it seems like either CSS grayscale filter is not coming into play or images are hanging in the loading state while you click the toggle (so querySelector didn't catch them) :thinking:

Thanks for reporting the issue :+1:

[2019-07-08 16:28] jywarren commented on #223
But can we run URLs like code.publiclab.org/oshwa/all/#permalink from
gh-pages? by what mechanism? I may just be a little out of date on what's
possible with routing in gh-pages or JS :-P

On Fri, Jul 5, 2019 at 8:48 PM Rishabh Rawat <notifications@github.com>
wrote:

[2019-07-09 01:25] #209 closed

[2019-07-09 22:33] #205 closed

[2019-07-16 05:29] Rishabh570 commented on #233
This issue has a high frequency of occurrence, I'll take a look at what's possible.

[2019-07-22 05:17] Rishabh570 commented on #202
I've been working on the recent contributors' section's logic for the past couple days and most of the logic part is almost done. Here's a quick GIF showing the changes,

![filter](https://user-images.githubusercontent.com/25483260/61607823-14fcc280-ac6e-11e9-894a-f2336dfc6d29.gif)

The main things that are remaining on this are,
- Enhancing the UI a bit of the dropdowns list present,
- Showing th

[2019-07-22 19:55] cesswairimu opened #237 "Weekly community Check-In #30 - Modifying Expectations"
Hi everyone :wave: !

We all at Public Lab :balloon:  - learn, grow, work, brainstorm ideas, contribute together so why not share about our _weekly goals and the awesome work_ we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past we

[2019-07-22 19:56] cesswairimu commented on #237
@milaaraujo @kevinzluo @Rishabh570 @sashadev-sky @shubhscoder @sidntrivedi012 @SidharthBansal @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @IshaGupta18 @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1 @rexagod, @divyabaid16, @dinaelhanan, @oorjitchowdhary @publiclab/me

[2019-07-22 20:00] cesswairimu commented on #237
@newbazz @aSquare14 @vaarigupta @alonpeer @aashna27 @harshithpabbati @jesus-montano  @cryptoclidus @mohamed-elalem @konolga@gowtham5699

[2019-07-24 01:10] MargaretAN9 commented on #237
**This note is a GSOC Phase 2 summary and updates Phase 3 goals.**

**Image Sequencer Manual** Substantial changes to the manual were made over this rating period. Proposed future changes for the next period include: -Adding new modules such as Noise reduction, Minify Image, blob Analysis, colorimetry -Demonstration of Insert step functionality -Increasing the applications section to include blob

[2019-07-24 21:01] jywarren commented on #237
Hi all! Great theme, Cess. Adjusting plans, incorporating learnings, and being comfortable with this, is an important part of our work! ❤️

Thanks to everyone who's been posting their GSoC updates on PublicLab.org. I'm catching up again after some travel and hope everyone is doing well!

[2019-07-25 13:25] #206 closed

[2019-07-26 19:01] SidharthBansal commented on #237
Hello Everyone!!!
I came back after 10 week internship at Google India. Now I am in great zeal to join the community again. My internship ended today, and I am here. I love PL. It is the best open source organization.

I hope everyone is with great zeal for the 3rd eval of SoC Programs. Best of luck for the results.
Great theme Cess.
Let's discuss about evolutionary software development life cycle

[2019-07-29 07:41] Rishabh570 opened #240 "Add copy to clipboard button for recent contributors list"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-07-29 07:46] Rishabh570 commented on #240
The copy to clipboard button should be visible next to the `Recent Contributors` section on the landing page (index.html). Clicking that should copy the usernames written just below it.
Please take these things into consideration when submitting a Pull Request.

![Screenshot from 2019-07-29 13-13-15](https://user-images.githubusercontent.com/25483260/62030476-c8336180-b202-11e9-8d3d-233d46dc25df.p

[2019-07-29 08:18] Rishabh570 opened #241 "Rename autocomplete.js"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-07-29 09:28] flyside commented on #241
Hellow, I would like to work on this.

[2019-07-29 09:53] AProperName commented on #240
Hello. I'm here to claim this issue. Thanks.

[2019-07-30 00:56] #3 closed

[2019-07-30 00:57] #240 closed

[2019-07-30 00:59] Rishabh570 commented on #241
@flyside Sure, go ahead.

[2019-07-30 17:13] NeerajNegi commented on #241
Hi, I would love to contribute.

[2019-07-31 09:09] Rishabh570 commented on #241
Hi @NeerajNegi, @flyside is working on it currently...we appreciate for offering your help. Please take a look [here](https://code.publiclab.org/#r=all) for other `first-timers-only` issues. If there's any issue needing any help, we would ping you for sure :+1:

Thanks!

[2019-08-01 10:50] Rishabh570 commented on #241
This is resolved! :rocket:

[2019-08-01 10:50] #241 closed

[2019-08-01 15:25] IshaGupta18 commented on #237
Hey Everyone!
Working on simple-data-grapher

@jywarren @sagarpreet-chadha @gauravano please please review the integration PR at plots2
https://github.com/publiclab/plots2/pull/5993. It has been waiting for quite a long time now!

I am almost done with UI testing here https://github.com/publiclab/simple-data-grapher/pull/73

I am happy to tell you that the "Publish as a research note" is 80% compl

[2019-08-03 12:53] #202 closed

[2019-08-03 13:22] alaxalves commented on #237
My expectations have been modified for the better, by modifying my project and schedule(shortening it), as Igor Wilbert(one of my mentors) had suggested me and Kaustubh got to finish our planned work a little ahead of schedule - thanks to Sasha as well, she has been helping us sooo much.
This is giving us a chance to work out a little more along other PL projects. And this is great.

**Update on w

[2019-08-05 13:27] Rishabh570 opened #247 "Weekly community Check-In #31 - Documentations"
Hi everyone :wave: !

We all at Public Lab :balloon:  - learn, grow, work, brainstorm ideas, contribute together so why not share about our _weekly goals and the awesome work_ we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past we

[2019-08-05 13:28] #247 closed

[2019-08-05 13:31] Rishabh570 commented on #237
Opened up a new check-In [here](https://github.com/publiclab/image-sequencer/issues/1195).

[2019-08-05 15:49] gauravano commented on #237
Thank you @Rishabh570!

[2019-08-05 15:49] #237 closed

[2019-08-09 07:18] vaibhavmatta commented on #233
Is anyone working on this issue? @Rishabh570

[2019-08-09 08:01] Rishabh570 commented on #233
As of now, nobody is working on it. You can go ahead!

Thanks!

[2019-08-09 08:11] vaibhavmatta commented on #233
I am working on it now.!

[2019-08-14 17:17] #207 closed

[2019-08-19 18:09] gauravano opened #254 "Remove explanatory line and design changes"
<img width="1175" alt="Screenshot 2019-08-19 at 11 32 13 PM" src="https://user-images.githubusercontent.com/20878070/63288533-8dd95380-c2da-11e9-89d7-dfb6548970d4.png">

The footer to connect via social media has an explanatory line that says **You can connect with us on any of these platforms:**. I think we can remove this line as it's intuitive and so the line is not required.

**Design changes:

[2019-08-19 19:41] pydevsg commented on #254
@gauravano , I would like to work on this issue. Can you assign this to me,please?

[2019-08-19 23:10] Rishabh570 commented on #254
Sure @pydevsg, go ahead! :)

[2019-08-20 04:36] pydevsg commented on #254
After doing the mentioned above , the page looks like this @gauravano

![public_lab_navbar_change](https://user-images.githubusercontent.com/40278255/63317622-2bf80880-c331-11e9-92ec-16f8cba1c8c7.png)

Is it fine?

[2019-08-20 05:44] pydevsg commented on #254
I have changed this page as mentioned above, @gauravano

![PL_CommunityPage_footer_change](https://user-images.githubusercontent.com/40278255/63320480-8ac27f80-c33b-11e9-8f96-d590d07d5b4e.png)

Is it fine?

[2019-08-20 14:57] #210 closed

[2019-08-20 17:47] gauravano commented on #254
How about reducing space b/w the social media icons?

[2019-08-21 14:09] jywarren opened #257 ""Hall of Fame" for most stuck issues"
I was looking at some old and very stuck issues which I'd love to fix, but are really obscure. And sometimes I get an insight months or years later and fix one. I was thinking it'd be fun to post a "hall of fame" of extremely stuck issues which we've almost given up on. Sometimes people are in a mood to take one on. Sometimes a fresh look is worth it.

Here are some of mine! 😅

* https://github.co

[2019-08-23 11:05] pydevsg commented on #254
@gauravano I did the same in console and removing space in big screens isn't looking much good.
In the mobile view , there were two lines for the social media icon, I made the change to reuce them to one line.

[2019-08-23 11:17] pydevsg commented on #257
Hello @jywarren , I have gone through this issue, it really is hard for a beginner to start off working on this issue 😢 , can you tell me from where should I start working on this issue.
I would then like to work on this 😄

[2019-08-23 11:53] Rishabh570 commented on #257
@jywarren Actually `hall-of-fame` issue label is a considerably good idea, the other thing that we can do is showing that list to the page (where the issues will be filtered following the similar approach as of stale issues') but I don't think that would be the most suitable thing to do...what do you think?

@pydevsg As it is not quite sure what should be done as of now, let's wait for some input.

[2019-08-23 12:23] pydevsg commented on #257
I will wait for it :)

[2019-08-23 12:24] pydevsg commented on #254
@Rishabh570 , can you please review this?

[2019-08-23 12:28] Rishabh570 commented on #254
@pydevsg You can reduce the space for mid/standard laptop screens and then increase it a bit in case of larger screens...that would work I guess. What do you think?
Reducing the gap between icons in small screens is perfectly fine...

[2019-08-23 14:31] jywarren commented on #257
I think it could go at the very bottom of the page, as it's kind of ideally
something people might tackle once they are VERY familiar with the
codebase.

@pydevsg perhaps you may want to take on another issue that is designed for
newcomers? You can check https://code.publiclab.org and look for one of the
`first-timers-only` issues there. Or we can make you one if there are none
available?

On Fri,

[2019-08-23 15:44] pydevsg commented on #257
Thankyou @jywarren , I will try to understand the codebase.
For time being i will be happy if you provide few first timers issues to me :)

[2019-08-23 15:53] Rishabh570 commented on #257
Hi @pydevsg, you can go ahead with [this](https://github.com/publiclab/community-toolbox/issues/218) issue...do the required changes as shown in the issue description, run `grunt build`, commit & push and create a PR for it.
Ping me if you need any help :smile:

@jywarren Hmm, putting it at the bottom sounds good, but how "old" the issue should be to be included in that list?... Maybe more than 2-

[2019-08-23 15:56] pydevsg commented on #254
@Rishabh570 , thanks for the review.
I checked the same in google chrome toolbar and saw that there ain't much change if I do so.
It looks good in every screen :)

[2019-08-23 20:23] jywarren commented on #257
Here's another for the hall of fame! https://github.com/publiclab/plots2/pull/3007

Ah, we can drive it off of a label like `hall-of-fame` to keep this pretty simple 😄 How about that?

[2019-08-23 23:55] Rishabh570 commented on #254
Can you share a GIF showing icons for different widths, it helps in the assessment.

Thanks!

[2019-08-24 00:32] Rishabh570 commented on #257
Adding `hall-of-fame` label would be more customizable because if we decide to add a list, that would be filtering issues based on the time the issue was last updated...in some cases, we might not want to include all of that issues to the `hall-of-fame`.

Also, if we end up adding a label for the hall of fame issues, we can show that list to the bottom of the page just like `fto` and `fto-candidat

[2019-08-24 19:42] pydevsg commented on #254
@Rishabh570 I will surely send the screenshots in place of gif for different views of the website very soon. :)

[2019-08-25 18:37] gauravano opened #259 "Community toolbox for Open Source 🌐"
I guess, a year ago someone, shown interest in re-using our project. And, I also saw - https://github.com/publiclab/community-toolbox/issues/208.

For sure, this project has lot of scope and can be useful for other orgs too. So, let's do our bit in making it that useful.

- [ ] Generic code structure -- No hardcoded URL, at any place
- [ ] Consistent release cycle - We are planning this with all o

[2019-08-26 15:50] Rishabh570 commented on #259
Hi @gauravano, yes, making the project flexible for any organization or user was the goal in issue #208 and #216 was opened regarding that. Getting rid of hardcoded URLs and adding a config file was the main goal of that PR.

JSON data in the `config.json` file solves the goal of achieving flexibility but surely we can add more points here...consistent release cycle is definitely a priority as wel

[2019-08-26 15:50] #212 closed

[2019-08-26 15:54] jywarren commented on #259
Hi, that's awesome, thank you - maybe we can brainstorm any additional
ideas here?

Just a clarification, can the Json config file be remote?

On Mon, Aug 26, 2019, 11:50 AM Rishabh Rawat <notifications@github.com>
wrote:

[2019-08-26 16:37] Rishabh570 commented on #259
As of now, the config file should reside on the project's root and cannot be hosted remotely, but that can be easily modified, we just need to update the URL of `config.json` in the `configure.js` file.

So, what if a newcomer gets an issue suggestion to work on from the pool of unclaimed FTO issues...user would be able to shuffle if the issue doesn't suites him (all the suggestions would come fro

[2019-08-26 16:42] jywarren commented on #259
oh that shuffle idea is so cool! friendlier than a list, too! :-))))

On Mon, Aug 26, 2019 at 12:38 PM Rishabh Rawat <notifications@github.com>
wrote:

[2019-08-27 14:41] jywarren commented on #257
This sounds great. Thank you!

On Fri, Aug 23, 2019 at 8:33 PM Rishabh Rawat <notifications@github.com>
wrote:

[2019-08-29 08:32] Rishabh570 opened #261 "Add a "hall of fame" issues list at the bottom of the page"
A list of issues that are labeled as `hall-of-fame` issues should be displayed at the bottom of the page just above "connect with us" section. When there are no `hall of fame` issues, the list should not be occupying any space other than the heading. It should be just like stale issues list with overflow set to auto.

![Screenshot from 2019-08-29 14-01-17](https://user-images.githubusercontent.com

[2019-08-29 08:46] Rishabh570 commented on #14
Hi @jywarren, for this to happen we need to incorporate a bot which will trigger a new Pull Request for every new addition to the contributors' list. It requires a bit of manual work...what are your thoughts?

[2019-08-30 17:13] jywarren commented on #14
Hm. I'm not sure. Could it be a GitHub Action? Or something?

On Thu, Aug 29, 2019 at 4:46 AM Rishabh Rawat <notifications@github.com>
wrote:

[2019-08-30 17:13] jywarren commented on #261
Love this!

On Thu, Aug 29, 2019 at 4:32 AM Rishabh Rawat <notifications@github.com>
wrote:

[2019-08-30 20:00] pydevsg commented on #44
@Rishabh570 if you give a brief info on this, I can work on it 😄

[2019-08-31 06:05] Rishabh570 commented on #14
I'm taking a look...if it's possible to automate, it would be great.

[2019-08-31 06:16] Rishabh570 commented on #44
Showing issues as per provided labels would require us to store the list of issues for that particular repository in the database which means deviating from the `real-time issues list` promise...and without storing issues' data, it's hard to achieve that.
As both are contradicting thoughts, this would require a discussion :thought_balloon:

Till then, @pydevsg you can take a look at other issues a

[2019-08-31 19:12] gauravano commented on #259
Shuffle idea sounds good!!

[2019-09-03 05:48] sashadev-sky opened #263 "update code of conduct"
update code of conduct to reflect changes on https://publiclab.org/conduct Aug, 28 2019 and standardize formatting with MK, LDI, Plots2

[2019-09-03 19:49] #263 closed

[2019-09-09 16:37] pydevsg commented on #261
I would love to take this issue @Rishabh570 , Can you please assign this?

[2019-09-20 14:03] Rishabh570 opened #265 "Give user the ability to empty the app cache"
There can be cases when the user wants to get rid of the app cache stored and wants to fetch the fresh data. This is a very inconvenient process as of now and can be improved by providing a button to the user which clears all the application cache.

This can look something like this,

![cache_empty](https://user-images.githubusercontent.com/25483260/65332916-2fefa280-dbdd-11e9-972f-807cf78463ca.pn

[2019-09-25 22:22] wisniewski94 opened #267 "Include minimum browser support requirements for developers in README"
I noticed in source code arrow functions next to regular functions, as well as vars and let/const. At first I thought it's written to support even old browsers but it doesn't make sense with ES6 features.

Code needs to be refactored/cleaned up according to [clean-code-javascript](https://github.com/ryanmcdermott/clean-code-javascript) but we need to decide what browser support this project provid

[2019-09-25 22:31] jywarren commented on #265
This would be GREAT!!!!

On Fri, Sep 20, 2019 at 10:03 AM Rishabh Rawat <notifications@github.com>
wrote:

[2019-09-26 01:49] vivianedias commented on #261
If this issue is still open I'm up for it :smile:

[2019-09-27 00:12] mastal88 commented on #218
Hi,
I will prepare PR for this.

[2019-09-27 18:27] ReardGjoni opened #269 "Environment setup on Vagrant produces 403 errors - contributors list not loading"
On a simple Vagrant machine, trying to set up the repo - the contributors list can't get loaded, 403 forbidden.

This is what my Vagrantfile looks like:

[code]

## Errors on console:

![Console Errors](https://user-images.githubusercontent.com/35934418/65792596-6345aa80-e164-11e9-9c78-698580af9abb.PNG)

### Browser, version, and operating system

Complete setup includes:

Host: Windows 10 Home Ed

[2019-09-27 19:49] jywarren commented on #261
Hello! It's not necessary to assign it, and we're happy to have help from
folks! Sudipto if you're still interested please go ahead, if not, Viviane
we'd love your help! Thanks!

On Wed, Sep 25, 2019 at 9:49 PM Viviane Dias <notifications@github.com>
wrote:

[2019-09-28 04:52] Rishabh570 commented on #269
Hi @ReardGjoni, so 403 is because of the API's rate limit of 60 requests/hr...If it exceeds that, you get the error (you need to wait for it to get refreshed if app cache is empty).
Secondly, running on development would be better with `npm start` because some features are supported on that only.

[2019-09-28 11:08] #269 closed

[2019-09-29 12:53] dominnovak commented on #265
Hey! Im interested in solving this issue. Can you assign it to me?

[2019-09-29 13:49] Rishabh570 commented on #265
Please, that'd be awesome!!!

On Sun, 29 Sep, 2019, 18:23 dominnovak, <notifications@github.com> wrote:

[2019-09-29 17:19] dominnovak commented on #265
I have a problem that local project does not store cache data. Do you have some suggestions about that?

[2019-09-29 19:44] pydevsg commented on #254
@gauravano , my pull request is merged can you check it https://github.com/publiclab/community-toolbox/pull/255  and can add the feature in the main website, it is still not featuring it , thanks

[2019-10-01 01:02] bkstephen commented on #197
Hello, is this still open? Can I work on it please?

[2019-10-01 02:33] Rishabh570 commented on #265
You're running `npm start` for visiting the dev version of the site, right? Not doing this results in disabled behavior in some features.

[2019-10-01 17:41] gauravano commented on #254
Yup, great work. Your change will be released soon into production. Thanks!

cc @jywarren

[2019-10-01 17:41] #254 closed

[2019-10-03 09:49] dominnovak commented on #265
Sorry that was my bad. Everything's okay by now. Workin' on it.

[2019-10-05 18:36] ekamwalia commented on #261
Hey @vivianedias, are you working on this issue? If not, I would love to contribute!

[2019-10-06 18:18] nmeurer commented on #218
No one seems to be working on this right now.
I'll try my best as a first-timer!

[2019-10-07 23:29] vivianedias commented on #261
Yes, I am @ekamwalia :)

[2019-10-08 17:20] dominnovak commented on #265
Hey! When I'm trying to push to the branch (not master) with SSH I'm getting "permission denied, please make sure you have the correct access rights and the repository exists."
and also with https "permission denied + The requested URL returned error: 403"

[2019-10-12 05:43] debck opened #274 "Resolve linting errors"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-10-12 05:46] debck commented on #274
@jywarren Can you please add appropriate FTO labels to this issue.

[2019-10-12 12:59] arnoschutijzer commented on #274
Can I take this up? :)

[2019-10-12 14:28] anushtha1011 commented on #218
hi i am first timer and would like to make a PR for this

[2019-10-14 14:46] mickm77 commented on #265
Hi - Just did my first commit to a different project today and had the same problem. In my case I'd cloned the the original git - but it seemed i'd needed to fork it first, then clone my fork of it.
I'd only changed two files, so renamed the first fork folder _orig and cloned my fork, then added the changed files in. git push then worked and I got a pull request button light up in github :)

[2019-10-14 15:03] jatin33 commented on #197
Hello @Rishabh570,

Can I work on this issue please?

[2019-10-14 15:42] olarotseyi commented on #261
Hi @vivianedias Are you still working on this issue?

[2019-10-14 16:13] dominnovak commented on #265
Hey, that was it. This is my first commit to open source project too. Thank you very much! :)

[2019-10-14 20:33] mickm77 commented on #265
Yay! I helped!!

[2019-10-15 05:47] joshuiaclan commented on #218
Hi! I am a first timer and I would like to help you on your project :)

[2019-10-15 07:11] mats-codes commented on #274
Hey, can I possibly on the solution of this issue? :)

[2019-10-16 15:04] Rishabh570 commented on #274
Hi @debck, can we make it work by installing it as a dev-dependency? Also, please put the code changes in the DIFF markdown so that it becomes easy for anyone to follow the instructions regarding code updations in the project.

@arnoschutijzer please go ahead if you would like to contribute. If you are not able to work on this for now, @mats-codes can go ahead.

Thanks, everyone.

[2019-10-16 15:10] arnoschutijzer commented on #274
Let's switch it around. If @mats-codes is still available for this issue he can go for it, if not I can take it up.

[2019-10-17 04:39] mats-codes commented on #274
@arnoschutijzer go ahead, I'll get involved somewhere else then :)

[2019-10-17 19:20] arnoschutijzer commented on #274
Alright, so I was working on adding a script to `package.json` and linting config based on `eslint:recommended`. (see [here](https://eslint.org/docs/rules/))

I'm just not sure which files to lint and if the recommended config is okay. :)

[2019-10-18 14:16] jywarren opened #281 "Write adapter for GitLab and other systems"
Now that @Rishabh570 has done so much to modularize and organize the code for this system, we should consider how to approach GitLab compatibility! 🎉

I'm at GSoC mentor summit now and people are asking!

This sounds like a big project, but we should be able to isolate where the API requests are made, and write equivalents for GitLab. This will take some brainstorming, and some collecting of code

[2019-10-18 14:19] jywarren commented on #281
Here's one obvious place where we point at GitHub:

https://github.com/publiclab/community-toolbox/blob/03687364d1d0a1c958b9cff9421704326b49b865/src/utils/getRepoContributors.js#L32-L36

Maybe we could have it detect from the configuration JSON file, which provider it is, based on the URLs listed?

https://github.com/publiclab/community-toolbox/blob/64175423803a8a9a82945a5f4e656cce1d41ae21/example

[2019-10-18 14:24] jywarren commented on #259
More ideas - and outreach! I'm going to give a brief talk on this and @cesswairimu and I will do a session on it on Sunday at the GSoC mentor summit. People are already asking about it - and wondering if it could be adapted to GitLab! 😅  I created #281 to follow up on this idea.

Awesome! 🚀

[2019-10-18 14:26] jywarren commented on #259
Thinking of shuffle, we could have it show 5 random issues from a list if the list gets too long... we have a long list of FTOs right now 😅

[2019-10-18 14:27] jywarren commented on #265
Awesome work folks! I linked to #280 -- just looking for a screenshot to confirm (or a Gif even better!) and then we can wrap this up! Thanks a TON! 🎉

[2019-10-18 15:01] jywarren opened #282 "Stale issues doesn't repoint at other respositories"
When visiting https://code.publiclab.org/#r=mapknitter (using the project selector dropdown), the stale issues listing doesn't seem to load from `mapknitter` but instead the default `plots2`. We should rewire it to point at the appropriate repository.

We'd love help with this one!

[2019-10-18 15:06] jywarren opened #283 "https://code.publiclab.org/#o=intermine&r=intermine syntax doesn't work for other repositories"
I tried loading another repository via URL hashes, as described in the readme, here:

https://code.publiclab.org/#o=intermine&r=intermine&l=hacktoberfest

Docs at https://github.com/publiclab/community-toolbox/blob/main/docs/usage.md#embed-an-issues-list

I wasn't able to get it to list any issues, so I think this might've gotten a little unwired during the summer's big refactors?

We'd love help

[2019-10-18 15:09] jywarren commented on #283
Aha! Got it!

https://code.publiclab.org/#o=intermine&r=intermine&f=hacktoberfest is the syntax! It works! Changing the readme to match.

[2019-10-18 15:11] jywarren commented on #283
Strange. It worked the first time, but now it's not working. I wonder if I'm hitting a rate limit?

[2019-10-18 15:15] jywarren commented on #283
Anyhow made the README edit here: https://github.com/publiclab/community-toolbox/commit/5472365f352758b668733d30047d5e4a70734c2e

[2019-10-18 15:53] Rishabh570 commented on #283
Hi @jywarren, It's working for me too...yes I guess you might be hitting the limit.

![Screenshot from 2019-10-18 21-18-44](https://user-images.githubusercontent.com/25483260/67108857-fe262780-f1ec-11e9-84e4-cab3444da6a8.png)

I'll open an issue for showing "requests left" count for the Github API...would help in these scenarios.

[2019-10-18 16:01] Rishabh570 commented on #282
Yeah, so as of now, the stale issues' list fetches issues for all the org at once and then filters accordingly...to make it custom so that it can show appropriate data for a particular repository, we need to fetch & store stale issues separately for each and every repository that user visits.
For that, we can fetch issues for the whole org at once and then save it in separate buckets based on the

[2019-10-19 07:45] jywarren opened #284 "Contributors list stalling sometimes"
Hi, I'm not sure if this is related to #112 but probably not -- I noticed that after seeing it work for a while, i seem to be in a stuck state where the contributors list is not loading:

![image](https://user-images.githubusercontent.com/24359/67139854-0f0a8380-f255-11e9-85de-08df8b24e74f.png)

Is it possible I'm getting rate limited or something? And if so, should I be getting a specific error s

[2019-10-19 07:48] jywarren commented on #284
Here's one error at least I'm seeing:

`Failed to load resource: the server responded with a status of 403 (Forbidden)`

[2019-10-19 07:51] jywarren commented on #284
So, just noting that if we do hit rate limits, maybe we could catch and handle that error and display a message saying like `API rate limit encountered, please wait ____ minutes to refresh` #53

[2019-10-19 07:55] jywarren commented on #284
Aha, i see @Rishabh570 found the error returned, it's a 403 so we have to recognize it:

![](https://user-images.githubusercontent.com/25483260/46712124-2d669800-cc6d-11e8-94b0-a3256d58bdbb.png)

For now at least it's probably enough to just detect the error code being 403. I updated the title accordingly!

[2019-10-19 08:04] jywarren commented on #284
I believe the request is generated here!

https://github.com/publiclab/community-toolbox/blob/03687364d1d0a1c958b9cff9421704326b49b865/src/utils/getRepoContributors.js#L32-L44

[2019-10-20 21:21] somenath1435 commented on #284
@jywarren @Rishabh570 can I work on this issue??

[2019-10-26 17:23] skathuria29 commented on #197
Hi! Is this issue still up for grabs? I would like to work on it.

[2019-10-28 06:55] dominnovak commented on #265
![67222267-3ddb5200-f42d-11e9-8895-c02aab63446b](https://user-images.githubusercontent.com/55869577/67657815-24b83100-f958-11e9-8ae2-72f208f7f504.gif)
Hey here is a gif. Thank you

[2019-11-08 19:42] Tanish0019 commented on #282
@jywarren can I work on this?

[2019-11-13 13:24] ovpv commented on #274
is this issue claimed? can I try this?

[2019-11-13 13:25] arnoschutijzer commented on #274
sure, go for it!

[2019-11-13 16:11] Rishabh570 commented on #282
Yes, sure @Tanish0019...you can go ahead. Currently, all the stale issues fetched are stored in a single object for all of the repositories (you can see [here](https://github.com/publiclab/community-toolbox/blob/main/src/utils/staleIssuesUtil.js#L53)).

The workflow for storing data for a particular repository follows a certain code style. `Keys` in the database are named after the repo it contain

[2019-11-13 16:17] Rishabh570 commented on #265
Wow, looks awesome @dominnovak :smiley:
Can you please enhance the "Empty App Cache" button styles and placement. I think its all set after that.

Thanks!!!

[2019-11-13 16:24] Rishabh570 commented on #261
Hi all :raised_hand_with_fingers_splayed:,
@vivianedias if you're not working on this, others can consider taking this up. Or, If you're stuck, please feel free to reach out/comment here :+1:

Thanks!

[2019-11-14 07:32] ovpv commented on #274
Hello @arnoschutijzer @debck ,

I believe to have fixed all the linting errors as per the ESlint standard rules, but when i do npm run test, 3 tests are failing. Please guide me forward.

[code]

[2019-11-14 12:27] ovpv commented on #274
@debck @Rishabh570 , Please review my PR and let me know if any more changes are needed.

[2019-11-16 05:54] Rishabh570 commented on #284
@somenath1435  Yeah, sure. You can work on it if you'd like to contribute.

So, [this](https://github.com/publiclab/community-toolbox/blob/main/src/utils/contribsUtil/fetchRepoContribs.js#L24) file fetches contributors of a particular repository, the catch block throws the error which goes to [fetchRepoContribsUtil.js](https://github.com/publiclab/community-toolbox/blob/main/src/utils/contribsUtil

[2019-11-28 21:04] dominnovak commented on #265
Hey @Rishabh570 , I did some changes. Hope you will like it! 😃

[2019-11-29 22:28] govindgoel opened #294 "Issue with scrollbar in community-toolbox page"
On community-toolbox page |https://code.publiclab.org| when we hover cursor over the stale issues text area the scrollbar slides automatically downwards.

The dropdown should not scroll automatically.

 Username: govindgoel

Chrome[Version 76.0.3809.100 (64-bit)] and Brave Browser[Version 0.69.132 Chromium: 77.0.3865.90  (64-bit)] , OS - Ubuntu

****
<img src = "https://raw.githubusercontent.com/g

[2019-11-29 22:35] govindgoel commented on #294
@jywarren  Can you give suggestion on this issue

[2019-11-30 11:56] govindgoel commented on #294
I got this in the script scroll overflow is used if the content exceeds a certain height.

[2019-11-30 11:56] #294 closed

[2019-11-30 22:53] somenath1435 commented on #284
@Rishabh570 How can I communicate with you? I can't find you in gitter

[2019-12-05 20:09] somenath1435 opened #297 "Javascript Code enhancement"
### Please describe the problem (or idea)

Currently, the codebase has used the keyword 'var' which is outdated. I intend to replace those with 'let' and 'const' which are JS standard now.

### Please show us where to look

https://code.publiclab.org/ ...

### What's your PublicLab.org username?

Browser:Chrome
OS: Ubuntu

### Browser, version, and operating system

## Thank you!

Your help makes

[2019-12-08 19:36] somenath1435 opened #299 "UI issue"
### Please describe the problem (or idea)

Please check PR for images regarding UI issue

### Browser, version, and operating system
OS: Ubuntu 16
Browser: Google Chrome

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be resolved, see:

https://

[2019-12-08 20:27] somenath1435 opened #301 "Make "Back To Top" button sticky"
### Please describe the problem (or idea)

Currently, the back to top button is only placed at bottom of webpage, which is supposed to be sticky in nature.

### Browser, version, and operating system
OS: Ubuntu 16
Browser: Google Chrome

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issu

[2019-12-30 15:20] DevanshCodes commented on #282
Hey, if its still open, can I work on this?

[2019-12-31 08:56] DevanshCodes commented on #282
Where can I pm you?

[2020-01-03 09:28] DevanshCodes commented on #282
Hey @jywarren @Rishabh570 Can you please review the PR? I saved the stale issues belonging to different repos in different buckets, based on the repo name.

[2020-01-03 17:30] jywarren commented on #282
Hi, I'm sorry, can you link us to the PR? I don't see which you're working on. Thank you!!

[2020-01-04 10:08] DevanshCodes commented on #282
Hey, here is the PR: https://github.com/publiclab/community-toolbox/pull/306

Thanks!

[2020-01-06 15:52] #299 closed

[2020-01-06 15:52] Rishabh570 commented on #299
@somenath1435 Thanks for reporting the issue. :+1:

[2020-01-06 18:15] cesswairimu opened #308 "Weekly community Check-In #43 - Exciting Moments at PL"
Happy new year everyone :tada: :tada: 👋

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the

[2020-01-06 18:17] cesswairimu commented on #308
@dmahajan980, @bryceparkman, @dependabot-preview[bot], @nicoleiocana, @0dim, @Uzay-G, @nstjean, @AnshitaVishwa, @tsparksh, @sharmamansi, @polygonart6777, @anthony-zhou, @cesswairimu, @chen-robert, @leesgrey, @smarty1palak, @VladimirMikulic, @nfarve, @jywarren, @chanchalsaini, @johnaceto, @gireeshcse, @lisaschumann, @shashwataggarwal, @yeo-yeo, @gabrielrumiranda, @mikepetridisz, @GarvinH, @Ugtan, @

[2020-01-06 18:18] cesswairimu commented on #308
@Rishabh570 @sashadev-sky @IshaGupta18 @vaibhavmatta @shubhscoder @aSquare14 @sidntrivedi012 @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1 @rexagod, @divyabaid16, @dinaelhanan, @oorjitchowdhary @publiclab/mentors @publicl

[2020-01-06 20:21] nstjean commented on #308
Hello all! Welcome to the new year!!

I am working on getting some pull requests merged (having some testing challenges!) for the /map/ page. I'll need to add some tests for the map at /post/ and then I'm working on getting markers and popups on /map/.

I've been excited a lot lately because I just really love doing full-stack coding again. :heart: And it has been really really nice to work with o

[2020-01-06 20:32] jywarren commented on #308
You two are doing amazingly well! 🎉

Thanks for opening this up Cess! I'll share an excitement from a few years ago that I've already shared, but it never gets old! It was the moment the first person wrote back to a `first-timers-only` issue that I made! It happened within just a couple hours and i was like WHOA, THIS WORKS!?

[2020-01-06 20:47] Uzay-G commented on #308
That's hilarious :smile:. I hope one day I can also welcome other new contributors!
I have been working on a few complicated oauth issues with the useful help of @SidharthBansal through https://github.com/publiclab/plots2/pulls/7113 and  https://github.com/publiclab/plots2/pulls/7072. I'm also trying to understand how we can make codecov function better and I am discussing with @jywarren on how we

[2020-01-06 21:53] nstjean commented on #308
@Uzay-G You've been doing great work!

[2020-01-07 21:28] emilyashley commented on #308
Hi, I'm Emily. Exciting moments at Public Lab? I'd definitely have to say joining the team as full stack developer -- yesterday was my first day 🎉 Also un-related to code, a while ago in 2015 I participated in an aerial mapping of Bayou Bienvenue here in New Orleans with a kite and that was awesome!

[2020-01-08 10:56] cesswairimu commented on #308
One of the exciting moments at PublicLab has to be the first open call..meeting everyone on open call and putting a voice to the github names was an exciting moment also helping out new contributors get started on the projects is always an exciting moment for me

[2020-01-08 14:12] nstjean commented on #308
Welcome @emilyashley !!

[2020-01-08 19:33] nstjean opened #310 "Invert button isn't making a dark background"
I noticed that the invert button is causing some weird issues in my browser. The background is being set to black, and then the body is being inverted, which changes it back to white.

![FireShot Capture 198 - Community toolbox - code publiclab org](https://user-images.githubusercontent.com/49460529/72009278-913a9080-3223-11ea-8601-07031ac29c6e.png)

This can be fixed by applying the `filter:inver

[2020-01-09 11:11] somenath1435 commented on #310
@nstjean Can I take up the issue?

[2020-01-09 14:01] nstjean commented on #310
@somenath1435 Go ahead!

[2020-01-10 06:28] crisner commented on #308
One of the exciting moments I had recently at PublicLab was fixing a build error. We had updated LEL which had changes to file path that had been referenced in the plots2 repo and had missed updating one of the files that still referenced the old path. I had to combine commits from two unmerged pull requests, which I had never done before and didn't even know was possible, and I had to figure out

[2020-01-10 11:46] VladimirMikulic commented on #308
Wow, good job @crisner :+1:

[2020-01-10 16:33] DevanshCodes commented on #282
Hey, Sorry for the Delay I opened a new PR, I was having trouble committing on the old PR, the new PR is here: https://github.com/publiclab/community-toolbox/pull/314 , Can you please review it, I have written all the tests and the tests are running fine as they should.

[2020-01-10 17:07] somenath1435 commented on #310
@nstjean As per the latest codebase in "main" branch, the issue is not there(Atleast in my system). Please check.

[2020-01-10 18:30] nstjean commented on #310
Ahhh, I see! That's interesting, as it seems to behave differently on the server than it does in local even though it's the same code. Could you investigate a little bit? It appears to have to do with the margin of the `body` tag.

[2020-01-10 19:42] somenath1435 commented on #299
@Rishabh570 you are welcome. Can you suggest how can I contact you?(FB/whatsapp/insta)

[2020-01-12 00:49] skilfullycurled commented on #308
Hey everyone, I want to introduce @shipcy and @sunguru98 who each completed an FTO on two related features (#6962 and #7109 respectively) and had those features merged (#7137 and #7128)!

@shipcy and @sunguru98, please introduce yourselves.  Well, in the case of @shipcy, it's actually a re-introduction because they introduced themselves the day before the new check-in so no one saw it.  Sorry to m

[2020-01-12 01:32] skilfullycurled commented on #308
Oh, ha!  I didn't realize that this week's question was about exciting moments!  Well, it was very exciting for me to see @shipcy and @sunguru98's issues be merged.  However, my most exciting moment is probably when I had my first PR request merged.  So exciting it was, that I procrastinated completing the project by creating this gif about it.  It made into into my project presentation so I guess

[2020-01-12 04:18] sunguru98 commented on #308
Thank you sooooo much for the warm welcome and for accepting me as a part of your community. I usually have this thought of getting judged in OSCs. But they were completely untrue here. Firstly I am a MERN stack developer/Instructor from Coimbatore//India who teaches and builds eCommerce and single-page applications for a living. I have started this dev journey from 2017. 3 years and still going s

[2020-01-12 04:20] sunguru98 commented on #310
If it's still incomplete means, may I take it please?

[2020-01-12 06:05] shipcy commented on #308
Thank you so much for helping me @skilfullycurled. You are a wonderful person who is always ready to help.
And I would like to thank @nstjean and @jywarren as well. These people also helped me a lot. I thought earlier that people here in open source are not so helpful and no one will guide me because of this, I had not yet contributed. But I was wrong.

I'm currently a junior pursuing Computer Sci

[2020-01-13 03:32] jywarren opened #315 "Specify timeframe for FTO authors"
I LOVE seeing the recent FTO authors listed here!

![image](https://user-images.githubusercontent.com/24359/72231814-5f129100-358b-11ea-8c59-0a0a6670f342.png)

However, we need to specify for what range of time this is displaying. Would anyone like to work on that? Is it a week?

[2020-01-13 10:45] developer22-university commented on #315
I think 3-4 days , because most of the  FTO  issue can be solved easily if one contact with the mentors, contributors and because they are made to just overcome the fear of making PR.  and help to make them easily.

[2020-01-13 10:47] developer22-university commented on #315
@VladimirMikuli4_twitter  what do you say

[2020-01-13 14:17] nstjean commented on #310
Hi @sunguru98 , @somenath1435 was investigating this issue.

[2020-01-13 14:41] somenath1435 commented on #310
@sunguru98 you can take this issue

[2020-01-13 18:30] cesswairimu commented on #308
Moved to https://github.com/publiclab/mapknitter/issues/1199#issuecomment-573803389 Thanks everyone

[2020-01-13 18:30] #308 closed

[2020-01-13 22:29] jywarren commented on #308
Thanks all for introducing yourself and for the wonderful collaboration! ❤️

[2020-01-16 09:32] aashimgarg commented on #310
i want to take this issue!

[2020-01-16 09:45] aashimgarg commented on #301
i didnt find back to top button in index.html

[2020-01-16 09:54] aashimgarg opened #316 "Select repository button does not contain anything!"
While clicking on the select repository button it does not select anything as it does not contain anything.

[2020-01-16 09:58] aashimgarg commented on #301
ah! i got it is in the Public Lab Issues link!

[2020-01-16 09:58] aashimgarg commented on #301
I will work on this issue

[2020-01-16 10:46] somenath1435 commented on #301
@aashimgarg PR is already open for this issue

[2020-01-16 13:00] sunguru98 commented on #310
@aashimgarg The stage is yours.

[2020-01-16 15:11] DevanshCodes commented on #316
Select repository button is working on the website and the data except stale issues are changing i.e. contributors, recent contributors. Stale issues is not working because stale issues were not grouped according to the Repositories.

[2020-01-18 23:00] somenath1435 commented on #301
PR is already open for this issue

[2020-01-19 09:38] aashimgarg commented on #310
i think some of your npm dependencies are not installed.

[2020-01-19 10:09] aashimgarg opened #318 "Stale issues list is not displaying anything"
Stale issues list does not contain anything. It is just showing an empty list.

[2020-01-20 11:30] aashimgarg opened #319 "Adding a NAVBAR for various purposes for the webpage."
Add the navbar at the top of the page.
Make it responsive.
Add various things in the navbar.
Make it sticky.

[2020-01-20 16:36] #282 closed

[2020-01-20 16:38] Rishabh570 commented on #318
@aashimgarg Can you please attach the snapshot of the error from the developer console, would be a huge help in tracking down the issue.

Thanks!!!

[2020-01-20 16:45] Rishabh570 commented on #315
The [logic](https://github.com/publiclab/community-toolbox/blob/main/examples/demo.js#L95) of fetching FTO authors is present in `examples/demo.js`. [DisplayIssuesAndFtoAuthors](https://github.com/publiclab/community-toolbox/blob/main/examples/demo.js#L86) function is actually responsible for fetching (fto and candidate) issues for repos and that result is filtered to generate the list of FTO auth

[2020-01-20 19:21] aashimgarg commented on #319
Hey @Rishabh570 and @jywarren do you think i should work on this issue and you guys wants this on your webpage.

[2020-01-20 19:22] aashimgarg commented on #318
![Screenshot from 2020-01-21 00-52-21](https://user-images.githubusercontent.com/55639487/72752490-4f78f500-3be8-11ea-9e52-4fb66f33ba8a.png)

[2020-01-21 13:54] aashimgarg commented on #319
Please suggest.

[2020-01-21 19:36] DevanshCodes opened #320 "Contributors section's Hyperlinks not working correctly"
### Please describe the problem (or idea)

User should be able to visit the profile of the contributor, by clicking on avatar or username.

### Please show us where to look

![ezgif com-video-to-gif (2)](https://user-images.githubusercontent.com/48180687/72836840-62a4c700-3cb3-11ea-95cd-993e3994b528.gif)

https://code.publiclab.org/ ...

****

## Thank you!

Your help makes Public Lab better! We *

[2020-01-21 19:58] DevanshCodes commented on #320
Issue has been fixed. Here's the PR: https://github.com/publiclab/community-toolbox/pull/321

![ezgif com-optimize](https://user-images.githubusercontent.com/48180687/72838512-6ab23600-3cb6-11ea-8d5d-2a25643d0a3c.gif)

[2020-01-22 18:53] imajit opened #323 "Add all repositories feature to Community toolbox dropdown"
The current dropdown in [Community Toolbo](https://code.publiclab.org/) is useful in filtering issues based on repository but there is no option to reset to all repositories.
![Screenshot from 2020-01-23 00-11-52](https://user-images.githubusercontent.com/38528640/72924077-4322a280-3d76-11ea-987f-b69a73fd87c1.png)
So along with the repositories it would be great to have an option to view issues of

[2020-01-23 08:36] #297 closed

[2020-01-25 07:01] govindgoel opened #326 "Not displaying repo,stale issues when running on local system"
### Please describe the problem (or idea)
When trying to run the toolbox on the system getting every field as empty

It should list the repos.

### Please show us where to look

https://code.publiclab.org/

I
![ ](https://media.giphy.com/media/dunwzCH5kYTd8M3pfj/giphy.gif )

### Browser, version, and operating system
Brave Browser Version 1.1.21 Chromium: 79.0.3945.79 (Official Build) (64-bit)
Fir

[2020-01-25 10:28] govindgoel commented on #323
@imajit  |https://code.publiclab.org/#r=all| If you navigate to this link you will get all repositories although    it list all the repositories.

[2020-01-25 10:30] govindgoel commented on #326
@Rishabh570  Please tell me what to do??

[2020-01-25 13:40] govindgoel opened #328 "Fork me on github ribbon abruptly moving"
### Please describe the problem (or idea)
Fork me on github  abruptly moving when changing the repository from dropdown.

The tag should not move.

### Please show us where to look

https://code.publiclab.org

### What's your PublicLab.org username?

### Browser, version, and operating system
Brave Browser Version 1.1.21 Chromium: 79.0.3945.79 (Official Build) (64-bit)
Firefox Version 71.0 (64-bit

[2020-01-25 13:41] govindgoel commented on #328
I will try to work on this.

[2020-01-26 05:49] govindgoel commented on #328
@Rishabh570  Please look into this

[2020-01-27 07:17] cesswairimu commented on #326
Hi @Rishabh570 , do you mean the stale issues, fto authors and such?

[2020-01-27 09:51] DevanshCodes commented on #326
Can send the screenshot of the error which is logging in the console?

[2020-01-27 11:18] govindgoel commented on #326
@DevanshCodes  I have included the GIF of the issue I am facing at least it should fetch the repositories

[2020-02-02 10:29] DevanshCodes opened #330 "Website requires too much scrolling"
Currently the community-toolbox requires a lot of scrolling for the user to do, while reaching the bottom of the page. Navigation is also not much clear. Like the UX of the website can be made better.

Scrolling can be reduced if we fix the height of each containers like 'first timers only issues' and then add  scrolling in them, thereby reducing the overall website length.

![pub123](https://user

[2020-02-03 16:09] SidharthBansal commented on #330
Great. Go for it

[2020-02-04 06:24] govindgoel opened #331 "Not displaying github username while hovering over avatar in Recent Contributors section"
### Please describe the problem (or idea)

It should show the github username while hovering over recent contributors list

### Please show us where to look
https://code.publiclab.org/ ...

![ ](https://media.giphy.com/media/YR2oNZKIRfg9kRCsdi/giphy.gif)

### Browser, version, and operating system
Brave Browser Version 1.1.21 Chromium: 79.0.3945.79 (Official Build) (64-bit)
Firefox Browser Version

[2020-02-04 06:24] govindgoel commented on #331
I will work on this

[2020-02-04 14:12] govindgoel commented on #331
I have fixed the issue On which branch I should make a pr.

[2020-02-04 14:46] govindgoel commented on #326
Solved!

[2020-02-04 14:46] #326 closed

[2020-02-04 17:10] Rishabh570 commented on #331
Hi @govindgoel, You can work on a new branch and open the PR against "main" branch.
Thanks!

[2020-02-04 17:14] Rishabh570 commented on #328
@govindgoel Go ahead and open up a PR for this. Thanks :+1:

[2020-02-04 17:20] Rishabh570 commented on #323
Yes, there's no "all" option in the dropdown list as of now, the reason being, the contents of the dropdown are set dynamically which are sourced from the DB. It is a good thing to work on though.
`/utils/navDropdown.js` would be the right place to do the modification I guess.

Thanks for creating this issue @imajit :+1:.

[2020-02-04 17:21] #320 closed

[2020-02-04 19:16] DevanshCodes commented on #331
Hey @govindgoel @Rishabh570 I fixed the exact same issue and my PR got merged. Here's the link: https://github.com/publiclab/community-toolbox/pull/329. Thanks :)

[2020-02-04 19:18] DevanshCodes commented on #330
Cool! I am working on it.  :)

[2020-02-05 15:01] govindgoel commented on #331
Hi @DevanshCodes  You can check the live[ website](https://code.publiclab.org) over the recent contributors section and have a look at the issue or in the above GIF.

[2020-02-06 18:45] imajit commented on #323
Hey ! Can I work on this issue ?

[2020-02-07 10:16] govindgoel commented on #331
@DevanshCodes @Rishabh570  When i build after doing changes in src folder using grunt build it is showing so many changes although I changed only one line.What should I do.

[2020-02-07 10:21] govindgoel commented on #331
May I send changes in the PR in recentContributorsUI.js only.

[2020-02-07 12:49] Rishabh570 commented on #331
Hi @govindgoel, it seems like the issue is already fixed in @DevanshCodes's PR. The changes are not pushed to the live version yet that's why you are seeing that issue. Sorry, I was not aware. Thanks for reporting the issue though :+1:

I think this issue should be closed now.

[2020-02-07 13:03] govindgoel commented on #331
@Rishabh570  But he has not changed for the recent contributors section in his patch It will still not show the github username while hovering over avatar in that section.

[2020-02-07 19:51] subhahu123 opened #333 "Move to Angular Framework (MVC) (Suggestion for GSOC)"
### Please describe the problem (or idea)

### Please show us where to look

https://code.publiclab.org/ ...

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be

[2020-02-07 19:59] subhahu123 commented on #333
@jywarren  @SidharthBansal  @ebarry  Please review this
I want to apply in GSOC again this year also, last time i haven't got that chance

[2020-02-07 20:16] VladimirMikulic commented on #333
Could you please elaborate more on this topic? Why would you prefer Angular over React for this app? What are the advantages that Angular has and that will benefit this project? Thanks.

[2020-02-08 11:28] #328 closed

[2020-02-08 15:49] govindgoel opened #334 "Align the text the centre in footer"
### Please describe the problem (or idea)

Align the text in footer(Page powered by... ) in centre

![fix](https://user-images.githubusercontent.com/52847415/74088105-a9b6f880-4ab8-11ea-9226-db73594cc9bb.png)

### Please show us where to look

https://code.publiclab.org/

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn h

[2020-02-08 15:53] DevanshCodes commented on #334
You can try forking the main branch, issue has been fixed and is not there.

[2020-02-08 16:09] govindgoel commented on #334
@DevanshCodes  Did that but not showing in my localhost server

[2020-02-08 16:13] #334 closed

[2020-02-09 08:58] govindgoel opened #335 "Add giiter or IRC chat link in connect with us section"
### Please describe the problem (or idea)
Introduce Gitter or IRC chat along other connect with us platforms
## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be resolved, see:

https://publiclab.org/wiki/developers#Contributing+for+non-coders

[2020-02-09 08:59] govindgoel commented on #335
@Rishabh570  What do you think?

[2020-02-09 10:48] govindgoel commented on #323
@Rishabh570  @imajit  I fixed the issue can i open a PR for this.

[2020-02-09 11:21] DevanshCodes commented on #330
Here's the PR: https://github.com/publiclab/community-toolbox/pull/336, @SidharthBansal @Rishabh570 . :)

[2020-02-10 09:22] govindgoel opened #337 "Add a language section above first-timers only issue"
### Please describe the idea:
It would be great if we can add a section that fetches what are the languages used in that repository.It would be great as it will give a idea to newcomers on which project they should contribute  ,and   `github-api-simple` has api for this purpose also
Something like this
![enhance](https://user-images.githubusercontent.com/52847415/74136764-adf82880-4c14-11ea-8e21-3

[2020-02-11 05:04] Rishabh570 commented on #331
Oh, yes it doesn't have the `title` attr. Is there any PR of yours regarding this, we would love to fix this.

[2020-02-11 05:10] #330 closed

[2020-02-11 05:11] Rishabh570 commented on #323
@govindgoel Please go ahead!

[2020-02-11 14:14] #323 closed

[2020-02-11 15:04] DevanshCodes opened #339 "Adding Side-Navbar for better usability"
Adding side-nav bar will enhance the usability of the website and user can easily jump through sections quickly.

Please suggest any changes or addition, I'll be adding on scroll animation though.

![sidenav1](https://user-images.githubusercontent.com/48180687/74248539-bed89500-4d0d-11ea-816c-282d5ae8e98c.gif)

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping r

[2020-02-12 08:05] DevanshCodes commented on #339
@Rishabh570 @jywarren What do you think about this, should I open a PR?

[2020-02-12 08:10] DevanshCodes commented on #261
I want to take this issue! Can I work on this?

[2020-02-14 12:29] govindgoel commented on #316
Since the issue has been fixed and things are working fine so it can be closed.If you still face the issues try fetching the changes and rebasing it.

[2020-02-14 12:29] #316 closed

[2020-02-14 13:07] govindgoel opened #341 "Changing the repository from dropdown in night mode leads back to day mode"
### Please describe the problem (or idea)

Issue with the night mode

Changing the repository in night mode leads back to day mode and then after a while changes back to night mode

### Please show us where to look

https://code.publiclab.org/ ...

![ ](https://media.giphy.com/media/UsGR94c3wXBM3Uvgc0/giphy.gif)

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping

[2020-02-16 08:49] govindgoel commented on #318
@aashimgarg As the issue has been fixed so it can be closed I guess.

[2020-02-16 15:36] #331 closed

[2020-02-17 05:38] DevanshCodes commented on #339
@cesswairimu @debck @Uzay-G ?

[2020-02-17 10:04] Uzay-G commented on #339
I think it's a good idea and it would indeed make the page easier to scroll. What do you think @jywarren?

[2020-02-20 10:17] DevanshCodes commented on #339
Here's the PR: https://github.com/publiclab/community-toolbox/pull/343

[2020-02-25 19:24] cesswairimu commented on #339
I also would like to hear @Rishabh570 thoughts on this. Thanks

[2020-02-25 19:27] #335 closed

[2020-02-26 17:00] Rishabh570 commented on #281
Hi @jywarren, I was wondering how we can go about adding GitLab support. One thing I noticed is, GitLab's API response objects are different than what GitHub offers and also we're currently using `github-api-simple` which is just for GitHub...we can reuse the request destination easily with a config but how we're going to handle different kinds of response objects that GitHub and GitLab send. Seem

[2020-08-17 11:39] cesswairimu opened #386 "Weekly Community Check-In #72 - Outreachy Wrap up"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2020-08-17 13:47] ebarry commented on #386
Thanks @cesswairimu ! Let's book Summer of Code presentations for Wednesday September 9 at at 8:30pm India Standard Time / 8AM Pacific US West Coast -- see https://everytimezone.com/?t=5f557800,384 for more time zones.

[2020-08-17 15:10] Tlazypanda commented on #386
Hey everyone! :wave: I am still wrapping my head around that we are actually at the end of our internships these 3 months have passed so fast realization kicking in xD

Thanks to all the mentors,community members and everyone for this amazing experience and always helping us push beyond boundaries and challenging us with new and exciting things :fire: @jywarren @cesswairimu @icarito  @ebarry @saga

[2020-08-17 22:33] VladimirMikulic commented on #386
@Tlazypanda, @shreyaa-sharmaa, @Shulammite-Aso, @NitinBhasneria, @keshavsethi you all did an amazing job during these 3 months. It's really nice to see the results of your hard work. I truly wish you the best in your future career and your future endeavours! Also, big congratulations to the fellow mentors/reviewers :)

[2020-08-18 07:26] cesswairimu commented on #386
@jywarren, @AgyeyaMishra, @Jolios, @cesswairimu, @samarakoon-ryan, @Samasth, @malaikaaiyar, @keshavsethi, @OmLakshmi, @nsachin08, @dependabot-preview[bot], @Tlazypanda, @galanggg, @ishika1727, @icarito, @RajatSablok, @mronauli, @ijeomaemeruwa, @alaxalves, @Shulammite-Aso, @JapneetSingh5, @Neilblaze, @markkulube, @vinuch @JapneetSingh5, @Neilblaze, @markkulube, @vinuch, @Tlazypanda, @icarito, @depe

[2020-08-18 14:25] jywarren commented on #386
Hello all, and a mighty congratulations to you all!

I'm going to be going through as many steps as possible today to merge and publish your latest work. I'm extraordinarily proud of what we've been able to do together this summer. Great work, thank you to our Outreachy team as well as our mentors and everyone who pitched in! 🎉 🎉 🔥 🔥 🔥

[2020-08-18 17:47] sagarpreet-chadha commented on #386
Hi all,
Huge shoutout to @jywarren for reviewing and merging all the PR's today, he is really a 10x programmer 💯

Also @shreyaa-sharmaa , @Shulammite-Aso and @Tlazypanda great work on your respective projects 🎉
I enjoyed working with you all 😄
Very excited to see your presentations in next month's open call (as mentioned by @ebarry ).

@publiclab/editor team congrats on releasing another major ver

[2020-08-18 17:52] sagarpreet-chadha commented on #386
Also are there any PR's up for review? You can tag me to your PR's if you want an in-depth review 😄

cc @publiclab/editor

[2020-08-18 22:04] keshavsethi commented on #386
Hey everyone 👋🏻
I have made documentation of spam2 🚀  where I mentioned all the features in detail. https://publiclab.org/notes/keshav_sethi0004/08-18-2020/spam-management-dashboard-documentation
@ebarry @jywarren @cesswairimu @VladimirMikulic @pydevsg and others please review and give suggestions. 🙏🏻
Last week I worked on the insight section of spam2 https://github.com/publiclab/plots2/pull/8289.

[2020-08-21 01:52] Tlazypanda commented on #386
Hey @keshavsethi the docs look great!! The design is beautiful and you have laid out info on all the features too :tada:

[2020-08-23 19:56] cesswairimu commented on #386
Thanks @Tlazypanda  for constantly brain storming with me new check-ins, and opening numerous check-ins throughout the summer. The work you have done to optimize the system and you are still doing is amazing and for opening so many ftos  :tada: Fantastic job the editor team huge releases, You solved a lot of bugs :tada:  :tada:  and and also really love your work integration testing :tada:  @Shula

[2020-08-23 20:00] cesswairimu commented on #386
Anyone willing to open next week's check-in?

[2020-08-23 20:09] Shulammite-Aso commented on #386
Let me do this @cesswairimu 😃

[2020-08-23 20:31] cesswairimu commented on #386
Fantastic @Shulammite-Aso 🎉🎉 Thanks

[2020-08-24 08:30] Shulammite-Aso commented on #386
Hi @cesswairimu here is the new check-in https://github.com/publiclab/spectral-workbench/issues/541 , please add the label and everybody 😄

[2020-08-24 09:30] cesswairimu commented on #386
Will do thanks @Shulammite-Aso,

Moved to  publiclab/spectral-workbench#541. Thanks everyone

[2020-08-24 09:30] #386 closed

[2020-09-25 01:46] Faizan-Alam-1 commented on #69
Is This issue solved?

[2020-09-27 13:49] gauravano commented on #69
Fair point @Rishabh570 as installation steps would be similar for Ubuntu and Mac OS too (assumes npm, and Git are already installed).

@jywarren if you also believe the same, this issue can be closed. Also, the video guide is already present at https://github.com/publiclab/community-toolbox/blob/main/docs/getting_started.md#installation-instructions--watch-video-guide-

Thank you for showing inter

[2020-10-01 19:37] pydevsg commented on #301
@somenath1435 I think this issue isn't fixed yet, I would like to take this issue and fix it.

[2020-10-02 16:59] sahajkedia commented on #218
Hi there, I would like to make a pull request for this.

[2020-10-03 11:55] joshuiaclan commented on #341
Hi Can I work on this?

[2020-10-08 17:05] grvsachdeva opened #395 "Add Public Lab dependency chart in community toolbox"
### Please describe the problem (or idea)

This issue is a continuation of https://github.com/publiclab/plots2/issues/4880 where the Dependency chart is created by @jywarren. Here is a comment. highlighting the chart - https://github.com/publiclab/plots2/issues/4880#issuecomment-495932257

## What you can do?

Coordinate with reviewers and place the image at an appropriate place in https://code.pu

[2020-10-08 17:09] gauravano commented on #395
Reviewers: @ebarry @cesswairimu @jywarren @sagarpreet-chadha

[2020-10-08 17:24] ebarry commented on #395
Yes this looks perfect, pending @jywarren 's confirmation of this diagram being current. 🌈

[2020-10-09 02:15] jywarren commented on #395
Yep, thanks!!

[2020-10-27 16:31] jywarren opened #403 "Allow list of exceptions to not display in recent contributors"
We often name recent contributors in our community weekly check-ins - https://github.com/publiclab/PublicLab.Editor/issues/634

And this list of ppl often comes from copy-pasting from our **Recent contributors** listing on https://code.publiclab.org -

![image](https://user-images.githubusercontent.com/24359/97331959-522c0900-1850-11eb-9c13-ccdd629f41d8.png)

However, some people ask not to be nam

[2020-11-08 12:39] Suiiyush commented on #319
If no one is currently working o this issue can i work on it, I plant to add a fully responsive nav bar with logo. It will be sticky too

[2020-11-10 14:03] Suiiyush commented on #395
can I work on this issue if it's up for grabs

[2020-11-10 19:17] pydevsg commented on #395
@Suiiyush go ahead 😃

[2020-11-10 19:24] pydevsg commented on #403
Looks good to me @jywarren, but how do we ensure which user is to be selectable and which not?

[2020-11-12 16:26] Suiiyush commented on #395
@sagarpreet-chadha  @jywarren  @cesswairimu  @ebarry        I checked the website where the image needs to be placed and I think it should be placed above the "first-timers-only issues" section, however if there's a more suitable location then please point me to it.

[2020-12-16 14:58] akanksha-v commented on #403
If this issue is still there to work then I would like to work upon this.
@jywarren please could you elaborate on how shall we get to know which users are not to be selected?

[2020-12-16 17:53] akanksha-v commented on #337
@govindgoel May I work upon this?
And also, do we need to show languages for every repo of publiclab or just community toolbox?

[2020-12-16 17:58] jywarren commented on #403
@pydevsg sorry for slow reply - i think we would need to maintain a listing of people who've opted out, in our codebase.

@akanksha-v we'd love help! I wonder if maybe another issue might be better as a first issue? Maybe one of these? https://github.com/publiclab/community-toolbox/labels/first-timers-only

What do you think?

[2020-12-16 18:05] jywarren commented on #218
Hi all, my apologies for not seeing peoples' inquiries. We would love help with this so if you would like to, please just begin by saying "i'd like to work on this" and then you can go ahead and open a pull request and link to it from here! Thank you very much!

[2020-12-16 18:09] akanksha-v commented on #403
@jywarren I saw those issues first but actually when I looked into the codebase then, some were already solved, and also directory structure is different as these were really old issues.
Could you please help me?

[2020-12-16 18:14] first-timers[bot] opened #411 "restyle missing avatar images as grey circles"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2020-12-16 18:16] jywarren commented on #403
ah for sure, actually if there are ones which are out of date, i would love
to close them. Can you leave a comment accordingly on them and we can clear
them out? that would be so helpful!

Yes, I just made you a new one here!
https://github.com/publiclab/community-toolbox/issues/411

On Wed, Dec 16, 2020 at 1:09 PM Akanksha Verma <notifications@github.com>
wrote:

[2020-12-16 18:21] akanksha-v commented on #403
Thank you so much @jywarren
And sure I shall write comments on all the issues which I found to be out of date

[2020-12-16 19:03] akanksha-v commented on #341
@govindgoel Is this issue resolved?
As I feel now website changes perfectly from dark to light mode and vice versa.

[2020-12-16 19:08] akanksha-v commented on #218
@jywarren I think this issue has been resolved as the above-mentioned function cannot be located inside src/scripts/community-toolbox.js. Please look into this!

[2020-12-17 11:37] govindgoel commented on #341
Yeah its resolved

[2020-12-17 11:37] #341 closed

[2020-12-17 11:49] govindgoel commented on #337
@akanksha-v  Yeah you can work on this, it would be better if we go for languages of each repo if you have some other sort of design from which is discussed do share.

[2020-12-18 13:42] Chandu-4444 commented on #411
Hey, Can I claim this issue?

[2020-12-18 18:00] akanksha-v commented on #233
@HarshKhandeparkar I believe this issue has been resolved as of now black and white images are displayed in night mode.

![night-mode](https://user-images.githubusercontent.com/59011370/102645717-eb103e00-4188-11eb-9f68-d771b3171614.png)

[2020-12-18 18:04] akanksha-v commented on #223
@jywarren I think we can close this issue as it's been resolved.

![permalinks](https://user-images.githubusercontent.com/59011370/102646155-9620f780-4189-11eb-8ff0-172295079f9e.png)

[2020-12-18 18:12] akanksha-v commented on #411
@Chandu-4444 I already did a pr for that. I think you can go for other issues until it's rejected.

[2020-12-18 18:15] akanksha-v commented on #318
@aashimgarg @jywarren we can close this issue!

[2020-12-18 18:30] govindgoel commented on #318
Closing it as it has been fixed!

[2020-12-18 18:30] #318 closed

[2020-12-18 18:31] HarshKhandeparkar commented on #233
yaay!

![pika-wow](https://cdn.discordapp.com/emojis/754416439812816953.png?v=1)

[2020-12-18 20:02] akanksha-v commented on #233
Now we can close this issue @HarshKhandeparkar

[2020-12-19 03:24] HarshKhandeparkar commented on #233
I am not a maintainer here so Idk but it looks fine to me :)

[2020-12-19 21:01] jywarren commented on #223
Thank you! Grateful for the help!

[2020-12-19 21:01] #223 closed

[2020-12-19 21:04] #411 closed

[2020-12-19 21:41] jywarren commented on #218
Thank you!!! Much appreciated.

[2020-12-19 21:41] #218 closed

[2020-12-20 20:20] govindgoel opened #414 "add text to explain the time frame for the FTO authors section"
There is a need to add text to explain the time frame for the FTO Authors section

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be resolved, see:

https://publiclab.org/wiki/developers#Contributing+for+non-coders

[2020-12-20 20:21] govindgoel opened #415 "show FTO Authors usernames in a text list above the thumbnails"
Need to show FTO Authors usernames in a text list above the thumbnails, as followed in the other sections.
****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be resolved, see:

https://publiclab.org/wiki/developers#Contributing+for+non-coders

[2020-12-20 21:43] govindgoel commented on #414
@akanksha-v  you can work on this

[2020-12-21 06:28] akanksha-v commented on #414
Thank you @govindgoel  :)

[2020-12-21 17:01] #415 closed

[2020-12-22 17:07] jywarren commented on #414
Ah, @govindgoel you noted in the chatroom:

Does this just mean it lists for all time, right now? Why are there so few? Is it for all time but only open issues?

That's actually still quite useful. Maybe we need a way to view EITHER FTO authors from past time period (2 weeks?) AND alternatively for all currently open FTO issues? What do you both think, and have I understood properly? Thanks!!!

[2020-12-23 03:37] govindgoel commented on #414
Yeah it is for all time but filters out open issues then list the authors, so we can add a filter for the recent and past authors.